[2019-12-22 07:13] wojiuxuihuan commented on #165
I see, guess I have no choice but use return button instead…

There's a strange setting about Pico HeadSet, it doesn't stay connect to the controller which paired before, once HeadSet-Controller connection is lost, the HeadSet will connect the first controller which is active(long press the menu button on controller), so if you have two or more Devices, they may mess up.

[2019-12-23 01:55] chengnay commented on #165
@wojiuxuihuan Is the above symptom occur in your custom application? or even in HOME? Is it 100% fail rate if there are two or more devices?

[2020-01-14 03:40] #95 closed

[2020-01-14 03:50] dariol commented on #10
closing, already implemented a screen overlay version

[2020-01-14 03:50] #10 closed

[2020-01-14 03:51] dariol commented on #11
already available see teleportation sample

[2020-01-14 03:51] #11 closed

[2020-01-14 03:59] dariol commented on #42
This has been investigated, unfortunately VRTK's architecture isn't as flexible (as of 3.x) but apparently VRTK now can use Unity events like we have been all along, so there should be a way to share code in both directions, however each utility or toolkit (much like other multiplatform tools) tends to manage cross platform support by managing the platform sdks (or "modules" in VIU) via wrapping m

[2020-01-14 03:59] #42 closed

[2020-01-14 04:07] dariol commented on #166
Here's the official Unity way:
bool UnityEngine.XR.XRInputSubsystem.TryGetBoundaryPoints(Vector3[])

For Wave, this doesn't apply as the system doesn't store chaperone boundaries. Application would need to determine floor via user interaction and the playspace always starts with user in the center and the boundaries defined as 2m x 2m (will have more size options in future Wave updates)

[2020-01-14 04:07] #166 closed

[2020-01-14 07:01] chengnay commented on #118
@wirelessdreamer Does this issue still occur?

[2020-01-14 12:33] wirelessdreamer commented on #118
I no longer am targeting Wave SDK, so I don't know. feel free to close the issue.

[2020-01-19 17:00] faaarwards opened #167 "Devices not showing up in VIU"
I have a Vive Pro setup with 4 base stations and 8 trackers used for full body tracking. When many devices (>12) are active simultaneously, VIU fail to map all of them. To reproduce the problem:

1. Start SteamVR.
2. turn on 13 or more devices (e.g. HMD, 2 controllers, 2 basestations, 8+ trackers)
3. Start RoleBindingExample scene
Result: Only 12 devices are shown

Stop playing Unity scene. Put on

[2020-01-20 02:39] wangwenfeng0 opened #168 "Is the ViveInputUtility support VIVE Tracker without the HMD?"
I want to use the htc base station to locate the vive tracker without the HMD. How could I use the viveInputUtility to make it work?

[2020-02-03 02:04] chengnay commented on #168
@wangwenfeng0 I will need time to test this part, get back to you ASAP.

[2020-02-03 09:34] chengnay commented on #168
@wangwenfeng0 Currently, VIU does not support VIVE Tracker without HMD connected.
Even with the [SteamVR tweak](http://help.triadsemi.com/en/articles/836917-steamvr-tracking-without-an-hmd), tracker position is not recognized in Unity scene.
It might take some time to integrate this to VIU.

[2020-02-03 09:45] wangwenfeng0 commented on #168
Thank you for your reply. Please tell me if you have good news about the VIU.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"ChengNan Yang"<notifications@github.com&gt;;
发送时间:&nbsp;2020年2月3日(星期一) 下午5:34
收件人:&nbsp;"ViveSoftware/ViveInputUtility-Unity"<ViveInputUtility-Unity@noreply.github.com&gt;;
抄送:&nbsp;"王文锋"<1066395480@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&n

[2020-02-03 10:29] chengnay commented on #168
@wangwenfeng0 Sorry, I made a mistake.
Currently, VIU can detect VIVE Trackers without HMD connected.
By following the [SteamVR tweak](http://help.triadsemi.com/en/articles/836917-steamvr-tracking-without-an-hmd), you need to modify two default.vrsettings file and restart SteamVR.
In VIU example scene, you can see the tracker is moving in the scene.

[2020-02-03 10:36] wangwenfeng0 commented on #168
OK, I will try it later, thank you.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"ChengNan Yang"<notifications@github.com&gt;;
发送时间:&nbsp;2020年2月3日(星期一) 晚上6:29
收件人:&nbsp;"ViveSoftware/ViveInputUtility-Unity"<ViveInputUtility-Unity@noreply.github.com&gt;;
抄送:&nbsp;"王文锋"<1066395480@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [ViveSoftware/ViveInputUtility-Uni

[2020-02-04 02:22] chengnay commented on #167
@faaarwards I will get back to you when I am able to borrow that many devices and reproduce the issue. Sorry for the inconvenience.

[2020-02-04 08:09] chengnay commented on #167
@faaarwards In the RoleBindingExample scene, if you try to turn off 1 of the devices, will the one that is not shown in the scene re-appear again?
I just tried HMD, 2 controllers, 2 base stations, 8 trackers, and they all appear in the scene.
What is the Vive default scene?

Are you able to see all devices(13+) in compositor?

[2020-02-04 09:20] faaarwards commented on #167
@chengnay Thank you for looking into this! Here are some answers to your questions. Note, I am using Unity 2018.2.21. What version did you use in your tests?

A1: Yes, at least when restarting the scene (I can check if it also does so while playing later).
A2: It shows the same behaviour in all scenes where I try to use many devices.
A3: Yes, they are shown both in the GUI and in the HMD.

Some ad

[2020-02-04 10:32] chengnay commented on #167
@faaarwards Could you try connecting the last tracker device directly to PC by micro USB? Could you see the tracker after connecting?
I was trying with 9 trackers, 2 controllers, 2 base stations and 1 HMD, the last device(no matter it is tracker or controller) will always lost connection.

I just tested with Unity 2018.2.21f1.

[2020-02-11 02:56] chengnay commented on #167
@faaarwards Have you tried my latest suggestion?

[2020-03-24 17:44] alamboley opened #169 "Vive Focus Plus - error in any demo - Unity"
I use Wave SDK 3.1.6 and Unity 2019.2.21f1.

When running any samples, I've this error (I grab it from the Unity console with remote on):
[code]

If I change `for (int i = 0; i < eList.Count; i++)` to `for (int i = 0; i < eList?.Count; i++)` no more error, but I can't teleport for example anymore.

[2020-03-25 09:50] chengnay commented on #169
@alamboley May I know which sample scene you are referring to? Wave SDK or VIU?

[2020-03-25 09:53] alamboley commented on #169
Hi @chengnay thanks for the update. It's VIU samples scenes. Having Development Build and  Script Debugging ticked on, give me this error.

[2020-03-25 09:58] chengnay commented on #169
I just ticked both, and Teleport scene still works fine.
What else did I miss?

[2020-03-25 09:59] chengnay commented on #169
What else you have imported for your project?
VIU (latest version?)? Wave SDK?

[2020-03-25 10:01] alamboley commented on #169
Yes I use Wave SDK 3.1.6 and latest VIU release.

The scenes work fine: I can trigger / drag and drop / teleport, but they trigger this serror.

[2020-03-25 10:04] chengnay commented on #169
How can I do "I grab it from the Unity console with remote on"??

[2020-03-25 10:10] alamboley commented on #169
Does this help? I added Full Log (Developer Mode Only) in the option
<img width="2048" alt="Capture d’écran 2020-03-25 à 11 07 46" src="https://user-images.githubusercontent.com/687978/77525198-ed0ed000-6e88-11ea-8697-bec381fd04a8.png">

[2020-03-25 10:36] chengnay commented on #169
Could I clarify the reproduce steps,
1. Build apk with Development Build and Script Debugging ticked
2. Play apk on Focus plus
3. Play scene on Unity Editor
4. Error log will appear?

In step 3, will Unity ask for Android device?
I tested on Windows 10 PC, I couldn't connect with Focus plus.

[2020-03-25 10:49] alamboley commented on #169
1. Be sure Unity console is connected to HTC Vive Focus, you can change the target.
2. Build **and run** apk with Development Build and Script Debugging ticked.
3. After scene launch on focus and a basic interaction with the scene, remove the headset and check Unity console, you should have the error.

Notice that you don't need at all to play scene in Unity Editor, it may just remove any previous

[2020-03-26 03:39] chengnay commented on #169
@alamboley After cowork with WaveSDK RD, I will give you a temporary fix.
In WaveVR_ButtonList.cs,
line 83,
public List<EHmdButtons> HmdButtons = new List<EHmdButtons>();
line 88,
public List<EControllerButtons> DominantButtons = new List<EControllerButtons>();
line 93,
public List<EControllerButtons> NonDominantButtons = new List<EControllerButtons>();

Let me know if you still have issue, thanks

[2020-03-26 08:58] alamboley commented on #169
Thanks @chengnay for the code update. Now I don't have any errors but unfortunately teleport / trigger don't work anymore. Also I can't see when something is pressed/touched on the virtual controller.

[2020-03-26 09:14] chengnay commented on #169
I will check with WaveSDK RD and get back to you ASAP.

[2020-03-27 06:34] chengnay commented on #169
@alamboley Could you try not to use Unity remote?
WaveSDK RD will need more time to find the root cause.

[2020-03-27 09:01] alamboley commented on #169
Hi @chengnay I don't use Unity remote : it's just the Unity console which is in remote mode.

If I comment those lines, I've the same problem than previously: Now I don't have any errors but unfortunately teleport / trigger don't work anymore. Also I can't see when something is pressed/touched on the virtual controller.

[2020-03-27 09:17] chengnay commented on #169
It seems your result is different from mine, I can still teleport and trigger. Just I can't see when something is pressed/touched on the virtual controller.

I am still looking into this issue, please be patient, thanks!

[2020-03-30 09:02] chengnay commented on #169
@alamboley Here is the solution to your issue.
![image](https://user-images.githubusercontent.com/33050705/77894655-25a71300-72a8-11ea-8fff-e758180557f2.png)

Please also include the solution to WaveVR_ButtonList.cs.
Let me know if you still have issue, thanks!

[2020-03-30 10:30] alamboley commented on #169
@chengnay thanks for the update. Could you provide me the code in plain text? Images aren't programmer friendly moreover with the #if statement I don't have any completion.

[2020-03-30 12:57] alamboley opened #170 "Oculus GO - issue with hmd and controller position"
Hello,

I'm using Unity 2019.2.21f1 (2019.3 trigger error with Wave SDK), and latest VIU release. My project is working with HTC Vive Focus, I'm trying to add Oculus Go support.
I imported `"com.unity.xr.oculus.android": "1.38.6"` package, but when pressing play my head is in the ground and my touchpad way too height.

My Vive Focus setup : VR origin set to y 0 and CustomDeviceHeight 1.75.

Not th

[2020-03-30 13:37] alamboley commented on #169
hi @chengnay I added your fix, no more error and controllers work fine! Thanks :)

[2020-03-31 01:54] chengnay commented on #169
Sorry, because when I paste the code here in plain text, some of the code will not show properly. Such as < WaveVR_ButtonList >.

[2020-03-31 08:24] chengnay commented on #170
@alamboley A quick temporary fix,
In Assets\HTC.UnityPlugin\VRModule\Modules\UnityEngineVRModule_2017_1.cs,
function UpdateTrackingSpaceType(),
Modify both tracking space type to XRDevice.SetTrackingSpaceType(TrackingSpaceType.Stationary);

To allow CustomDeviceHeight.cs to have effect,
You will need to modify as follows,
function UpdateHeight(),
...
switch (VRModule.activeModule)
{
    ...
    _c

[2020-03-31 09:07] alamboley commented on #170
Hi @chengnay thank you for the fix. It works fine for my first scene, but loading an other scene with the same configuration I'm in the ground.

I see things changing RoomScale to Stationnary, and other UnityNativeVR stuff. I suppose it doesn't impact Vive Focus Plus, but it will for Vive Pro & Oculus Quest? My project has to work on many VR systems.

[2020-03-31 09:12] chengnay commented on #170
@alamboley Do you consider using Oculus Integration Unity package?
Currently, if you only installed Oculus Android package from Package Manager, it will only support Unity Native, not Oculus VR support.
And, VIU's Unity Native does not support Oculus Quest. Cannot recognize Oculus Quest device.

You mentioned "loading another scene with same configuration", do you have two scenes to switch? Or it

[2020-03-31 09:20] alamboley commented on #170
Thanks for the quick answer, no the Rift isn't considered at the moment.

You mean Oculus Quest doesn't work with this plugin?

Just to be sure: it is a simple `SceneManager.LoadScene(scene);` with the same VR Prefab than previously.

[2020-03-31 09:26] chengnay commented on #170
@alamboley Yes, "com.unity.xr.oculus.android": "1.38.6" does not support Oculus Quest, when you install apk to Quest, you will be seeing Oculus Go controller.
I am still thinking how to fix this part.

You can still use Oculus Integration to support Oculus Quest.

Are you able to share your code or project?

[2020-03-31 09:37] alamboley commented on #170
Sure, could you provide me an email?

[2020-03-31 09:38] chengnay commented on #170
chengnan_yang@htc.com

[2020-03-31 10:15] chengnay commented on #170
@alamboley I googled and found out that probably I need a proper AndroidManifest.xml to support Oculus Quest. I am looking into this part.

[2020-03-31 12:33] wirelessdreamer opened #171 "Add support for new Unity input system (2019.3+)"
with unity 2020 legacy XR is no longer supported.

[2020-04-01 03:12] chengnay commented on #170
@alamboley Could you try below solution? I couldn't build your app as it needs to sign.
In Assets\HTC.UnityPlugin\VRModule\Modules\UnityEngineVRModule_2017_1.cs,
public override void BeforeRenderUpdate()
{
    ...
    SetupKnownDeviceModel(currState);

    _if (deviceIndex == 0 && currState.serialNumber.Contains("Oculus Go"))
    {
        XRDevice.SetTrackingSpaceType(TrackingSpaceType.Stationary

[2020-04-01 07:54] alamboley commented on #170
Hi @chengnay please remove the cert and the Editor folder, that way you could provide your custom one.

I applied your code, no luck when I change the scene.

[2020-04-02 23:58] yanoty3d opened #172 "Please add support for Pico Neo 2"
Unlike previous Pico headsets, Pico Neo2 is not compatible with WaveVR (so I heard), but I would like use VIU for this headset as well! Will you consider adding Pico Neo 2 as a supported device?

[2020-04-04 19:14] mhama opened #173 "AndroidManifest path setting is sometimes not saved"
## About

There's a bug that 'Customized AndroidManifest Path' field in Oculus Android VIU Settings is not saved is some circumstances.

## Steps to reproduce

1. Open the repo with Unity Editor (tested with Unity 2019.3.6f1 on Windows 10)
1. Switch to Android platform
1. Add Oculus Mobile Package
1. Restart Unity Editor
1. Input some text to `Customized AndroidManifest Path` field of VIUSettings

[2020-04-04 19:27] mhama opened #174 "Better to input relative path to 'Customized AndroidManifest path' field with the file picker"
## About

Currently, choosing AndroidManifest file with the file picker will input absolute path to the 'Customized AndroidManifest path' field. But it is not desirable for the case of development project with more than one person, because the absolute path will be wrong for other person's environment.

## Solution

Usually, AndroidManifest.xml resides somewhere under the Assets/ folder. So it is

[2020-04-06 07:08] dariol commented on #171
2020.1 is still in beta,  the new OpenV XR plugin beta in package manager will be out soon (from Valve for PC)

[2020-04-06 07:09] #171 closed

[2020-04-06 07:27] chengnay commented on #172
@yanoty3d I will need to check internally and also take a look at the Pico SDK.

[2020-04-07 02:29] chengnay commented on #170
@alamboley I will spend some time to find the root cause and fix it. This will take me some time. Sorry for the inconvenience.

[2020-04-07 08:05] chengnay commented on #170
Please remove above solution, and update your code to below solution.
1. In Assets\HTC.UnityPlugin\VRModule\Modules\UnityEngineVRModule_2017_1.cs,
public override void UpdateTrackingSpaceType()
{
    switch (VRModule.trackingSpaceType)
    {
        ....
        case VRModuleTrackingSpaceType.RoomScale:
            _var prev_trackingOrigin = XRDevice.trackingOriginMode;_
            XRDevice.SetTr

[2020-04-07 09:33] alamboley commented on #170
hi @chengnay you can remove the signing to test (and the script in the Editor folder).

I made your changes, glad it works :)

However this part is ambigous:
[code]
Since you forced `prev_trackingOrigin = XRDevice.trackingOriginMode;` the if condition always happen, is it the expected behaviour?

[2020-04-07 09:41] chengnay commented on #170
For Oculus Quest, after SetTrackingSpaceType to RoomScale, XRDevice.trackingOriginMode will return Floor.
For Oculus Go, after SetTrackingSpaceType to RoomScale, XRDevice.trackingOriginMode still return as Device.

Both cases initially XRDevice.trackingOriginMode returns Device.
This is why I keep the prev trackingOriginMode, if it stays the same, then I will SetTrackingSpaceType to Stationary aga

[2020-04-07 09:50] chengnay commented on #170
Yup, I did that already, this is why I come up with the solution for you! I already verified with the project that you shared. :)

[2020-04-15 14:50] alamboley opened #176 "Anyway to revert ignore all?"
Hello,

For some reason I clicked ignore all, and now it seems I'm not able anymore to accept changes via the default WaveVR_Settings dialog. Anyway to revert it?

[2020-04-16 02:54] lawwong commented on #176
Ignored keys are saved in HTC.UnityPlugin\ViveInputUtility\Scripts\Editor\VIUProjectSettings.asset either remove it or clear the list in editor inspector will do.

[2020-04-16 08:12] #173 closed

[2020-04-16 08:12] #174 closed

[2020-04-16 08:48] alamboley commented on #176
Got it thanks 👍

[2020-04-16 08:48] #176 closed

[2020-04-24 05:07] sidhants commented on #172
@chengnay  I am in the same situation where I want to use Wave SDK for Pico Neo 2. Otherwise we will have to make a decision to switch to using the Pico SDK. Is there any update if this is on the roadmap? Please let us know.

[2020-04-24 05:18] sidhants commented on #165
@wojiuxuihuan Have you successfully used Wave SDK (Vive Focus/Plus) and PicoVR SDK in the same project with VIU?
I am evaluating if they are feasible in my project?

@chengnay Any thoughts please?

[2020-04-24 05:34] wojiuxuihuan commented on #165
Those are Pico System's default setting, but we found another way to get it down, which is we use the "Return" button to repalce the "Enter" button, a bit rule but effective *_*

[2020-04-24 05:35] wojiuxuihuan commented on #165
I don't use PicoVR SDK at all, FYI

[2020-04-24 07:10] sidhants commented on #165
I guess you are using Pico G2. I have a Neo 2 which is not Wave supported yet.

[2020-04-24 12:21] wojiuxuihuan commented on #165
Yes, sorry to hear that.

[2020-05-13 03:19] segurvita opened #177 "TYPO (VIVE Cpsmos) on the Wiki"
I found TYPO on the Wiki.

The Wiki is the following page.
https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki

I'm not sure how to make a pull request to the Wiki, so I'll post it as an Issue.

`Support devices` section says` VIVE Cpsmos` , but it's probably a mistake with `VIVE Cosmos`.

Thank you.

[2020-05-17 03:33] wirelessdreamer commented on #172
I'm interested in this as well, and able to help test.

[2020-05-20 01:37] chengnay commented on #172
Supporting Pico Neo 2 is not in VIU roadmap for now.
Sorry for the inconvenience!

[2020-05-20 01:48] chengnay commented on #177
@segurvita Thanks!

[2020-05-20 02:22] segurvita commented on #177
Thank you, too.

[2020-05-20 02:22] #177 closed

[2020-05-20 02:26] segurvita opened #178 "TYPO (VIVE Focuss+) on the Wiki"
I found another typo on the Wiki.

The Wiki is the following page.
https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki

`Support devices` section says `VIVE Focuss+` , but it's probably a mistake with `VIVE Focus +` or `VIVE Focus Plus`.

Thank you.

[2020-05-21 07:41] ZqWong commented on #125
I had the same problem...

[2020-05-21 07:44] ZqWong opened #179 "Error when start"

[2020-05-21 07:45] chengnay commented on #125
@ZqWong Could you provide more information on your problem? Could you provide any sample project for debugging?

[2020-05-21 07:54] ZqWong opened #180 "Error when start : WVR_WaveVR WaveVR() initialize simulator failed, WVR_Quit()"
Hi,
With VIU in v1.10.7 and WaveVR SDK in 3.1.6
When START in unity 2018.2.21f1 pop the following error console :

`WVR_WaveVR WaveVR() initialize simulator failed, WVR_Quit()
UnityEngine.DebugLogHandler:Internal_Log(LogType, String, Object)
UnityEngine.DebugLogHandler:LogFormat(LogType, Object, String, Object[])
UnityEngine.Logger:Log(LogType, Object)
UnityEngine.Debug:LogError(Object)
WVR_Log.Lo

[2020-05-21 08:00] chengnay commented on #178
@segurvita Done! Thanks!

[2020-05-21 08:01] chengnay commented on #179
@ZqWong Could you describe what's your error?

[2020-05-21 08:19] #179 closed

[2020-05-21 08:41] chengnay commented on #180
@ZqWong Could you double check again whether both of your settings are set to Android platform?

[2020-05-22 08:24] segurvita commented on #178
Thank you too!

[2020-05-22 08:24] #178 closed

[2020-05-26 18:39] cpaganucci opened #181 "Controllers don't render when using Valve's new OpenVR XR SDK Package in Unity 2019.3"
Controllers don't render when using Valve's new OpenVR XR SDK Package in Unity 2019.3 (https://github.com/ValveSoftware/steamvr_unity_plugin/tree/UnityXRPlugin)

The OpenVR Desktop package and built-in VR support are obsolete as of Unity 2020.1.

[2020-05-27 01:49] chengnay commented on #181
@cpaganucci We are working hard to support OpenVR XR SDK, it is about to release soon!

[2020-06-24 03:49] chengnay commented on #181
@cpaganucci Latest VIU v1.11.0 already fixed your issue. Please try it out.
You can get the latest code from GitHub or Unity Asset Store (waiting for Unity to review and publish)

[2020-06-24 03:50] chengnay commented on #163
@1027818327 Latest VIU v1.11.0 already fixed your issue. Please try it out.
You can get the latest code from GitHub or Unity Asset Store (waiting for Unity to review and publish)

[2020-06-24 03:51] #162 closed

[2020-06-24 03:54] chengnay commented on #139
@MSFX In the latest [VIU v1.11.0](https://github.com/ViveSoftware/ViveInputUtility-Unity/tree/v1.11.0-upm) already shipped with ASMDEF. This upm version will be updated to Unity Package Manager in the future.
ASMDEF is not included in the Unity Asset Store version.

[2020-06-29 08:24] chengnay opened #184 "SteamVR Unity Plugin v2.6.0b2 asmdef causes compile error in Android platform"
Using latest VIU v1.11.0 with latest SteamVR Unity Plugin v2.6.0b2 which includes asmdef files will have compiled error in Android platform.

Temporary fix as follows,
1. Modified SteamVR.asmdef and SteamVR_Actions.asmdef. Check Android under exclude platforms.
![image](https://user-images.githubusercontent.com/33050705/85990403-8b7c7580-ba24-11ea-9178-7ad2d754cbb7.png)
![image](https://user-image

[2020-06-30 10:49] ilya-andreyeu opened #185 "Oculus Quest controllers don't support in the Link mode"
https://github.com/ViveSoftware/ViveInputUtility-Unity/blob/c26cdf839b379e9536063787d5ccf1a09140edc2/Assets/HTC.UnityPlugin/VRModule/Modules/OculusVRModule.cs#L327

I think, there should be smth like that:

case OVRPlugin.SystemHeadset.Oculus_Quest:
case OVRPlugin.SystemHeadset.Oculus_Link_Quest:
case OVRPlugin.SystemHeadset.Rift_S:

This is works for me.

[2020-07-03 05:43] dariol commented on #181
https://forum.vive.com/topic/8490-viu-update-support-for-the-openvr-xr-plugin/

[2020-07-06 07:08] chengnay commented on #185
@ilya-andreyeu Thanks, I will take a look and have this fix in next release.

[2020-07-07 09:22] #169 closed

[2020-07-07 09:22] #170 closed

[2020-07-07 09:23] #163 closed

[2020-07-14 07:26] chengnay commented on #185
I tried using Oculus Quest controllers, but I didn't get Oculus_Link_Quest.
I will see Rift_S when I connect through Link.
Could you provide more detailed information?
Such as which Unity version? Oculus Integration? Oculus Desktop package or Unity XR Plugin?

[2020-07-14 22:12] valdeezzee opened #186 "Lag when playing a Scene"
I am running Unity 2019.4.2. I have steamvr and Vive Input Utility installed. When I play a scene, the editor freezes for about 10 seconds before I can do anything. The whole editor freezes and I can't click on any other windows in the editor. I've tried running an empty scene and I get the same results. I have also tried running this same scenario as above in 2018.3.9 and no luck. If I removed Vi

[2020-07-19 10:40] ilya-andreyeu commented on #185
I used the latest version of the VIU (not release but develop) at the time of the proposed update and the latest Oculus SDK version (it was the 17.0). Unity version is 2019.2.8f1. Also i used the Oculus Desktop package v.1.38.4.

This version of the Oculus SDK, as i know, don't contains interactable models of Rift S controllers (maybe it was fixed in the 18.0, i was on vacation). When i try to con

[2020-07-22 02:47] NagaChiang commented on #186
We've looked into the issue. It takes too long to update the define symbols. This will be optimized in the next release.

Thanks for reporting!

[2020-07-22 08:36] chengnay commented on #185
@ilya-andreyeu I use the same environment settings(Unity 2019.2.8f1, Oculus SDK v17.0 and Oculus Desktop package v1.38.4), I am not able to reproduce the same issue. I will be getting Rift_S instead.
![image](https://user-images.githubusercontent.com/33050705/88154233-140fbf80-cc39-11ea-8d3e-faa1e7df66bd.png)
![image](https://user-images.githubusercontent.com/33050705/88154020-cabf7000-cc38-11ea-9

[2020-07-24 05:19] ilya-andreyeu commented on #185
You are using the Rift S, as i can see. I'm used the Oculus Quest with Link (you said that you haven't got it).

At all, i'm glad to see that VIU release a new versions and i'm already use it in our new application. Thanks for your job!)

[2020-07-24 06:02] chengnay commented on #185
@ilya-andreyeu Of cause I am using Oculus Quest, but that's what I get from Oculus SDK.
Maybe I did plug in Oculus Rift S before, so it will give me that device name instead?
![image](https://user-images.githubusercontent.com/33050705/88364670-34b15400-cdb6-11ea-9d46-c08c95b33311.png)

Anyway, if you still have issues, feel free to ask in GitHub or [VIVE forum](https://forum.vive.com/forum/72-vive

[2020-07-24 09:57] lawwong commented on #186
[VRModuleManagerEditor.zip](https://github.com/ViveSoftware/ViveInputUtility-Unity/files/4971292/VRModuleManagerEditor.zip)
This patch should fixes the issue, let us know if it works, thanks.

[2020-08-04 15:39] valdeezzee commented on #186
I added it and it gave me this error: 'VIUSettingsEditor' does not contain a definition for 'VIUPackageName'
The error happen in VRModuleManagerEditor.cs on line 325.

[2020-08-07 07:24] ilya-andreyeu commented on #186
Hi. We have the same problem. It was the editor's scripts. We are deleted a lot of them and fix this trouble. But we have another - we are removing a lot of editor's scripts))

@NagaChiang [https://drive.google.com/file/d/13vRIkUGEV0rzvNxJ60bX5xb4coV8yJbz/view?usp=sharing](link to the removed files)

[2020-08-07 09:54] lawwong commented on #186
Oops, my bad.
I created new hotfix branch, plz refer to the new link, thanks.
[fixed file link](https://github.com/ViveSoftware/ViveInputUtility-Unity/blob/v1.11.0-hotfix/Assets/HTC.UnityPlugin/VRModule/Editor/VRModuleManagerEditor.cs)
[fixed file raw](https://raw.githubusercontent.com/ViveSoftware/ViveInputUtility-Unity/v1.11.0-hotfix/Assets/HTC.UnityPlugin/VRModule/Editor/VRModuleManagerEditor.c

[2020-08-11 12:03] lawwong commented on #186
Fixed in v1.12.0

[2020-08-11 12:03] #186 closed

[2020-08-11 12:42] dim8 opened #189 "Common button features missing for ViveController"
Any button-related common features e. g. `CommonUsages.menuButton` are missing and only default values are returned instead. This results in no controller interaction. The full list of present features and their value types is then the following:

- DevicePosition (UnityEngine.Vector3)
- DeviceRotation (UnityEngine.Quaternion)
- DeviceVelocity (UnityEngine.Vector3)
- DeviceAngularVelocity (UnityEn

[2020-08-13 09:49] chengnay commented on #189
@dim8 Could you try to update VIU to latest version (v1.12.0)?

[2020-08-13 15:10] dim8 commented on #189
I updated VIU to v1.12.0 and also tested it on a new empty project. The issue still persists, and I did the following:

1. Create new empty Unity project (3D Template) with Unity 2020.1.1f1.
2. Open the [Unity package of VIU v1.12.0](https://github.com/ViveSoftware/ViveInputUtility-Unity/releases/download/v1.12.0/ViveInputUtility_v1.12.0.unitypackage) and import it in the project.
3. Unload the sa

[2020-08-14 02:33] chengnay commented on #189
@dim8 You checked the OpenVR in VIU Settings?
But, did you import SteamVR Unity Plugin too?

[2020-08-14 07:43] dim8 commented on #189
Yes, sure I just forgot to include it in the steps above.

SteamVR, on the other hand, was not imported, but before updating to Unity 2020.1.1f1, i.e. with Unity 2018 LTS, this was not necessary. May SteamVR be required for VIU on 2020.1.1f1?

[2020-08-14 08:01] chengnay commented on #189
In the latest OpenVR XR Plugin (preview4 and above), you need SteamVR Unity Plugin (>v2.6.0) to get input events.

[2020-08-14 13:27] dim8 commented on #189
Great, that solved the issue!

I also needed to add the correct controller bindings for my Unity project. Though, for the empty test project with VIU it worked out of the box.

[2020-08-14 13:27] #189 closed

[2020-08-17 02:35] chengnay commented on #185
@ilya-andreyeu Please test with the [latest VIU v1.12.0](https://github.com/ViveSoftware/ViveInputUtility-Unity/releases/latest), thanks!

[2020-08-18 05:48] #184 closed

[2020-08-20 08:46] #185 closed

[2020-08-20 09:33] #139 closed

[2020-08-25 12:56] ilya-andreyeu commented on #185
@chengnay in the v1.12.0 it works fine. Thanks! <3

[2020-08-31 01:36] wirelessdreamer opened #191 "Trigger values from index controller are inaccurate"
Debug.Log(ViveInput.GetTriggerValue(viveRole));

when the trigger is half way pressed in, its displays a value of 1.

Additionally reading the trigger button activates at this time, instead of when the actual button in the trigger is pressed, but I believe this is caused by issue #1 above.

[2020-09-01 00:57] wirelessdreamer commented on #121
In the current release this works on Rift S, but not in Quest build. Quest builds it returns Unknown still

[2020-09-01 01:34] chengnay commented on #121
@wirelessdreamer Please share your AndroidManifest.xml and also the version for Unity/Oculus SDK/Oculus XR Plugin, thanks!

[2020-09-01 13:11] wirelessdreamer commented on #121
Unity 2019.4.8.f1
Legacy Oculus XR Plugin
Oculus plugin 19.1

I reread your previous post about IsValidDeviceIndex, and using this design pattern, I saw the problem was I assumed it would be available before it was. This is always successfull:

 IEnumerator WaitForDeviceIndex() {
        yield return new WaitUntil(() => VRModule.IsValidDeviceIndex(VRModule.HMD_DEVICE_INDEX));
        yield return

[2020-09-01 14:12] wirelessdreamer opened #192 "VIU Action sets no longer created for SteamVR 2.0 after importing the VIU and SteamVR 2.0 plugins"
I rebuilt my main project a few months ago, and have been doing a lot of oculus dev with it. I just imported SteamVR to see it it resolves the trigger value issues I've been seeing. I remembered there had been a VIU Action set for SteamVR 2.0 when I did this last time, but it was not auto created, and I don't see any options in preferences to create it.

Is this still a thing, or has it been refac

[2020-09-01 18:03] chengnay commented on #191
@wirelessdreamer Could you provide a sample project that can reproduce this issue? We tested with Vive Pro + Index controller and not able to reproduce the issue that you mentioned.
Also, could you list the version of Unity, SteamVR SDK and plugins that you imported in your project? Thanks!

[2020-09-01 18:08] chengnay commented on #192
@wirelessdreamer Did you see it in Recommended Settings? It should be showing up in the Recommended Settings when you imported SteamVR 2.0 Plugins.
Please list the version of your Unity, SteamVR Plugin and plugins from Unity Package Manager. Thanks!

[2020-09-02 01:46] #121 closed

[2020-09-02 03:03] wirelessdreamer commented on #192
I deleted the existing SteamVR from the previous test, and re-imported it, No recommended settings dialog popped up

VIU 1.12
Unity 2019.4.8.f1
SteamVR 2.6.1

packages:
{
  "dependencies": {
    "com.unity.2d.sprite": "1.0.0",
    "com.unity.2d.tilemap": "1.0.0",
    "com.unity.addressables": "1.8.4",
    "com.unity.ads": "3.4.7",
    "com.unity.analytics": "3.3.5",
    "com.unity.collab-proxy": "

[2020-09-02 03:03] wirelessdreamer commented on #192
How do I force add the VIU bindings?

[2020-09-02 03:09] wirelessdreamer commented on #192
after hitting save and generate in the bindings panel, the import dialog finally showed up.

[2020-09-02 03:15] chengnay commented on #192
One way is that you can try to delete the binding files in folder "Assets\StreamingAssets\SteamVR\".

Is VIU actionset show up now?

[2020-09-11 13:45] wirelessdreamer opened #193 "Override shader logic, doesn't over ride controller model shaders"
Using URP, controllers are currently pink, even after overriding the shader on render model hook script:

![image](https://user-images.githubusercontent.com/140221/92932775-5a042b00-f413-11ea-9825-0472273d5561.png)
![image](https://user-images.githubusercontent.com/140221/92932840-74d69f80-f413-11ea-8455-e4a8d8b9c05d.png)
![image](https://user-images.githubusercontent.com/140221/92932877-8029cb00-

[2020-09-15 06:05] chengnay commented on #193
@wirelessdreamer Could you help to verify below solution? Thanks!

Under folder "Assets\HTC.UnityPlugin\ViveInputUtility\Scripts\Misc\OculusVRExtension\" in VIUOculusVRRenderModel.cs file,
Line 620,
var shader = m_shaderOverride == null ? Shader.Find("OvrAvatar/AvatarSurfaceShaderPBS") : m_shaderOverride;

Line 644,
var shader = m_shaderOverride == null ? Shader.Find("OvrAvatar/AvatarPBRV2Simple")

[2020-09-15 12:19] wirelessdreamer commented on #193
Those updates turn the shader from pink to grey, so half way there. I now get this error:
![image](https://user-images.githubusercontent.com/140221/93209208-c8a2fa80-f72b-11ea-85d9-6e8b4fb19292.png)

So it looks like SetTexture is already used:
![image](https://user-images.githubusercontent.com/140221/93209414-1ddf0c00-f72c-11ea-980a-867aa6905d9d.png)

My guess of how I get Univeral Render Pipelin

[2020-09-16 02:52] chengnay commented on #193
@wirelessdreamer Are you using Universal RP 7.3.1 or 7.5.1?

[2020-09-16 03:02] wirelessdreamer commented on #193
7.3.1

On Tue, Sep 15, 2020 at 10:52 PM ChengNan Yang <notifications@github.com>
wrote:

[2020-09-16 03:47] chengnay commented on #193
@wirelessdreamer You mentioned the color is grey, so you think it should be other color instead of grey?

I replaced the shader (Univeral Render Pipeline/Lit) manually and it is also grey.
![image](https://user-images.githubusercontent.com/33050705/93290027-5d802380-f812-11ea-94ca-d61e1e361d9b.png)

[2020-09-16 05:04] wirelessdreamer commented on #193
I thought I remembered the vive controller showing up as black, so I wasn't
sure why the rift controller showed up a different color.

On Tue, Sep 15, 2020 at 11:47 PM ChengNan Yang <notifications@github.com>
wrote:

[2020-09-16 05:38] chengnay commented on #193
@wirelessdreamer Black is the default shader provided by the SDK, if I replace the VIU's default controller model(White) with Universal Render Pipeline/Lit shader it looks just like the one I posted above.

[2020-09-16 06:33] chengnay commented on #193
Could you help to try below code?

if (m_shaderOverride == null)
{
    mesh.sharedMaterial.SetTexture("_Surface", OvrAvatarComponent.GetLoadedTexture(surfaceTextureID));
}

"_Surface" was copied from Oculus SDK, will it matter if skip this part when there is override shader?
I still cannot see "Universal Render Pipeline/Lit" on my Unity Editor after I try to add it to Override Shader in Render Mod

[2020-09-17 06:43] chengnay commented on #193
I guess "_Surface" is a customized shader property by Oculus, that's why when loading URP/Lit and it will show that error.
https://answers.unity.com/questions/1169367/how-to-get-the-property-names-from-shader-in-runti.html

I will resolve this in next release.

[2020-09-17 07:30] chengnay commented on #193
@wirelessdreamer  Please try below solution if it works on your side.

if ((mesh.sharedMaterial.GetTexture("_Surface") != null))
{
    mesh.sharedMaterial.SetTexture("_Surface", OvrAvatarComponent.GetLoadedTexture(surfaceTextureID));
}

On my side, it works without printing the error message.

[2020-09-17 15:35] wirelessdreamer commented on #193
changing back from __BaseMap to the above code segment gives this error spamming

![image](https://user-images.githubusercontent.com/140221/93493276-b9fa4600-f8d9-11ea-9ca9-ecb9a7d538b4.png)

[2020-09-18 05:52] chengnay commented on #193
@wirelessdreamer  I can only think of getting the GetPropertyCount of shader to differentiate between Oculus's and URP's.

if (mesh.sharedMaterial.shader.GetPropertyCount() == 3)
{
    mesh.sharedMaterial.SetTexture("_Surface", OvrAvatarComponent.GetLoadedTexture(surfaceTextureID));
}

I am still looking for better solution and I will need to verify with Oculus Quest and also Oculus Rift S.

[2020-09-21 06:35] chengnay commented on #193
@wirelessdreamer Did you try the solution yet?
I double check the solution with Oculus Rift S, Link Quest and Quest, no errors found.

[2020-09-21 13:07] wirelessdreamer commented on #193
I think this is what you wanted tested:

![image](https://user-images.githubusercontent.com/140221/93770142-cfc57f00-fbe9-11ea-84dc-b1e6f1c9e26c.png)

Its still grey, and not black after that.

[2020-09-22 02:23] chengnay commented on #193
@wirelessdreamer Did you accept all for VIU's recommended settings for Oculus Desktop?
By looking into the details of URP/Lit shader, it is white or maybe a bit greyish(after I accept all for recommended settings, it turns to white as I last posted [image](https://github.com/ViveSoftware/ViveInputUtility-Unity/issues/193#issuecomment-693182825) above).
![image](https://user-images.githubuserconten

[2020-09-22 02:34] wirelessdreamer commented on #193
What about adding a Color over ride to Render Model Hook, just like there is a shader override:
![image](https://user-images.githubusercontent.com/140221/93839332-a264e980-fc5a-11ea-9913-acdda59cdf08.png)

[2020-09-22 02:36] chengnay commented on #193
@wirelessdreamer I will need to discuss this internally or provide you with sample code.
Sorry for the inconvenience.

[2020-09-22 04:10] lawwong commented on #193
How about adding override material?

[2020-09-22 06:18] mimiky opened #194 "Trigger button is invalid in Unity"
SDK: Wave VR 3.2.0
Vive Input Utility 1.12.0
Unity version: 2018.4.9
Vive Focus Plus
TestScene:UGUI
There is no problem in VR, but it is invalid in Unity

[2020-09-23 17:13] Kubirill opened #195 "KubirillTest"

[2020-09-30 02:37] chengnay commented on #194
@mimiky You mentioned invalid in Unity means you play on Unity Editor?
What error message did you get?

[2020-09-30 02:37] chengnay commented on #195
@Kubirill Is there any issue to report?

[2020-09-30 02:43] mimiky commented on #194
Yes, but there is no error message

[2020-09-30 03:12] chengnay commented on #194
Did you use [DirectPreview](https://hub.vive.com/storage/app/doc/en-us/wavevr_DirectPreview.html)?

[2020-09-30 03:27] mimiky commented on #194
Yes， I make sure I use it correctly

[2020-09-30 06:52] chengnay commented on #194
@mimiky I manage to reproduce the issue on my side.
I will fix it ASAP and provide you with solution, sorry for the inconvenience.

[2020-10-04 19:34] RubyYuukoShionji opened #197 "How to setup default bindings for trackers."
On the wiki ( https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki/SteamVR-Input-System-Compatibility ), you said ".. there is no default bindings applied. If someone knows how to do that, please let us know", I might of miss understood the request here, but incase not here is a gist I made on how to create default profiles for the trackers with working pose information: https://github.com/

[2020-10-05 09:03] mimiky commented on #194
thank you!

[2020-10-06 16:34] tenebris93 opened #198 "Controller doesn't work on Oculus Quest"
### Description
The controller works in the tutorial scene on Vive Focus Plus but not on the Oculus Quest.

### Build Environment
I created a fresh test project using VIU (v1.12.0.0) in Unity (v2019.4.11 LTS).
The only packages added were the XR packages for WaveVR (v1.0.1) and Oculus (v1.4.3).
The only settings tweaked were the recommended project settings provided by VIU for each headset.
During

[2020-10-07 15:17] wirelessdreamer commented on #135
Controller models still don't match up between OpenVR and Oculus drivers? has any official solution been found to this, having to create seperate locations for all controllers based on platform is a huge pain.

[2020-10-07 15:18] wirelessdreamer commented on #135
Expected behavior, weather loading with OpenVR or Oculus driver, the controller model should show up to match the physical controller.

[2020-10-07 16:53] wirelessdreamer opened #199 "Oculus Rift with OpenVR driver has delay on GetPressUp"
When using the Oculus driver this works as expected
        if(ViveInput.GetPressDown(viveRole, shootButton)) {
            Debug.Log("Bang");
        } else if(ViveInput.GetPressUp(viveRole, shootButton)) {
            Debug.Log("UP");
        }

but when using the openvr driver, there is about a half second delay on the up event, this makes pressing the trigger rapidly in succession, not registe

[2020-10-07 17:08] wirelessdreamer commented on #199
the same issue exists with get axis, and only happens with the oculus controller, when using OpenVR
  if(!triggerDown && ViveInput.GetAxis(viveRole, ControllerAxis.Trigger) > 0.7) {
            Debug.Log("Bang");
            triggerDown = true;
        } else if(triggerDown && ViveInput.GetAxis(viveRole, ControllerAxis.Trigger) < 0.68) {
            Debug.Log("UP");
            triggerDown = false

[2020-10-09 18:36] wirelessdreamer opened #200 "Vive controller on Index headset returns by device ID that it is an Index controller"
// The controller we want to look up the type on
uint deviceIndex = GetComponentInParent<ViveRoleSetter>().viveRole.GetDeviceIndex();

Debug.Log("Check controller type: " + VRModule.GetDeviceState(deviceIndex).deviceModel + " ID: " + deviceIndex);

Output:
Check controller type: IndexControllerRight ID: 1

![image](https://user-images.githubusercontent.com/140221/95619584-d99a0f80-0a3c-11eb-963f-a

[2020-10-12 08:38] chengnay commented on #197
@RubyYuukoShionji Did you import latest VIU and SteamVR Unity Plugin (including OpenVR Desktop or OpenVR XR Plugin)? What's your Unity Editor version?

On the wiki's Step 2,
![image](https://user-images.githubusercontent.com/33050705/95724750-50d3db80-0ca9-11eb-84c7-293b422c441d.png)

Did you do this step?

[2020-10-12 08:52] chengnay commented on #200
@wirelessdreamer Currently, I do not have Index device to debug.
Could you help to print out the log in this script (Assets\HTC.UnityPlugin\VRModule\Modules\SteamVRv2Module.cs)?
Line 559,
Help to print out deviceClass, serialNumber, modelNumber and renderModelName, thanks!

[2020-10-12 09:40] chengnay commented on #198
@tenebris93 I cannot reproduce the issue.

![image](https://user-images.githubusercontent.com/33050705/95731322-f3905800-0cb1-11eb-9b5a-37af09668638.png)
Did you check both WaveVR and Oculus Android?

[2020-10-12 11:00] chengnay commented on #199
@wirelessdreamer Are you using Unity XR or Unity Native?

[2020-10-12 13:24] wirelessdreamer commented on #200
That Ifdef isn't active, so I'd never hit the related section of code
![image](https://user-images.githubusercontent.com/140221/95751547-c5d4f000-0c6c-11eb-9065-7342c6aabd82.png)

[2020-10-12 13:25] wirelessdreamer commented on #199
Legacy, I haven't moved to Unity XR since there is no production ready support for OpenVR in it.

[2020-10-12 14:47] tenebris93 commented on #198
The scene I was having issues with was the Tutorial sample scene.

Seeing I wasn't able to figure out what was causing the issue. I have since started using the camera rigs that the WaveXR SDK and Oculus provides. I just disable whichever one I'm not in need of.

[2020-10-12 15:38] wirelessdreamer commented on #199
To help clarify, this behavior only happens when The SteamVR plugin isn't installed. When building for Oculus the SteamVR plugin has to be deleted from unity projects, or it won't pass Oculus VRC checks for the store.

[2020-10-13 02:17] chengnay commented on #200
Which SDK did you import for your project?
Please list the versions of your Unity Editor, SDKs... etc
Thanks!

[2020-10-13 02:42] wirelessdreamer commented on #200
Unity 2019.4.8.f1
VIU 1.12
Oculus Integration 20.1

[2020-10-13 06:22] chengnay commented on #200
@wirelessdreamer I found the root cause is that XRDevice.model will return "Index".
With combination of Index HMD + VIVE controller, XRDevice.model will not return "VIVE" for controller.
We are still working on how to resolve this issue.

[2020-10-13 07:34] #195 closed

[2020-10-13 08:02] chengnay commented on #200
@wirelessdreamer Here is the solution,
In Assets\HTC.UnityPlugin\VRModule\Modules\UnityEngineVRModule_2017_1.cs,
Line 252,
if (!XRDevice.model.Equals("None"))
{
    currState.serialNumber = XRDevice.model + " " + m_nodeStateList[i].uniqueID.ToString("X8");
    var model = Input.GetJoystickNames()[0];

    if (string.IsNullOrEmpty(model))
    {
        currState.modelNumber = XRDevice.model + " " +

[2020-10-13 10:31] chengnay commented on #199
@wirelessdreamer Will it be better to use ViveInput.GetPress instead of ViveInput.GetPressDown or ViveInput.GetPressUp?

[2020-10-14 03:33] chengnay commented on #199
Do you know how Oculus VRC checks? Is this only happens for PC application? What if you are building for Android and you have SteamVR Plugin in the project, will Oculus VRC still fail?

[2020-10-19 09:51] SHANG5150 opened #201 "ColliderEventCaster generate GC.Alloc in each Update and FixedUpdate event."
The usage in ColliderEventCaster Update and FixedUpdate method below:
[code]
Due to C# boxing problem, it cause GC.Alloc in each time when Update and FixedUpdate has been triggered.

[2020-10-20 13:51] gsmith91 opened #203 "Question: Does this provide anything that isn't included with Unity's Mock HMD option?"
I just found Mock HMD in the Virtual Reality SDK list in Unity Player settings. I started to look around to see what else is available, and I found this. Thought I'd see if there are additional features that would make this repo a better solution, while also sharing the information for any who don't know about the mock HMD - for some reason it's not really documented anywhere... I'm using Unity 20

[2020-10-21 05:59] chengnay commented on #203
@gsmith91 What did you import for your project?
Which SDK? Plugins from Unity Package Manager?

[2020-10-22 06:33] SoumyaBasheer opened #204 "X or A key press not working in Vive Cosmos"
I used ViveInput.GetPressDown(HandRole.LeftHand, ControllerButton.AKeyTouch) for getting X button press in left hand and  ViveInput.GetPressDown(HandRole.RightHand, ControllerButton.AKeyTouch) for getting A button press in right hand , but its not working in vive cosmos

[2020-10-22 11:16] Rorschach1219 opened #205 "Screen position out of view frustum"
![图片](https://user-images.githubusercontent.com/20067002/96864319-cce4d500-149a-11eb-956b-7aa4c96df897.png)

I ran the sample scenario separately, and there was no such error report. When I installed vrorigin into my main scenario, this error was reported. Although there was no effect, I wanted to know how to make it not report errors

[2020-10-23 01:49] chengnay commented on #204
@SoumyaBasheer Could you list the Unity Editor, VIU and SDK version?

[2020-10-23 01:52] chengnay commented on #205
@Rorschach1219 Could you try the methods in this [link](https://forum.unity.com/threads/screen-position-out-of-view-frustum.9918/)?

[2020-10-23 07:18] Rorschach1219 commented on #205
I've tried them. They don't work

[2020-10-23 11:31] SoumyaBasheer commented on #204
Hi
While testing through  SteamVR Controller Settings>Test Controller I could see the Touch of X and A buttons.

![XButton](https://user-images.githubusercontent.com/25294963/96998356-f3fdde00-1550-11eb-929d-cce7d412d86c.png)

I used ViveInputUtility from assetstore (https://assetstore.unity.com/packages/tools/integration/vive-input-utility-64219)
Unity Version - 2019.4.2
VIU Version - 1.12.0.0

[2020-10-24 01:54] chengnay commented on #205
Could you provide a sample project that can reproduce this error? Since you mentioned that VIU’s example scene will not show that error.

[2020-10-24 01:59] chengnay commented on #204
Are you testing this in VIU’s example scene?

[2020-10-27 04:14] SoumyaBasheer commented on #204
@chengnay I checked this but I am not getting Akey. but Bkey is working perfectly. Whether I miss anything?

[2020-10-27 05:08] chengnay commented on #204
Could you provide a sample project that can reproduce this issue for debugging?

[2020-10-27 06:03] SoumyaBasheer commented on #204
@chengnay I have uploaded a sample in the link https://drive.google.com/file/d/1J3uib08xXSGoMsetuUpLrn1O7ga6ErNb/view?usp=sharing. Can test it using Test Scene and put a Error log in TestScript for A and B key press.

[2020-10-27 07:04] chengnay commented on #204
It seems like you did not use SteamVR Unity Plugin, only install OpenVR Desktop plugin from Unity Package Manager.

Here is the fix to your issue.

In Assets\HTC.UnityPlugin\VRModule\Modules\UnityEngineVRModule.cs,
For function Update_L_Vive,
Add below lines,
var primaryButtonPress = GetUnityButton(3);
currState.SetButtonPress(VRModuleRawButton.A, primaryButtonPress);

Do the same for Update_R_Viv

[2020-10-27 07:18] SoumyaBasheer commented on #204
@chengnay  Thank you It worked for me. Do I need to use SteamVR Unity Plugin. I just wanted some interaction and teleporting I hope it can acheive using OpenVR  and VIU. Please correct me if am wrong

[2020-10-27 07:24] chengnay commented on #204
@SoumyaBasheer It is your choice to use SteamVR Unity Plugin or not.
If you would like to use trackers, then you MUST import SteamVR Unity Plugin.
As for interaction and teleport, OpenVR and VIU will be enough for now.
You can always expand your project with SDKs(such as SteamVR Unity Plugin), VIU will take care of everything.

[2020-10-27 07:30] SoumyaBasheer commented on #204
@chengnay Thank you for the update. I hope this issue will fix in Next version. Thank you so much for the quick response.

[2020-10-27 07:33] chengnay commented on #204
@SoumyaBasheer Yes, this fix will be included in the next release. Thanks for your support. :)

[2020-10-27 08:01] #204 closed

[2020-10-29 03:29] Rorschach1219 commented on #205
https://drive.google.com/file/d/1u5c6bq5d-FuZUPa1mMYj_pQLrbpwnoZ5/view?usp=sharing

Please see the demo in this video

[2020-11-02 02:29] chengnay commented on #205
@Rorschach1219 After following your demo video, I could not reproduce the issue.
![image](https://user-images.githubusercontent.com/33050705/97824050-d6213d80-1cf5-11eb-9e47-4687f7ab15d0.png)
My Field of View will not change after playing in Unity Editor.
![image](https://user-images.githubusercontent.com/33050705/97824108-049f1880-1cf6-11eb-89d9-586f911fefb7.png)
After adding ViveCameraRig, there

[2020-11-05 08:39] ToddGitHub opened #206 "适配大鹏VR DPVR"
使用wave加VIU开发的项目可以在DPVR P1 pro 正常可以正常操作，但是画面锯齿感严重，且帧率下降，必须使用DPVR原生SDK才能清晰显示，希望VIU能像适配WaveVR那样增加DPVR的适配，这样能直接使用VIU的操作

[2020-11-06 08:48] LHE-IT opened #207 "How to use the simulator in Vive Input Utility"
I learn that the Vive Input Utitility has provided an simulator that can allow us to run the VR application without VR devices,but I can't run it although I set the WaveVR setting and Utility setting.Ask for help,thank you.

[2020-11-12 11:51] chengnay commented on #207
@LHE-IT You can just check the Simulator in VIU Settings (Edit>Preferences>VIU Settings on the left).
You can also refer to the [Wiki page](https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki/Simulator)

[2020-11-14 07:27] Rorschach1219 commented on #205
Sorry for the late reply, I will try it today.

ChengNan Yang <notifications@github.com> 于2020年11月2日周一 上午10:29写道：

[2020-11-14 10:23] Rorschach1219 commented on #205
VPP alone will not have this problem. I think the VR suite has affected it

[2020-11-14 10:26] Rorschach1219 commented on #205
@chengnay  My computer is very strange, you did not reproduce this problem, I don't know what to do

[2020-11-14 10:32] Rorschach1219 commented on #205
@chengnay  I have a question. Can VIU run independently? HTC view device? I imported steamvr. I don't know if it is necessary

In a new project, after importing VPP and running demo scene, the FOV of camera will be changed externally. Screen position out of view frustum (screen POS 0.000000, 0.000000, 1000.000000) (camera rect 0.0 1424 1680)
UnityEngine.GUIUtility :ProcessEvent(Int32, IntPtr)

![图

[2020-11-14 10:47] Rorschach1219 commented on #205
@chengnay  I have tried it. If a pure new project only imports VIU without any settings and import steam, then VR cannot run normally, and VPP can also run normally, no error is reported, and FOV has not changed, but what I want is , In the normal mode of VR, the camera will not change for no reason and will not report an error

[2020-11-16 09:37] amidofu opened #208 "Seems that the input does not work with OpenVR XR plugin"
I checked OpenVR XR plugin [here](https://github.com/ValveSoftware/unity-xr-plugin) which you can download the unity package [here](https://github.com/ValveSoftware/unity-xr-plugin/releases/tag/installer), the hmd and controller tracking can work but the button input can't. Anything I missed?

[2020-11-17 05:48] chengnay commented on #208
@amidofu To get input, you are required to import SteamVR Unity Plugin.
Unity XR(OpenVR XR Plugin) can only use rendering.

[2020-11-18 02:29] amidofu commented on #208
Is this the SteamVR plugin I should use? It makes Unity to enter an **infinite importing process** with this window keeps showing. I'm not sure if it is because I want to put WaveXR plugin, OpenVR XR plugin and VIU in the same project
![image](https://user-images.githubusercontent.com/1356094/99474931-6e6f2180-2988-11eb-857d-3e2c29fda4e6.png)

[2020-11-18 02:38] chengnay commented on #208
@amidofu This is the one that you should import.
The infinite import process is because SteamVR Plugin has its own check to install OpenVR XR plugin automatically, but there is bug that makes it fall into infinite loop, but I am not sure why.
Could you close your Unity and delete the SteamVR plugin and try again? Or try removing OpenVR XR plugin?

[2020-11-18 08:17] amidofu commented on #208
@chengnay OK, it seems the infinite importing process is caused by SteamVR plugin, thanks

[2020-11-18 08:17] #208 closed

[2020-11-20 14:41] Pjchardt opened #209 "Set BasicGrabbable "grabbed" thorugh method call."
Is there a way to force a BasicGrabbable to be grabbed via a method call, such that the player's hand, i.e. ViveColliderEventCaster, is not colliding with the BasicGrabbable at the moment the Grab input is pressed, but the BasicGrabbable is grabbed anyway?

My specific use case: Player presses the Grip button over a trigger volume. An object is spawned that has the basicGrabbable component, and th

[2020-11-20 23:25] Pjchardt commented on #209
I was able to resolve my issue. For anyone interested, I overrode ViveColliderEventCaster and added a method that calls
`eventData.draggingHandlers.Add(obj);`
`ExecuteEvents.Execute(obj, eventData, ExecuteColliderEvents.DragStartHandler);`
I am not crazy about my solution but it seems to work.

[2020-11-20 23:25] #209 closed

[2021-01-13 12:01] bhavanapradeep opened #210 "PORT from Oculus Go to Vive focus"
Iam able to port the project that was previously developed for oculus go to vive focus but headtracking is not there in Vive focus. Any suggestions

[2021-01-18 19:34] #205 closed

[2021-01-26 13:53] xkyl-yhw opened #211 "Unity DirectPreview Streaming Server error"
After click the "start Streaming Server", It shows and close down. If it is still exist, the Focus will not show "Connection timeout". But I got not idea how to do so. I use the cmd to open the SServer.

C:\Windows\system32>E:\unity\2019Training\OpencvSDKExercise\Assets\WaveVR\Platform\Windows\dpServer.exe
The server config:.\config\serverSetting.setting loaded fail!
The HmdList is not loaded! err

[2021-01-29 07:14] chengnay commented on #210
@bhavanapradeep Could you list the versions(Unity Editor, VIU, WaveVR SDK) that you are using?
One quick thing comes to my mind is that you might need to delete the AndroidManifest.xml under folder Assets\Plugins\Android.

[2021-01-29 07:17] chengnay commented on #211
@xkyl-yhw Could you try those steps discuss in this [thread](https://forum.vive.com/topic/8936-direct-preview-in-unity-not-working-help/?ct=1611904572)?
If it still doesn't help, please let me know, thanks!

[2021-01-30 04:53] xkyl-yhw commented on #211
@chengnay I have already try those steps, but it doesn’t work. The server still shot down at once. I think maybe is gpu’s issue? My graphics card is MX150.

[2021-01-30 11:02] chengnay commented on #211
@xkyl-yhw Please provide the versions(Unity Editor, WaveVR SDK and VIU) that you are using?

[2021-01-30 12:24] xkyl-yhw commented on #211
@chengnay unity 2018.4.12f1 SDK3.20

[2021-02-01 01:59] chengnay commented on #211
Your log stops after Pipe Server Started?

Previously, I will see more logs like below,
[2020-10-15 13:45:09.960 -7 12488 ERROR logger] [Main]Init() Nvidia driver may be too old, please update to the latest version driver and try again.
[2020-10-15 13:45:09.961 -7 12488 ERROR logger] [Main]Init() fail,so break

[2021-02-01 02:59] xkyl-yhw commented on #211
@chengnay Yes, it just stop after 3 seconds.

 [2020-10-15 13:45:09.960 -7 12488 ERROR logger] [Main]Init() Nvidia driver may be too old, please update to the latest version driver and try again.
[2020-10-15 13:45:09.961 -7 12488 ERROR logger] [Main]Init() fail,so break
Those conditions I also have before I disable the gpu of intel(R) UHD Graphics 620, while I learn from the link you give me.
http

[2021-02-01 15:53] wirelessdreamer commented on #135
@luizcarlosfx this is my local fix:

 private void Start() {
        if(XRSettings.loadedDeviceName == "OpenVR") {
            StartCoroutine(ApplyOffset());
        }
    }

    IEnumerator ApplyOffset() {
        yield return new WaitForSeconds(0.5f);
        Debug.Log("Detected OpenVR, applying offset");
        transform.GetComponentInParent<VivePoseTracker>().rotOffset = new Vector3(40, 0, 0)

[2021-02-01 16:04] luizcarlosfx commented on #135
Thanks for your solution, but I was trying to fix this in a more generic way. I have the same problem with windows mixed reality device. When I was using steamvr none of this problems happened, so I'm looking to find how do they implement the solution.

[2021-02-04 14:35] xkyl-yhw commented on #211
@chengnay Thanks for your help, despite I didn't work out the direct preview, I used the previous version. And it's works. I use the v3.0.2 and start simulate.

[2021-02-04 14:35] #211 closed

[2021-02-10 14:40] alexzpopov commented on #61
thank it is work for me too

[2021-02-25 12:00] alamboley opened #212 "Issue when uploading build on Oculus Quest (App Lab) store"
Hello,

My project is made with Unity 2019.4.x LTS version and uses VIU v1.12.2

When updating on the portal, I've those issues :
![issues](https://user-images.githubusercontent.com/687978/109150432-2b7fcf80-7769-11eb-84a0-15934cf65b4b.jpg)
The two first are AndroidManifest issue, it should be pretty straightforward, but concerning the others... any ideas?
Obviously the .apk works fine in the Ques

[2021-02-25 13:04] alamboley commented on #212
It seems adding `<uses-feature android:name="android.hardware.vr.headtracking" android:version="1" android:required="true" />` solved all the issues!

[2021-02-25 13:04] #212 closed

[2021-03-01 11:19] nezix opened #213 "Vibration/Haptic feedback for Oculus Rift"
Haptic feedback does not work for Oculus rift controllers when not using SteamVR, calling TriggerHapticPulse does not make the controllers vibrate.

- Steps to reproduce:
1. Create a new project in Unity 2019.4.21
2. Import VIU via Asset Store
3. Install Oculus XR plugin package & activate it in VIU Settings
4. Load VIU Teleport scene
5. Add the following TestHaptic.cs script to a gameobject

[cod

[2021-03-03 02:33] chengnay commented on #213
@nezix Simply update your haptic API to TriggerHapticVibration.
The warning spam message is because ThumbTouch and IndexTouch features not supported.
If you don't want to see the warning messages, please modify the script as follows,
In Assets\HTC.UnityPlugin\VRModule\Modules\UnityXRModule.cs,
line 671,
`
bool thumbrest = GetDeviceFeatureValueOrDefault(device, new InputFeatureUsage<bool>("Thumbres

[2021-03-03 08:26] nezix commented on #213
Thanks for your answer,

I tried to replace ```ViveInput.TriggerHapticPulse(HandRole.LeftHand, 500);``` by ```ViveInput.TriggerHapticVibration(HandRole.LeftHand);``` but no luck on my part.

[2021-03-03 08:39] chengnay commented on #213
@nezix  I use ViveInput.TriggerHapticVibration(HandRole.LeftHand, 500);
Could you try this?

[2021-03-03 08:41] nezix commented on #213
I tried this too, same result.
Is there something I am missing ?

[2021-03-03 08:43] chengnay commented on #213
Where did you attach your script to?

[2021-03-03 08:48] nezix commented on #213
I deleted and recreated an empty project and follow the first post recipe and it works now with ```TriggerHapticVibration```...
Weird !
Sorry for the waste of time.

[2021-03-03 08:50] chengnay commented on #213
@nezix No worries. Let me know if you still have questions, cheers!

[2021-03-03 11:23] #213 closed

[2021-03-10 19:00] Pjchardt opened #214 "Joystick values always zero on Quest when running thorugh Oculus Link on OpenVR"
ViveInput.GetAxis(HandRole.rightHand, ControllerAxis.JoystickX) works as expected on Index and Rift. However, on Quest running on SteamVR through Oculus Link the values are always 0.

[2021-03-10 19:22] Pjchardt commented on #214
I looked into a work around solution by checking the deviceModel, but that is returning unknown for Quest controllers.

[2021-03-16 02:07] chengnay commented on #214
https://forum.vive.com/topic/9400-joystick-values-always-zero-on-quest-when-running-thorugh-oculus-link-on-openvr/?tab=comments#comment-39671&ct=1615854415

[2021-03-22 17:24] bearaccount opened #215 "Switch targets between Vive and Oculus using scripts (not GUI)"
Goal is to switch the headset target programmatically (so it's compatible with build pipeline).  Manual way is of course switch headset target in VIU (Edit -> Preferences -> VIU Settings).

Method we have tried:

1. Try to load a VIUSettings file.  Steps:
- In VIU Settings -> Choose Wave
- Copy newly created Assets/VIUSettings/Resources/VIUSettings.asset and rename "VIUSettingsWave.asset".
- In VI

[2021-03-22 18:09] dariol commented on #215
Try using:

EditorUserBuildSettings.SwitchActiveBuildTargetAsync(group, target);

[2021-03-23 01:44] #214 closed

[2021-03-30 09:13] csyhping opened #216 "Controller button hint and text hint"
Hi @dariol , may I ask how can I achieve the controller button hint with vive input utility? I found a similar hint example in SteamVR, is there such ability available with vive input utility? Thanks!
![image](https://user-images.githubusercontent.com/38368516/112964812-3ddf9580-917b-11eb-82d8-0f37f94d9fc1.png)

[2021-04-01 05:48] chengnay commented on #216
@csyhping Controller button hint is added in VIU's next release.

[2021-04-01 07:27] csyhping opened #217 "Add PyhsicsRaycastMethod to Viverig/controller/LaserPointer/Caster prefab"
Hi, according to the developer guide, the **ViveRig** prefab should be the combination of ViveCameraRig, VivePointers, ViveCurvePointers, and ViveColliders. The functionality should be the same but I notice that there isn't a PyhsicsRaycastMethod with ViveRig controller caster, this may cause trouble like dragging when using ViveRig. Just a kind reminder, maybe you could consider unifying these pr

[2021-04-01 07:39] csyhping commented on #216
@chengnay , glad to hear that!! Thanks!

[2021-04-06 06:29] simoneunleashed opened #218 "Inputs do not register on Oculus Quest 2"
Have a project set up with Unity 2020.1.14f1, VIU 1.12.2, Vive Wave CR Plugin 1.0.1, Oculus XR Plugin 1.9.0, all settings set to oculus (in XR Plug-in Management and VIU Settings).

Focus builds all work fine as do Quest 1 builds.

However, building to the Quest 2 with the same settings (as Quest 1) will track head and hands but no input will work. Selecting buttons will not register with the Vive

[2021-04-06 09:00] simoneunleashed commented on #218
Update: Attempted on a blank project with all the same packages setup and inputs worked. Seems to be an internal issue to our project rather than a VIU one.

[2021-04-06 09:00] #218 closed

[2021-04-30 00:27] unoctium1 opened #219 "Controllers don't show up on Oculus Quest when VIU_OCULUSVR_AVATARS is false"
Tested on VIU 12.2 and both Unity 2019.4 and Unity 2021.1, and replicated with both standalone (via Oculus Link) and android.

It seems like the issue is with VIUOculusVRRenderModel.cs as the SetDeviceIndex method doesn't do anything do to the conditionals. I was able to fix this locally by just wrapping RenderModelCreator in OculusVRModule in an #if VIU_OCULUSVR_AVATAR block, so that it falls bac

[2021-05-07 09:14] chengnay commented on #219
@unoctium1 What is your testing environment setup?
Which Unity/Plugin versions did you import/install?
And this solution is only for Oculus Quest? What about Quest 2? or other Oculus devices?

[2021-05-12 02:32] chengnay commented on #219
@unoctium1 I tested your solution, and I found out that there is default render model(VIVE controller), but there is no input. Are you also getting the same result? Or from your side, you can have button inputs?

We will need some time to fix this issue for using latest Oculus Integration SDK.
Sorry for the inconvenience.

[2021-05-12 18:03] unoctium1 commented on #219
@chengnay No, I'm seeing Oculus Quest controllers and receiving button input. However, what you described (Vive controller & no button input) happens to me with or without my changes if the Oculus SDK is not being used and Unity falls back to OpenVR. Is that maybe happening on your end?

[2021-05-13 02:11] chengnay commented on #219
@unoctium1 Which version of Oculus XR Plugin did you install? v1.9.1?

[2021-05-13 03:01] chengnay commented on #219
@unoctium1
![image](https://user-images.githubusercontent.com/33050705/118070916-5e854700-b3d9-11eb-8f35-3e61d8bb0e92.png)

![image](https://user-images.githubusercontent.com/33050705/118071439-5a0d5e00-b3da-11eb-80be-895f0ca74de2.png)

On my side, it reads as Oculus_Link_Quest_2 when I plug in Oculus Quest.
Anyway, this issue will be fixed in next update.
Thanks for using VIU. :)

[2021-05-13 07:14] chengnay commented on #219
@unoctium1 I think I know the root cause to the VIU_OCULUSVR_AVATARS is not listed in the defined symbol field.

Please try this [batch file](https://github.com/ViveSoftware/ViveInputUtility-Unity/blob/develop/DeleteAllAsmdef.bat) to remove the asmdef files in VIU.
VIU v1.12.2 accidentally uploaded the asmdef files that causes some of the symbols not loaded.

[2021-05-13 18:21] unoctium1 commented on #219
@chengnay Ah sorry if I wasn't clear before, I'm specifically having this issue in projects not using Oculus Avatars, when VIU_OCULUSVR_AVATARS is undefined intentionally.

I do have this fixed locally on my end so no worries at all if it won't make it into VIU until after the next update!

[2021-05-13 19:44] chengnay commented on #219
@unoctium1 By default, VIU_OCULUSVR_AVATARS should be added to defined symbol field. If it wasn’t added, then there must be something wrong with VIU.

If you try using the batch file, will VIU_OCULUSVR_AVATARS symbol be added now?

[2021-05-14 18:55] unoctium1 commented on #219
After trying the batch file it seems that added in the symbol and then Quest control models from the Oculus Avatars folder showed up.

I do have some projects where the Oculus avatars folder is not imported into the project, but other parts of the Oculus Integration are in use. In these cases, wouldn't it make sense for VIU to fallback to using the VIU Oculus Quest controller models?

[2021-05-15 01:53] chengnay commented on #219
@unoctium1 Those projects don’t have Oculus avatars folder imported is because you manually remove it? How can I make my project import Oculus Integration without Oculus avatars folder? Just uncheck the folder when I import the SDK? In those cases, what render model did you see in your scene? Probably VIU didn’t consider such cases, I will double check.

[2021-05-15 03:15] unoctium1 commented on #219
@chengnay Yeah, you can either manually remove the folder or uncheck it when you import. In order to replicate you might also have to hit the 'repair define symbols' button in the preferences. In those cases, you don't see a render model at all. Button input does still work and VIU is correctly identifying the headset and controllers, it just isn't correctly assigning a model because [SetDeviceInd

[2021-05-15 03:19] unoctium1 commented on #219
#220 does fix this by wrapping the Oculus-specific override for the RenderModelCreator in an #if block so that it falls back to the default RenderModelCreator and uses the VIU Quest controllers. I think that should be fine since it seems like VIUOculusVRRenderModel only does Avatar-specific things

[2021-06-24 22:29] unoctium1 opened #221 "Override Shader Doesn't Work for OpenXR"
Similar issue to #193 , except I'm having this issue with the OpenXR package instead of with Oculus, and I'm using HDRP instead of URP

Render Model Hook is set up as follows:
![image](https://user-images.githubusercontent.com/31762637/123340218-b9de4500-d500-11eb-8403-18a8d5456d5a.png)

However, the model appears pink in the scene.

I'm using Unity 2020.3.12, VIU 13.1.0, and OpenXR 1.2.2

[2021-06-25 00:48] unoctium1 commented on #221
Just tested in Unity 2019.4.28 with the legacy OpenVR package, VIU 13.1.0, and it seems like shader overriding doesn't work there either, but it does seem to work with the Oculus package

[2021-06-25 18:40] dgarkov opened #222 "Missing Touchpad for Oculus Touch controllers"
Left controller warnings:

UnityEngine.Debug:LogWarningFormat (string,object[])
HTC.UnityPlugin.VRModuleManagement.UnityXRModule:GetDeviceFeatureValueOrDefault (UnityEngine.XR.InputDevice,UnityEngine.XR.InputFeatureUsage`1<bool>) (at Assets/Libraries/HTC.UnityPlugin/VRModule/Modules/UnityXRModule.cs:859)
HTC.UnityPlugin.VRModuleManagement.UnityXRModule:UpdateOculusControllerState (HTC.UnityPlugin.

[2021-06-28 15:04] dgarkov commented on #222
And I can confirm this is not due to potentially just missing "user presence" on the Oculus, i.e. HMD is not put on the head. Axis values remain (0, 0).

[2021-07-02 00:12] Coskun7760 opened #223 "Steamvr Slider Control with hand in Unity"
I want to control a slider with hand in Steamvr, Unity.
I was able to make the button work by adding the UIElement to a Button and adding a collider to the button. But I couldn't get the slider to work.
Can you help me?

[2021-08-02 13:04] #23 closed

[2021-08-03 20:40] wirelessdreamer opened #225 "Unity 2020 LTS + Oculus doesn't read Oculus input, and fails to import ASMDEF in new project"
![image](https://user-images.githubusercontent.com/140221/128082420-618405d6-a712-4ab5-b249-0767da9c9323.png)

![image](https://user-images.githubusercontent.com/140221/128082467-2e153b13-a7c6-408d-a68c-77629bdf6538.png)

Button input doesn't work in test scenes. Using a Quest 2 with Link.

Test Project: https://drive.google.com/file/d/1t3BxSY-m_TqIvNp39wjCEDvZ4b16krEE/view?usp=sharing

[2021-08-04 12:58] wirelessdreamer commented on #225
The first part of this issue is from the package from the asset store, manually downloading the VIU release, and copying the missing asmdef's resolves the initial warning., Input over link, and in Quest builds still does not work though.

[2021-08-04 21:34] wirelessdreamer commented on #225
I get the same results in the current version of Unity 2021 as well. I've tried with  both Oculus, and OpenXR without success of reading oculus button input.

[2021-08-06 13:14] wirelessdreamer commented on #225
Using the latest release from the releases page has the same issue and the package on the unity store.

[2021-08-09 08:30] chengnay commented on #225
@wirelessdreamer Are you using VIU from Asset store or UPM?

[2021-08-10 13:02] wirelessdreamer commented on #225
Same results with both.

[2021-08-11 06:38] chengnay commented on #225
@wirelessdreamer Current VIU v1.13.2 is not compatible with Oculus Quest 2.
It will take some time for us to fix issues starting from Oculus Integration v20.1(First version supporting Quest 2).

Here is a quick fix for you to run your Quest 2 using Link Quest,
1.  In Assets\HTC.UnityPlugin\VRModule\Modules\OculusVRModule.cs,
- line 556, add
   case OVRPlugin.SystemHeadset.Oculus_Link_Quest_2:
   c

[2021-08-18 16:40] SantheepS opened #226 "How to access the Tracker renderer ?"
I would like to know if there is any direct way to access the Tracker renderer .
I 'm using the `ViveRig` .
The requirement is , I need to use multiple trackers and to differentiate one tracker from other we are changing the color of each tracker.
I can get `RigidPose` from the following way
`RigidPose pose2 = VivePose.GetPoseEx(TrackerRole.Tracker1);`
But getting the Transform is not possible in

[2021-09-08 14:05] dantonks commented on #225
@chengnay Just found this fix, thanks! I've been able to deploy to Quest 2 as well now. The one thing (and I note it is a known issue) is I have no controller rendering at all.
This is with:

- VUI 1.13.4.0
- Oculus Integration 32.0.0
- Oculus XR Plugin 1.10.0
- OpenXR 1.2.8 (not sure if this is needed, I am updating a legacy application).

[2021-09-09 19:43] inkidu opened #227 "Override Shader in RenderModelHook does not work in VIVE Input Utility 1.13.4"
Override Shader serialized parameter in RenderModelHook does not work in VIVE Input Utility 1.13.4
The m_overrideShader parameter is no longer referenced when instantiating the default render model.

[2021-11-08 22:09] grobm opened #229 "Simple Error: AndroidApiLevel22 <- AndroidApiLevel21"
In Later versions of Unity 202#.#, the obsolete Api Level needs to be kicked up to 22 instead of 21.

[2021-12-03 10:51] #229 closed

[2021-12-08 16:10] nitz opened #232 "Error messages with new input system (UnityEngine.InputSystem)"
Hello!

My project is using the new Input System, and I need access to trackers, which Unity doesn't yet support through Open XR. As a result, my setup looks like this:

- Unity 2020.3.24f1 (Latest LTS)
- System Runtime: SteamVR
- Unity XR Loaders: `OpenVR Loader`, `OpenXR`.
- Using: `steamvr_unity_plugin v2.7.3`, `unity-xr-plugin v1.1.4`, `Vive Input Utility v1.14.0`
- Packages: `Input System v1.

[2021-12-27 10:42] Goldfinchworks commented on #215
@bearaccount Hi, did you manage to switch the target headset programmatically?

[2022-01-03 17:15] #198 closed

[2022-01-10 10:30] #227 closed

[2022-01-10 15:25] Gnoknop opened #233 "Best method to check Vive Tracker tracking status ?"
Hello there,

I'd like to check if a Vive Tracker is visible / tracked in the Lighthouses field of view.

( ex : Someone or something obstruct the visibility between the Vive Tracker and the Lighthouses )

What would be the best method ?

Thank you for your help

[2022-01-11 04:29] lawwong commented on #232
Hi,

Just released v1.14.2 and fix "PoseControl" issue, it is caused by the two types that share same InputControlLayout
  - UnityEngine.InputSystem.XR.PoseControl
  - UnityEngine.XR.OpenXR.Input.PoseControl

About LegacyInput migrate InputSystem, thanks for your patch advice but there are other place also need to be fixed/replaced and we haven't decide how do it.

For now I suggest you enable bot

[2022-01-12 04:08] ShaneNilsson opened #234 "Quest 2 Controller Rotation Offset Incorrect"
When migrating an old project from Unity's legacy XR management to Open XR in Unity 2020 LTS and updating to the latest VIU I have notices the controller rotation offset is incorrect on Quest 2 both running natively or over Airlink. Testing with a Quest 1, Vive wands, and Index controllers they have correct offsets. 

I have been able to reproduce this with a clean project with the latest VIU impo

[2022-01-29 15:48] lawwong commented on #233
VivePose.HasTrackingEx(TrackerRole.Tracker1)

[2022-01-29 15:58] lawwong commented on #234
Do you mean the default fallback model? or the SDK render model?

[2022-02-10 03:08] gems2020 opened #236 "Controller offset issue in OpenXR"
![sddfsadsfa](https://user-images.githubusercontent.com/7024504/153329271-dac1b148-dd00-4a07-a91f-b82aae269fe1.png)

unity 2020.3.27f1 + OpenXR Plugin 1.3.1 + VIU 1.15.0
Oculus rift cv1

Is there a solution to this?

[2022-02-11 07:11] lawwong commented on #236
Thanks for the report, will look into it.

[2022-03-03 11:04] lawwong commented on #236
After some testing, I assume this is a bug from OpenXR Plugin, the odd tracking pose for Oculus controller is what OpenXR returns.
From Unity XR interface, OpenXR actually provides both device pose and pointer pose.
You can enable the hidden option in VIUSettings to control VIU underlying module getting pointer pose instead of device pose.
![viu_enable_uxr_pointer_pose](https://user-images.githubu

[2022-03-25 12:54] YongD0ng opened #237 "How to obtain the sensor time corresponding to the Vive Tracker position?"
How to obtain the sensor time corresponding to the Vive Tracker position?

[2022-04-08 12:55] eisenWu opened #238 "HandGestureType_Inverse"
Hello,

I am using the WAVE XRSDK 4.4 but after I update the XR SDK from 4.1 to 4.4 the error shows:

'WVR_HandGestureType' does not contain a definition for 'WVR_HandGestureType_Inverse'

here is the error line in the code:
#if VIU_WAVE_XRSDK_4_2_90_OR_NEWER
                WVR_HandGestureType.WVR_HandGestureType_Palm_Pinch;
#else
                **WVR_HandGestureType.WVR_HandGestureType_Inverse;

[2022-04-22 08:51] chengnay commented on #238
@eisenWu Sorry for the late response.

Please try to clean up your defined symbols and let your project recompile.
Go to Edit>Project Settings>Player>Scripting Define Symbols, clear this field and let Unity recompile.
Another method is add "VIU_WAVE_XRSDK_4_2_90_OR_NEWER" to your Scripting Define Symbols list.

[2022-04-22 08:59] chengnay commented on #237
@YongD0ng Sorry for the late response.

Could you elaborate your question? Thanks!

[2022-09-23 16:55] Yuuki-Ishimaru opened #239 "Cannot get Vive Tracker input after upgrading to VIU 1.17"
After upgrading to VIU 1.17 I cannot get Vive Tracker input, even though the role has been assigned, the Shift-B assignment has been done, and I can see that the tracker's input is triggering as expected in the SteamVR Test Controller UI.

Unity version is 2020.1.3f1. The configurations are set to build for windows, using the Vive and Vive Pro. The project also has the Wave package as we also targ

[2022-09-23 20:59] Yuuki-Ishimaru commented on #239
Every other button seems to work but the trackpad button.

[2022-09-23 22:37] Yuuki-Ishimaru commented on #239
Note: In SteamVRv2Module.cs, adding a print statement for action states (UpdateDeviceInput -> first foreach loop) it seems like the input is being registered and IVRModuleDeviceStateRW's value for VRModuleRawButton.Touchpad/ VRModuleRawButton.Axis0 is being set to TRUE when connected as expected. As for why this information isn't propagating to the API I have no idea. I am checking the state throu

[2022-09-26 19:07] Yuuki-Ishimaru commented on #239
@chengnay Found out why pad button input isn't going through in the API.

Reason is that ControllerState currently requires currentInput2DType to be assigned to something other than None for the IVRModuleDeviceState to read and use currState.GetButtonPress(VRModuleRawButton.Touchpad) and the same for GetButtonTouch (both of which have the correct button state stored already)

But ControllerState f

[2022-11-08 04:06] hdavid-bpg opened #240 "Conflicts with development doing multiplatform"
- Conflicts arise when multiple plugins are used using similar plugins like LitJson.
Platforms like...
   - Meta
   - Pico
- Also I do not know why there was an ambiguous issue with Unity
Assets\HTC.UnityPlugin\ViveInputUtility\Scripts\Editor\VRPlatformSettings\WaveVRSettings.cs(517,29): error CS0104: 'ListPool<>' is an ambiguous reference between 'UnityEngine.Rendering.ListPool<T>' and 'HTC.Unity

[2022-11-28 19:16] tenebris93 opened #241 "Unity crashes when attempting to hit play in the editor"
Hi, I just updated a Unity project I have been working on from v1.13.4 of VIU to v1.17.0. I updated because I wanted to start testing VIU with Open XR. However, recently I noticed that my Unity Editor keeps crashing when I attempt to hit play when I do not have my Oculus Quest headset attached to my PC with Oculus Link mode enabled. This was never the case before I updated VIU. I believe I should

[2022-11-28 20:19] tenebris93 commented on #241
I just started testing some more by building to my headset and noticed by the controller wasn't being detected correctly. It's line render I used for the pointer was floating in 3D space. So I updated Open XR to the latest version which fixes that issue, but now android is showing as disabled in the VIU's settings menu and also it removed the Symbol VIU added. As well as I'm still crashing when tr