[2017-03-29 02:40] bradpinhtc opened #1 "HandRole already mapped"
I binded two controllers to HandRole - right hand & left hand, and connected two unbound controllers. Then, my program will get the error message from ViveRoleMap.cs.

"roleValue(HandRole[1]) is already mapped, unmapping first."

Fix it please...

[2017-03-29 03:06] bradpinhtc opened #2 "Need more flexible binding mechanism"
I bound four devices (i.e. A, B, C, D) to HandRole.RightHand, HandRole.LeftHand, BodyRole.RightFoot, BodyRole.LeftFoot.
Now, I want to temporarily replace device A & B with E & F using the same binding config file, and E & F won't be detected!!(Controller A & B are turned off, C & D are turned on)
I hope the binding not so restrict, especially when there is no bound devices, it should be more conv

[2017-03-29 06:39] lawwong opened #3 "Need ColliderEventTrigger component"
Need a general event handler for ColliderEventCaster (like EventTrigger).

[2017-03-29 07:12] lawwong opened #4 "Need ViveRaycaster on hit result changed event"

[2017-03-30 09:00] bradpinhtc opened #5 "Functions to access device properties"
Want to have some convenient functions to access device properties, like: hardware ID, model name, revision, type,...etc.

[2017-04-06 04:00] #1 closed

[2017-04-06 07:27] ValakhP opened #6 "ToRole<TRole> constantly returns "Invalid""
When using `ViveRoleProperty.ToRole<TRole>()`, it returns `Invalid` everytime.

I guess, that the problem is in line [167](https://github.com/ViveSoftware/viveinpututility-unity/blob/master/Assets/HTC.UnityPlugin/ViveInputUtility/Scripts/ViveRole/ViveRoleProperty.cs#L167):
`if (m_roleType != typeof(TRole) || roleInfo.TryGetRoleByName(m_roleValueName, out role))`

You have `m_roleValueName` paramet

[2017-04-06 11:25] lawwong commented on #6
Thanks, I actually missed a negation operator.
It should be
`if (m_roleType != typeof(TRole) || !roleInfo.TryGetRoleByName(m_roleValueName, out role))`
meaning that **returns invalid if role type not match or the value string not found in roleInfo**.

[2017-04-06 12:34] ValakhP commented on #6
Oh, yeah. My bad. Anyway nice to have it fixed.

[2017-04-07 03:49] #6 closed

[2017-04-07 14:58] lawwong opened #7 "ViveRaycaster not working when application loses focus"
Start from Unity 5.5, [EventSystem](https://bitbucket.org/Unity-Technologies/ui/src/f0c70f707cf09f959ad417049cb070f8e296ffe2/UnityEngine.UI/EventSystem/EventSystem.cs?at=5.5&fileviewer=file-view-default#EventSystem.cs-252) stop updating input modules when application loses focus. And this also stops Pointer3DInputModule and causes ViveRaycaster not raycasting any result.

[2017-04-07 15:38] #7 closed

[2017-04-10 11:46] lawwong opened #8 "Auto adding camera (eye) and it's parent for teleportable.cs values"
Idea from @dariol

[2017-04-11 13:26] lawwong commented on #2
According to [current mapping logic](https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki/ViveRole), role status can list down in following table:

Role status | Mapping device index | Binding device SN | Bound device connected
------------  | ------------------------ | -------------------| ---------------------------
[1] not mapped and not bound | X | X | -
[2] mapped but not bound | O | X

[2017-04-14 06:37] cross6180 opened #9 "ViveRoleProperty StackOverflowException"
StackOverflowException: The requested operation caused a stack overflow.
at ViveRoleProperty.cs:203 and 208

[2017-04-15 20:38] #9 closed

[2017-04-17 07:03] #8 closed

[2017-04-17 09:27] dariol opened #10 "add a settings prefab to handle device role binding"
need to encapsulate the Role Binding Example into a dropin component

[2017-04-17 09:33] dariol opened #11 "define a teleportable area mask"
make it easier to define a teleportable area mask similar to teleport example that uses a texture and a collider

[2017-04-21 12:41] lawwong opened #12 "Crashes when clicking dropdown UI in RoleBindingExample on Unity 5.6"
Seems like UGUI bugs on Unity 5.6, have to find a way to workaround.

[2017-04-27 15:39] #12 closed

[2017-11-19 23:50] bartburkhardt opened #14 "OculusVRModule.cs `Pose' is an ambiguous reference 9 (Unity 2017.2.0.b8)"
When using Unity 2017.2.0b8 I get following error;

Assets/HTC.UnityPlugin/VRModule/Modules/OculusVRModule.cs(107,24): error CS0104: `Pose' is an ambiguous reference between `HTC.UnityPlugin.PoseTracker.Pose' and `UnityEngine.Pose'

To correct I changed into PoseTracker.Pose
Then I get errer that VRSettings can't be found. I changed it into XRSettings
Then again more Pose errors, corrected again u

[2017-11-20 06:14] lawwong commented on #14
Thanks for the report, we missed the OculusVRModule.cs.

Also you can use type alias like
[code]
so you can use Pose in your script.

[2017-11-21 23:17] bartburkhardt commented on #14
I still get 4 errors after these changes;
Assertion failed: Assertion failed on expression: 'false && "unsupported texture format"
Assertion failed: Assertion failed on expression: 'false && "unsupported texture format"
Assertion failed: Assertion failed on expression: 'false && "unsupported texture format"
Assertion failed: Assertion failed on expression: 'false && "unsupported texture format"

[2017-11-25 15:11] Hitomilras opened #15 "UGUI UI flickering when world space"
Hello!

The problem is that UI flickers on World Canvas UI. But, not on all canvases. Only if canvases is moving (in my case - chil object of VR Contorller model).

Can you help me to solve this problem please?

[2017-11-25 15:20] Hitomilras opened #16 "Navigation event doesn't sends if disable laser pointer while pointer above UI element"
If laser pointer is above some UI element (and element highlighted), disabling laser pointer doesnt disable ui element highlights.

[2017-11-26 08:05] lawwong commented on #16
Hi, thanks for your report.
Handling the hover event when disabling the laser pointer is accidentally skipped by [this line](https://github.com/ViveSoftware/ViveInputUtility-Unity/blob/d42380cb3b58ddf94208ed1b44a89d38f72e47aa/Assets/HTC.UnityPlugin/Pointer3D/Pointer3DInputModule.cs#L234). You can simply remove the line or copy from the [fixed file](https://github.com/ViveSoftware/ViveInputUtility-

[2017-11-26 10:18] #16 closed

[2017-11-27 02:36] lawwong commented on #14
Can you help allocate the errors? We can't reproduce the errors on Unity 2017.2.0f3 with OVR v1.20.0

[2017-11-27 03:04] lawwong commented on #15
Can you share a sample scene that can reproduce the problem? There are some similar issue posted on the [Unity issue tracker](https://issuetracker.unity3d.com/issues/ui-images-and-static-texts-glitch-on-5-dot-3), wandering if they are related.

[2017-12-10 20:52] wirelessdreamer opened #17 "How to properly manage multiple tracker and controller presets with role binding"
I have these Roles:
RightHand1
RightHand2
LeftHand1
LeftHand2

I have the default Controller (Left), and Controller (Right) children on my camera rig, and I have duplicated Controller (Left) 1, and Controller (Right) 1 on my camera rig. When RightHand1 is bound to the right controller I want it to be the active controller being used for it, etc.

What is the right way in the framework to tie roles

[2017-12-11 17:38] dariol commented on #17
You can use the binding shortcut (right-shift b) to select which roles to bind to which controllers (including backup controllers) or trackers - however please note that you should be referencing the controllers by role and not by id. So you'll have to look at using ViveCameraRig or ViveRig instead of SteamVR's CameraRig

[2017-12-12 04:51] wirelessdreamer commented on #17
I have the controller roles bound in the gui. I just don't see a way to assign prefabs to those roles. I'm not familiar with ViveCameraRig or ViveRig, where can I find them?

[2017-12-12 14:18] wirelessdreamer commented on #17
Disabling Steam VR_Controller Manager on the camera rig, and putting a Vive Role Setter, and Vive Pose Tracker script on each of the prefabs is all that was needed. Thanks not sure how I missed that before.

[2017-12-12 14:18] #17 closed

[2017-12-13 14:21] wirelessdreamer opened #18 "Updating from SteamVR CameraRig, who to replace SteamVR_Controlelr.Input((int)trackedObj.index)"
Great job on this project, I've been migrating my controller binding over to it lately. Its working great.

I'm having trouble finding what I should update: SteamVR_Controlelr.Input((int)trackedObj.index) to, so I can read input from the device.

[2017-12-13 14:21] wirelessdreamer commented on #18
https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki/ViveRole

[2017-12-13 14:21] #18 closed

[2017-12-14 20:07] wirelessdreamer opened #19 "How to read Velocity and Angular Velocity from devices"
I didn't see anything in the examples about how to read velocity or angular velocity of devices.

[2017-12-14 20:30] wirelessdreamer commented on #19
I've tried using
SteamVR_TrackedObject trackedObj;
trackedObj = gameObject.GetComponent<SteamVR_TrackedObject>();
viveRole = ViveRoleProperty.New(gameObject.transform.parent.GetComponent<ViveRoleSetter>().viveRole);
trackedObj.SetDeviceIndex((int)viveRole.GetDeviceIndex());

and then pulling velocity off of the tracked object, but the index's don't appear to match up.

[2017-12-15 03:40] wirelessdreamer opened #20 "Feature Request - position offset, and rotation offset to the gui"
Add position offset, and rotation offset to the gui, and saved in the config

[2017-12-15 04:41] dariol commented on #19
Hi wirelessdreamer,

Basically VIU replaces the need to use SteamVR_TrackedObject. See the ViveCameraRig or ViveRig prefabs for reference. Also take a look at the guide pdf for details. Basically VivePoseTracker replaces SteamVR_TrackedObject using a role instead of an index. A benefit of using roles allows one to persist devices so that bindings can be re-established across starts easily.

[2017-12-15 04:58] wirelessdreamer commented on #19
I don't see a replacement method to get velocity in VIU, the only reason I tried the above was trying to find ways to get angular and rotational velocity. what is the method to get it with VUI?

[2017-12-15 05:38] lawwong commented on #19
In short cut:
[code]

If you need more detail, you can get them from the device state, which returned from VRModule.GetCurrentDeviceState under HTC.UnityPlugin.VRModuleManagement. We will add VRModule in the document later.

[code]

[2017-12-15 07:26] wirelessdreamer commented on #19
Thank you, thats what I was looking for.

[2017-12-15 07:26] #19 closed

[2017-12-15 18:07] wirelessdreamer commented on #5
This information is all available, see comments in this issue for details: https://github.com/ViveSoftware/ViveInputUtility-Unity/issues/19#issuecomment-351911996

 HTC.UnityPlugin.VRModuleManagement contains the information your looking for.

[2017-12-15 23:44] wirelessdreamer opened #21 "How to send a button press event from a non vive controller."
I have a vive controller mounted to a wireless gamepad, and need to trigger the teleport function from the game pad. tying button press x to start, and button release x to teleport. I've looked at Teleportable and ViveInputVirtualButton, but am not seeing how I should go about it. I've almost got my game updated to this utility for all my input, wish I'd of known about this months ago.

[2017-12-16 03:27] wirelessdreamer commented on #21
Step 1 looks like its showing and hiding the ViveCurvePointers object for the controller, then call OnPointer3DPressExit. I'm trying to work out how to build the event data for it now.

[2017-12-20 05:26] wirelessdreamer opened #22 "Moving the Camera Rig changes the teleport start and end offsets"
attach this script to a vive controller in the teleport demo, move your character around with it, and try to teleport. The origin is not where it should be once the camera rig gets moved.

[code]

[2017-12-20 10:10] fishsama opened #23 "Vibrate the controller and no effect"
Version of Unity3D : 5.5.2f1 & 2017.1.1f1
Version of ViveInputUtility : 1.7.3

Question :
I want to trigger the vibration of the controller by using the api called  "ViveInput.TriggerHapticPulse" but there is no effect.
I have read the VRModuleManager and checked out the "m_activatedModuleBase" is UnityEngineVRModule, the method "TriggerViveControllerHaptic" is a virtual method and there is no imp

[2017-12-20 18:45] dariol commented on #23
Hi Fishsama,

Currently you still need the SteamVR plugin for haptics  The new new Input System from Unity is still a work in progress and we'll add support asap.

[2017-12-22 01:54] fishsama commented on #23
Got it, thanks

[2017-12-23 05:00] wirelessdreamer opened #24 "Microsoft Mixed reality headsets stutter painfully when using ViveCameraRig, work fine with SteamVR CameraRig"
Microsoft Mixed reality headsets stutter painfully when using ViveCameraRig, work fine with SteamVR CameraRig

I currently have to switch the camera i'm using to support mixed reality devices. It would also be nice to be able to select MR devices in the device chooser, Example 7, role binding example.

[2017-12-25 15:47] lawwong commented on #20
Could you describe more detail? Did you mean device offset?

[2017-12-25 15:54] lawwong commented on #22
You should move the "VROrigin" instead of "ViveCameraRig".

[2017-12-25 16:02] lawwong commented on #24
Ok, thanks for the report, will find it out.

[2017-12-25 16:11] wirelessdreamer commented on #20
Vive Pose Tracker has a position and rotation offset. Adding a section to the gui to configure those, and save their settings. I've been in the process of moving my game over to use ViveInput Utility, and away from the SteamVR plugin, as custom controller support is a big part of my game.

[2017-12-25 16:12] wirelessdreamer commented on #24
Thanks, let me know if you want any extra testing from my end.

[2017-12-25 16:12] wirelessdreamer commented on #22
Thanks, I'll give it a go

[2017-12-26 03:30] wirelessdreamer opened #25 "Unexpected results coming from IVRModuleDeviceState"
Creating a function to disable ViveRoleSetter game objects that are not active on successful bind using OnIsValidChanged. all ViveRoleSetter game objects are children of the transform. I initially expected to be able to check if deviceState.isConnectined, and if not, disable the game object, but all game objects showed they were connected, I then was going to work around it by checking if transfor

[2017-12-26 15:42] wirelessdreamer commented on #25
When accessing devices like this all of them are returning the same orientation data.
![image](https://user-images.githubusercontent.com/140221/34359853-7244dc4c-ea29-11e7-808b-a96822b3cecb.png)

[2017-12-26 15:51] wirelessdreamer commented on #25
Related to all this, OnIsValidChanged is being called on objects with a role, that doesn't have any tracked objects bound to it.

[2017-12-27 13:24] lawwong commented on #25
Sorry, more un-documented usage here...

1. If you need to copy role from another ViveRoleProperty, you should use __void ViveRoleProperty.Set(ViveRoleProperty prop)__, or __static ViveRoleProperty ViveRoleProperty.New(Type type, int value)__
[code]
The way you were calling
[code]
is actually calling the overloaded static method __New\<TRole>(TRole role)__, where it only works if TRole is an enum

[2017-12-30 19:14] wirelessdreamer commented on #25
That was the cause of my issue. Thanks again.

[2017-12-30 19:14] #25 closed

[2018-01-04 09:40] dariol commented on #24
hi wirelessdreamer,

I was not able to reproduce your problem, I tried what you mentioned using all the latest:  plugins, Unity, Windows, SteamVR(beta). There was no difference in performance between CameraRig, ViveCameraRig, or ViveRig. No stutter. I even tried without the SteamVR plugin installed with the same result and even ran without Steam/SteamVR at all by targeting UWP i.e. a native Window

[2018-01-23 10:13] fishsama opened #26 "Clickable widgets in ScrollRect"
Version of Unity3D : 5.5.2f1
Version of ViveInputUtility : 1.7.3

Question :
I want to make a button list so I created some buttons in scrollrect, when the raycast points to the button and I try to drag the list, it can not work correctly.

[2018-01-24 11:32] benjaminshp opened #27 "Switch left / right Eye as Display Monitor"
Version of Unity3D : 2017.3.0f3
Version of ViveInputUtility : 1.7.3

Question :
Is it possible to mirror the right eye of the HMD to the Monitor.. ?
At the moment its the left... for shooters using the right eye for aiming,
it would be more impressive...
and my client requested it ;-)

thank you in advance

benjamin

[2018-02-01 14:57] lawwong commented on #26
Sorry for the delay.
Can you provide your steps to reproduce the issue?
And how it doesn't work correctly? Can't receive press event or not slide properly?

[2018-02-05 09:05] fishsama commented on #26
I put some buttons in scrollrect, when I tried to drag down the button-list and it showed the actual function was click, but I have updated ViveInputUtility to version 1.8.0 today and the problem has been fixed.
Thanks for reply

[2018-02-05 09:05] #26 closed

[2018-02-14 16:28] NickZangus commented on #23
Hi! Could you please suggest me which part of the SteamVR plugin I have to include to let the vibration works properly? (if possible, I don't want to include the entire plugin)
Thanks!

[2018-02-14 18:32] sergio-nnz opened #28 "HTC Controllers are spawning on 0,0,0 on version 1.8"
I'am using Steam 1.2.3 and Unity 2017.1
The issue is every time I start the scene the controllers spawn on the scene origin.
![before](https://user-images.githubusercontent.com/17553732/36221132-fb6c2d44-1171-11e8-8dab-30201ac58d22.PNG)
Only when I press the system button, go to the steam dashboard and go then press the system button again to back to my scene the trackers work again.
![after](http

[2018-02-14 19:48] sergio-nnz commented on #28
Don't if it helps but VRModule.HasInputFocus() also initializes as false.

[2018-02-15 07:39] dariol commented on #28
Hi, please try again with the very latest SteamVR runtime (from 2 days ago) - I was not able to repro with Unity 2017.3 and  2018.1beta

[2018-02-15 22:09] CriticalMammal commented on #28
I seem to be running into the same exact issue. I'm updated to the latest SteamVR update (Feb 13th) and running on Unity 2017.3.1. I think this may actually be an issue with the SteamVR update itself though. There are others who were having issues with controllers suddenly not tracking with the newer update, and the suggested temporary solution is using the "openvr-inputemulator-temporary" beta br

[2018-02-21 07:16] CGDriverLi commented on #23
this is very cool ,thank you!

[2018-02-21 07:18] CGDriverLi commented on #2
conld tell me,  what's you stiry!

[2018-02-22 22:17] wirelessdreamer commented on #24
I've only seen this issue in one project, changing over to this plugin from VRTK for another project resolved performance issues the other project was seeing. I believe I saw the issue because of lighting performance issues in the project I opened this issue on.

[2018-02-22 22:17] #24 closed

[2018-02-27 06:33] fishsama commented on #23
@NickZangus Sorry, actually I have changed the plan when got that news, so I haven't tried to use steamVR.

[2018-02-28 17:26] JeffBail commented on #28
I'm having the same issue with Unity 2017.3.0f3 and SteamVR 1518226924. Jumping into the SteamVR menu and then back out again seems to fix it and the controller models begin tracking. Please note that the date isn't a great way to identify your Steam VR version as the official announcement (http://store.steampowered.com/news/externalpost/steam_community_announcements/2363697377468531896) is dated

[2018-03-01 12:40] lawwong commented on #28
#29
Sorry guys, it was a typo.
060892490f18f041c24896edc617bceeeb3fa37a
Please apply the change, should fix it

[2018-03-06 21:33] Hitomilras opened #30 "How to use simulator?"
I think that this asset is a little bit outdocumented... Really..
You added simulator, but how to use it? Any examples? Nothing :(

help please...

[2018-03-07 11:39] lawwong commented on #30
The control key mapping at the last section of the [release not](https://github.com/ViveSoftware/ViveInputUtility-Unity/releases/tag/v1.8.0), its not in the document yet, sorry about that.

Basically you use ASDW to move around HMD or devices, and move your mouse to change their orientation.
But you can only control one device at a time.
To switch controlling device, press keyboard number keys [0~

[2018-03-07 22:10] wirelessdreamer commented on #30
How do you disable the simulator, when I'm running builds and steamvr isn't active, its starting the game up with the simulator active, which is undesirable.

[2018-03-08 05:12] lawwong commented on #30
@wirelessdreamer
You have to disable it in settings window.
![VIUSettings](https://github.com/ViveSoftware/ViveInputUtility-Unity/raw/gh-pages/assets/img/viusettings_preview_01.png)

[2018-03-08 05:18] lawwong commented on #30
f976f9d08499a340ddbba3f4b3d72fc704775975
This commit fix a possible bug that causes project doesn't save the setting changes.
You may have to edit VIUSettings.asset manually or update to v1.8.0.4 before we release v1.8.1 asap.

[2018-03-08 10:18] #28 closed

[2018-03-08 19:43] wirelessdreamer commented on #30
Thanks.

[2018-03-08 20:15] wirelessdreamer opened #31 "Tracker Vibration behaves differently then controller vibration using SteamVR"
Here is the test scenario:

Load the role binding example
create a game object and put 2 copies of the attached script on it
set one of them to Bodyrole->Right hand, and one of them to TrackerRole->Tracker1
bind a vive controller to right hand, and bind a tracker to tracker 1
a hyperblaster is a simple device to test with, but an oscilloscope will show the same results, and a multi meter will veri

[2018-03-08 20:16] wirelessdreamer commented on #21
Thanks, this helped me get external input working, and forgot to close the issue before.

[2018-03-08 20:16] #21 closed

[2018-03-08 20:33] wirelessdreamer opened #32 "How to disable grab and scroll on UI elements"
With UI elements that have a vertical or horizontal scroll box, and trying to click on items in the scroll box, the only consistant way I've found many users are  able to click on them is with higher pose easer, and pose stabalizer script values, but that makes the ui feel very sluggish.

The issue stems from as most users are clicking, their cursor is moving a tiny about, we're using the touchpad

[2018-03-09 07:35] lawwong commented on #32
Do you mean disable ScrollRect dragging only?
You may try this
https://forum.unity.com/threads/scroll-rect-disable-dragging.303841/

[2018-03-09 07:50] lawwong commented on #32
For example
[code]
You can even keep the editor

[code]

[2018-03-09 12:52] wirelessdreamer commented on #32
I just tried that solution, and result from it still doesn't give the behavior i'm trying to get, its still awkward for users to select elements on a large list. The best solution would be to be able to send the click even sooner on button press, like having a limit on the analog trigger, and sending the button press before the button is all the way down, I'm just not sure how to implement that wi

[2018-03-09 14:15] benjaminshp opened #33 "Canvas lag tracker position in build"
Hi folks,

at the moment with 1.8.0 an attched canvas lag to the tracker. I think this was an issue before,
but was fixed. Now it appears again... but only in the build not in the editor... in the editor play its ok...
any suggestion to try out ?

I have tried. lateupdate, FixedUpdate, Update...

thank you in advanced..

benjamin

[2018-03-10 05:24] lawwong commented on #32
If you are using VivePointers prefab, find ViveRaycaster component under VivePointers>Right/Left>PoseTracker>EventRaycaster .
Here you can change behavior to emit "Mouse Button Left" event.
You may try Trigger, TriggerTouch, HairTrigger, FullTrigger to see which behavior works better for user.

[2018-03-10 07:06] lawwong commented on #33
Which version of Unity Editor and SteamVR plugin did you use?
I haven't test in all version but 2017.3 with SteamVR plugin v1.2.3 seem working fine in both editor and build.
Also it is recommended to use VivePoseTracker.

[2018-03-12 11:13] benjaminshp commented on #33
I have updated to the latest Versions..
Unity Editor Version 2017.3.1f1
Steam VR Version Plugin Unity 1.2.3
Vive Input Version 1.8,1

I have attached the Vive Pose Tracker Script to a GameObject...

GameObject (Vive Pose Tracker)
++ Center GameObject
++++ Camera -> Target Texture
++ Canvas
++++ HUD with Camera View (Target Texture)
++++ Rectangle following Object of the Scene
(lagging in the build

[2018-03-12 14:54] wirelessdreamer commented on #32
I've tested a couple different times, and am not noticing the behavior change no matter which type of trigger input I select.

[2018-03-13 15:41] Dori12 opened #34 "How can I change FOV"
FOV의 값을 변경하는 법이 뭔가요?
저는 zoomfactor의 값을 변경해봤습니다.
그러나 기본값에서 축소 확대만 가능할 뿐이고 FOV를 기본값보다 증가시키지는 못합니다.
저는 FOV를 마음대로 바꾸고 싶습니다.
제발 도와주시기 바랍니다. 감사합니다.

How do I change the value of FOV?
I changed the value of the zoomfactor.
However, it only allows zooming in by default and does not increase the FOV beyond the default.
I want to change FOV freely.
Please help me. Thank you.

[2018-03-17 18:27] lawwong commented on #33
Not sure if I reproduce your scene correctly...
(Didn't have Vive Tracker around so I use controller instead)
[Tracked Canvas Image](https://drive.google.com/file/d/1rf-riaD66Hw7Vc0MmsAKV0nVQWZQVySd/view)
I run the build with [2017.3.1p3](https://unity3d.com/unity/qa/patch-releases/2017.3.1p3), but the tracking is fine.
Maybe update from f1 to p3 and try again?

[2018-03-19 18:16] wirelessdreamer commented on #32
I found a better way to clarify the issue.
open example 7: RoleBindingExample

define your controller, and change the Event Raycaster Mouse button left to any of the trigger function. They all only fire after the trigger has been released. The solution to the issue is to fire the click even as soon as the trigger starts moving down, as opposed to only on release.

Where would be the right place to

[2018-03-21 02:50] wirelessdreamer opened #35 "Version 1.8.1 Controllers dissapearing"
I've seen multiple times while testing release 1.8.1 my controllers disappear, every time it happens this is the error spamming the console.

NullReferenceException: Object reference not set to an instance of an object
HTC.UnityPlugin.VRModuleManagement.VRModule.GetShouldActivateModule () (at Assets/HTC.UnityPlugin/VRModule/VRModuleManager.cs:144)
HTC.UnityPlugin.VRModuleManagement.VRModule.Update

[2018-03-21 03:37] lawwong commented on #32
I think I got it.

Just add event for IPointerDownHandler to UnityEngine.UI.Button
[code]
Add editor as well
[code]

The reason why UnityEngine.UI.Button doesn't fit your use case is because it implement IPointerClickHandler, and the behavior you described is exactly what PointerClick event designed to be. See [Standalone Input Module Source Code](https://bitbucket.org/Unity-Technologies/ui/src/a3

[2018-03-21 04:08] lawwong commented on #35
Thanks for the report. I also have this problem but not always.
Could you help try if adding "if (!IsInstance) { return; }" to line 92 ?
[code]
Will commit the changes if this works.

[2018-03-21 06:00] lawwong commented on #31
Thanks, I've forwarded this issue to hardware related team. Will reply later.

[2018-03-21 09:20] lawwong commented on #34
"Each Camera that is rendering to the device automatically replaces the FOV of the Camera with the FOV that the user input in the software settings for each VR SDK. The user cannot change the field of view during runtime, because this behaviour is known to induce motion sickness."
https://docs.unity3d.com/Manual/VROverview.html#UnderstandingTheCamera

What is the use case you need to change the FO

[2018-03-21 09:27] lawwong commented on #31
https://dl.vive.com/Tracker/Guideline/HTC_Vive_Tracker_Developer_Guidelines_v1.6.pdf page 27
Turns out that strength(duration) for tracker is in millisecond, instead of microsecond.

[2018-03-21 09:29] lawwong commented on #31
So 2 second duration with 0.5 second interval causes the raising signal overlapped, which its behavior have't been defined.

[2018-03-21 13:40] wirelessdreamer commented on #31
that was my issue. strength == duration. I didn't see they were the same thing. making sure strength is always less then the interval, and I have no issues. Ran tests on an o-scope with .2 second interval and .1 second pulse length and saw what I expected. Thanks.

[2018-03-21 13:40] #31 closed

[2018-03-21 13:42] wirelessdreamer commented on #32
We implemented something very similar to this as a workaround last week. We'll take our workaround as the right solution then. Thanks :)

[2018-03-21 15:05] wirelessdreamer commented on #22
This was the issue. Thanks.

[2018-03-21 15:05] #22 closed

[2018-03-21 15:05] #32 closed

[2018-03-22 13:09] wirelessdreamer commented on #35
I was waiting yesterday for this but to pop up again before putting that change in, but didn't see it, I'll make a ticket update once I get back to a place where I'm seeing the issue happen, so I can test the fix in the correct conditions.

[2018-03-26 12:31] ziiCz opened #36 "ViveRole -> BodyRole -> Foots"
Hello!

I try to use the left foot and the right foot with Vive Trackers, but they are never assigned as foot.
I use the BodyRole on them and assign the left and right foot on their GameObject.

This feature is operational or I forgot something?

Thank you in advance.

[2018-03-27 06:50] lawwong commented on #36
Without bindings, BodyRole will only roughly mapping tracking devices according to their tracking position (related to hmd) whenever a controller or tracker is connected.

So either make sure your hmd and trackers are connected and in right position before game started playing, or call HTC.UnityPlugin.Vive.ViveRole.DefaultBodyRoleHandler.Refresh() manually to remapping BodyRole on demend.

But we

[2018-03-27 07:47] ziiCz commented on #36
Yeah, I'm sure that my hmd and trackers are connected before game start.

I think the problem comes from the IsFoot() function from the BodyRole class. This function already returns false.

I don't want to use bindings. I need the configuration to be done automatically at startup.

This is why I want to use the BodyRole class without default bindings.

I have called the HTC.UnityPlugin.Vive.ViveRo

[2018-03-27 08:05] lawwong commented on #36
I see.

You can customize auto-mapping logic by implementing __ViveRoleHandler\<EnumType\>__ and replace the default handler by calling __ViveRole.AssignMapHandler()__.
For Example:
[code]

[2018-03-27 14:19] lawwong commented on #36
BTW, VIU only have roughly mapped BodyRole, may not work on certain cases. It will be very grateful if you share your BodyRoleHandler implementation to public.

[2018-03-28 01:59] nantianliao opened #37 "All items under ScrollRect receive no events"
For example, a button under ScrollRect, although it responds to clicking animation, can't trigger anything other than that. My device is Vive Focus.

[2018-03-28 03:44] wirelessdreamer opened #38 "How to identify VR Hardware Make when Role binding in BodyRoles.cs"
I'm borrowing a rift from a friend to make some software updates, the 1st issue I ran into when I started testing, is the controller angle is vastly different of a rift controller, compared to a vive. I've already created new objects to bind them to, but on rift controllers I want to on device init,bind them to the other objects in BodyRoles.cs I'm just not sure what variable to check for me to kn

[2018-03-28 07:59] ziiCz commented on #36
We agree that the BodyRole does not work completely. No problem, if I find a good implementation I will share it.
Thank you for your answers.

[2018-03-28 16:33] mybmgithub opened #39 "`HTC.UnityPlugin.ColliderEvent' already contains a definition for `IColliderEventHoverExitHandler'"
Uninstalled the old folder for VIU.

Added under Assets (same place) this update.

Now seeing this error message.

15] Assets/HTC.UnityPlugin/ColliderEvent/ColliderEventInterfaces.cs(12,22):
error CS0101The namespace `HTC.UnityPlugin.ColliderEvent' already contains a definition for `IColliderEventHoverExitHandler'

[2018-03-28 16:40] mybmgithub commented on #39
How I fixed it.
Removed related assets in the Gizmos folder as well. Brought this package back in. Now it's working.

[2018-03-29 08:17] lawwong commented on #38
The controller rotation is get from UnityEngine.XR, VIU doesn't change it.
But OpenVR+OculusTouch does "correct" them. (Though I don't think there is a "correct" controller pose)
Any suggestion about this issue?
What first come into my mind is adding a boolean option under OculusSupport like "Align controller rotation with VIVE"? What do you think?

And for identifying hardware, VRModule.GetDevice

[2018-03-29 09:47] nantianliao commented on #37
Thank you. The button has responded. In the same way, ScrollRect will not respond. Is there a better way to solve the conflict between them?

[2018-03-29 12:49] wirelessdreamer commented on #38
I'm more trying to find out, is this an rift controller or vive controller. I'm not having any trouble is device orientation. Full trigger press also doesn't seem to be reading from the rift.

[2018-04-01 17:42] wirelessdreamer opened #40 "How to deal with known vibration on trackers."
I'm working on building a controller that will experience known heavy vibration, and want to turn off reading input from the tracker for a fixed amount of time (in ms) so the tracker doesn't jump all over the place. A few months ago when I started looking into Vive Input Utility someone told me that function already existed in this library, but I've been unable to locate it.

Does it exist, and wh

[2018-04-02 09:30] lawwong commented on #37
You mean you can't drag ScrollRect now?
I suggest add a background image to the buttons as a draggable zone.

If you have to drag & click at the same time (which I don't recommend, it's kind of an odd behavior).
Try this
[code]
UnityEngine.UI.Button only response to IPointerClickHandler, which will be canceled if it's parent received Drag event.
So here override OnPointerClick with OnPointer3DPres

[2018-04-25 16:08] subzero911 opened #41 "Multiplayer support"
Is your plugin intended for multiplayer?
I use simulator mode. I tried to spawn Camera Rig with Network Identity, Network Transform and Network Transform Child components, and joysticks and trackers are spawned but aren't shown in other game instance.

[2018-04-27 18:00] dariol commented on #40
I'm assuming you are referencing the low pass filter configuration which has unfortunately has been removed for Vive Tracker 2018 (V2).

But you can still find the details in the older documentation on page 27:
https://dl.vive.com/Tracker/Guideline/HTC_Vive_Tracker_Developer_Guidelines_v1.5.pdf

This wasn't wrapped by VIU (not sure why you were directed here) but can be implemented following the U

[2018-05-02 20:19] subzero911 opened #42 "VRTK support"
Is it possible to combine your plugin with VRTK? I like their mechanics (levers, doors, climbing etc.) but I prefer your way of getting input (like "ViveInput.GetPressDown(HandRole.RightHand, ControllerButton.Trigger)" instead of VRTK event-driven input) and also your simulator is much better.

[2018-05-03 21:36] JasonZX12R opened #43 "Scaling problems"
When scaling the components the pose tracking does not work correctly.

[2018-05-07 03:48] lawwong commented on #43
Thanks for finding the bug, [RigidPose](https://github.com/ViveSoftware/ViveInputUtility-Unity/blob/47cfb6356a0f64cbce43b9f6bb2f74ef0c99fb99/Assets/HTC.UnityPlugin/Utility/RigidPose.cs#L147) at line 147 should be
[code]
Please let us know if this fix your problem.
We will add this fix in the next update.

[2018-05-25 02:10] wirelessdreamer opened #44 "Oculus Rift Device identification is not consistant"
I recently started testing for rift support, sometimes the rift controllers are identified as one device, and at other times they get identified as a different rift device. The issue this creates is they have a different rotation offset for each, so the controller angles are incorrect they they detect as the other devices.

Has anyone else seen this behavior, or know of a way to resolve it? its al

[2018-05-29 17:42] JeffBail opened #45 "Changing the distance of dragged objects"
I really like the way Oculus Dash allows you to pick up a window, drag it around and then move it closer or further away from you so you can hang it in just the right position and size. I'm going to play around with adding support for this in Draggable.cs from the 3DDrag example. Although I'm using Dash as an example I'm not planning on working with windows or desktops from the OS; I'm just going

[2018-05-30 18:58] JeffBail commented on #45
I've made some progress on this and I'll submit a pull request when I have something put together.

[2018-06-03 17:01] andybak opened #46 "Document usage with Wave/Focus"
I only knew there was support in VIU for the Focus because a mod on the Wave SDK forum told me.

There's nothing in the docs to indicate this and no info on how to handle the unique aspects of the Focus.

The docs could do with expanding in general.

It might even be time to consider a name change - calling this "Vive Input Utility" reminds me of the joke about the Holy Roman Empire - it was neith

[2018-06-13 09:59] lawwong commented on #45
6ba68b49ac90d2dbfc64e2735d2e5b09b772734c

[2018-06-13 09:59] lawwong commented on #43
ddb3478c84b66431e61d81583f17a101003f4bdf

[2018-06-15 07:00] lawwong opened #47 "WaveSDK download page URL out-of-date"
Please use [https://developer.vive.com/resources/knowledgebase/wave-sdk](https://developer.vive.com/resources/knowledgebase/wave-sdk) instead.

[2018-06-22 10:21] chengnay commented on #44
We would like to know your environment settings.
Do you have SteamVR plugin or Oculus plugin imported into your Unity project?
What is your Unity version?

[2018-06-25 07:41] chengnay commented on #44
From our investigation, the above behavior is by design.
Serial number of Rift controller will show differently if developer does not install SteamVR plugin.
You might have saved Role Binding config file before installing SteamVR plugin.

[2018-06-25 11:55] wirelessdreamer commented on #44
The SteamVR plugin was installed for all tests that were ran, yet on sequential runs, different device names were shown. Without changing any plugins installed, both of the above device names were identified on sequential runs.

[2018-06-26 08:39] chengnay commented on #44
We would like to know your settings in VIU Settings?
Did you check both VIVE and Oculus Rift & Touch?
Does your Oculus Touch controller keep changing its identification every time you ran your test?
The "WMHD302M200V01_Controller..." serial number is provided by SteamVRModule, where "Oculus Rift CV1..." is provided by UnityEngineVRModule or OculusVRModule.

[2018-06-28 03:01] wirelessdreamer commented on #44
Both Vive and Oculus are selected

Once how the device is detected changes, it stays changed for a while. I haven't noticed a pattern of when it changes back and forth.

Is there a way I can force rift to always use one of the other?

[2018-07-04 08:59] lawwong commented on #44
That strange... suppose Unity will always try loading Oculus SDK before OpenVR SDK
![xr_settings_oculusvr_openvr](https://user-images.githubusercontent.com/2704517/42020163-a9c8a88c-7ae9-11e8-992a-c0c433d96c68.png)

If you found out the pattern switching between modules please tell us, or report to Unity.
VIU's VRModule activated depends on UnityEngine.XR.XRSettings.loadedDeviceName.

Before we ca

[2018-07-05 02:36] Zvirtuosity commented on #23
To resolve the issue. you just import steam plugin from unity assetstore then call ViveInput.TriggerHapticPulse(HandRole.LeftHand); , and evething will be fine;

[2018-07-05 02:36] Zvirtuosity commented on #23
@NickZangus

[2018-07-18 19:29] munro-riley opened #48 "Method OnPointerClick only triggers when pad is being held down"
For our project we have the basic teleport script added and working based off of the pad button. We also wrote a simple OnPointerClick script that just sends a message to the console and attached to a mesh.

[code]

The console only logs 'worked' when I'm holding the pad down as well as the trigger. It doesn't work on trigger only like it should.

[2018-07-23 18:02] JeffBail opened #49 "Make Draggable.cs scroll delta tunable in the Editor"
I'm working on a quick fix to make the scroll delta a member of Draggable.cs so it can be easily tuned. Objects which are far away really need a larger delta so they can be more easily moved.

[2018-07-23 18:10] JeffBail commented on #45
Thanks so much for refactoring this class with the scroll support and sorry I never submitted a PR for my work; although the prototype was working I didn't get the chance to fully debug it. I did submit Pull Request #50 for Issue #49 which is a simple fix to allow the scroll delta to be tuned. I found that in my scene I had objects that were really far away which were difficult to scroll effective

[2018-07-31 08:34] lawwong commented on #48
I assumed that you worked on the teleport scene?

In the ViveCurvePointers prefab, the curved pointer only enabled when trackpad button help down.
This is controlled by ViveInputVirtualButton script, remove it and enable the pointer then it should stay appeared.

(Notice that pointer doesn't send any messages when it is disabled)

You can try adding your test script to the UIButton in example 0, a

[2018-08-07 18:50] munro-riley commented on #48
Solved, we ended up just writing our own controller manager based on the sample.

[2018-08-20 15:14] wirelessdreamer opened #51 "Microsoft Mixed reality headsets don't show up in input selection, and can't be managed by tool"
Any plans to add support for mixed reality controllers support through SteamVR?

[2018-08-22 09:12] #45 closed

[2018-08-22 09:12] #49 closed

[2018-08-24 14:30] andybak opened #52 "Upgraded to Unity 2018.2 now the display flickers really badly"
Not sure whether it was the Unity upgrade as I also upgraded the Wave SDK.

A simple test scene shows severe flickering on a HTC Focus. Removing the VIU prefab and using the prefab from the Wave SDK fixes it.

[2018-08-27 15:35] wirelessdreamer commented on #35
I have not seen this issue in months.

[2018-08-27 15:35] #35 closed

[2018-08-27 15:37] wirelessdreamer commented on #27
I've been looking for a performant way to handle this as well. I'm pretty sure its just a unity issue, and has nothing to do with this package, as in the editor you can select the eye to display, but if you try to handle it by creating another camera, and targeting main display its a major hit.

[2018-08-27 17:39] wirelessdreamer commented on #27
Awesome, i missed that update. @benjaminshp this should be all you were looking for, good to close it?

[2018-08-29 01:52] wirelessdreamer commented on #27
@dariol I may of jumped the gun, when I went to implement that, all it looks like it is doing is changing target eye on the camera from both, to the eye that is specified. What @benjaminshp and I were looking for is to set this property from the default of left, to right:
![image](https://user-images.githubusercontent.com/140221/44760415-af12c400-ab0c-11e8-9b32-b0e63489d1d5.png)

[2018-08-29 04:53] bddckr commented on #27
It's just the wrong API. That one defines what is rendered altogether.

The API to use to change what is viewed in the Game View or in the build's main window is [`XRSettings-gameViewRenderMode`](https://docs.unity3d.com/2018.2/Documentation/ScriptReference/XR.XRSettings-gameViewRenderMode.html).

[2018-09-04 02:52] lawwong commented on #51
You mean not shown in VIU Settings support device list?
We haven't try it but expecting that check the "VIVE (OpenVR compatible device)" should also work on the Microsoft MR headsets.

[2018-09-04 07:27] lawwong commented on #52
Thanks for the report!
Wave VR team have known the issue and are working on that.
Seems like Wave VR has a render issue with Unity 2018.1 causes black-out/flickering when first time running the apk.

BTW, you mean you worked around by replacing the prefab? Could you share your fixed scene?

[2018-09-04 10:37] andybak commented on #52
I worked around it by not using VIU. So it's only a workaround in the sense that it proves the issue is with VIU and not the Wave SDK itself.

At this point we've switched to targeting the Lenovo Mirage so it's not urgent from my perspective.

[2018-09-04 12:11] wirelessdreamer commented on #51
when running example scene 7, and a role can be assigned to the headset, or controllers, nothing shows up when using a mixed reality headset.

[2018-09-13 11:50] lawwong commented on #51
0d37c13 should fix it

[2018-09-13 17:51] wirelessdreamer commented on #51
I just pulled the current code and tested in 2018.2.0f2 I'm not sure if this is related but as soon as I enter the project using a mixed reality headset  in steam vr, my headset and controllers show up at the start, within i have the laser pointer and reticle showing up, i try to point and click and the + icon, but when I pull the trigger it tries to teleport, and does not click on the +. after tr

[2018-09-16 00:53] wdslatter opened #53 "Wave SDK Controller does not follow headset"
Using unity 2018.2 and the latest wave SDK the controller remains in place even when the user physically walks in space. This occurs in the teleporting sample scene provided. It seems that the controller spawns at the location of the head, and then does not move? Not sure if I am missing something, but as it does not work in the sample scene I'm guessing there is a problem.

[2018-09-19 07:10] lawwong commented on #53
Latest release (v1.9.0) should fix the problem.
Let us know if doesn't ~ thanks!

[2018-09-19 19:40] wdslatter commented on #53
Perfect thank you, seems to be fixed!

[2018-09-19 19:40] #53 closed

[2018-09-25 19:32] ryklin commented on #52
I'm experiencing this problem as well. Have not been able to find a good workaround.

The flicker is present when the app first launches; either after the Focus is booted, or the app is first deployed from Unity. Exiting the app through the home button and then launching it again is a temporary solution that eliminates the flicker. That's why I don't think it's necessarily a Unity 2018.1 rendering

[2018-09-26 08:05] lawwong opened #54 "Doesn't work with SteamVR Plugin 2.0"
SteamVR Plugin 2.0 have lots of changes, we are working on supporting it.
Before we fix it, you will have to use the provious version
https://github.com/ValveSoftware/steamvr_unity_plugin/releases/download/1.2.3/SteamVR.Plugin.unitypackage

[2018-09-27 15:55] mikelortega commented on #54
Good to know, I've just met this problem. Please, keep us informed, thank you!

[2018-09-28 17:52] Artemu25 opened #55 "HTC Vive Focus - No logs"
Hello! Trying to build .apk on HTC Vive Focus and everything is fine except the fact that it doesn't print logs from Debug.Log() function.

[2018-10-01 07:25] reneWoVR opened #56 "Daydream Controller Support"
Hello together,

I tried to build a version for the mirage on the daydream platform with the VIU SDK. The HMD is working as expected but the controller is not tracking.

Maybe i missed something or is this a knowing bug?

I am thankful for any help.

[2018-10-03 05:51] chengnay commented on #55
By default, VIVE Focus disabled the debug log, please try following command to enable it.
adb shell setprop log.tag.Unity DEBUG

[2018-10-03 09:06] lawwong commented on #54
Fixing the namespace/API changes is easy...
But the critical issue is that v2 blocks the classic way to get controller button state
https://github.com/ValveSoftware/steamvr_unity_plugin/issues/128

[2018-10-03 09:12] lawwong commented on #54
https://github.com/ViveSoftware/ViveInputUtility-Unity/tree/improve/steamvr200support
This branch fix the symbol and API changes issue.
But currently there are no input events yet (tracking only)

[2018-10-03 09:14] #14 closed

[2018-10-03 09:15] lawwong commented on #30
https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki/Simulator

[2018-10-03 09:15] #30 closed

[2018-10-04 02:50] chengnay commented on #56
Can you share which version you are using for VIU SDK and Google VR SDK?

[2018-10-04 07:29] reneWoVR commented on #56
Hey, yes sure, sorry I missed it in my previous post.

For both i used the latest version, for VIU its 1.9.0 and for the GoogleVR its 1.170.0.
I made a fresh installation for both sdks, unfortunately the controller is still not working.
But the recentering and the home button from the controller IS working, only the transformation isn't mapping at runtime.

best greetings

[2018-10-04 07:32] chengnay commented on #56
It seems GoogleVR SDK change the method of getting the controller position.
We will fix it ASAP.
Thanks for reporting this issue.

[2018-10-04 08:27] reneWoVR commented on #56
Thank you for your effort

[2018-10-04 10:21] lawwong commented on #56
We've pushed the modification.
Please help try if it works for you, thanks.
You can either download from latest commit or import from this patch package
[ViveInputUtility_v1.9.0.1patch.unitypackage.zip](https://github.com/ViveSoftware/ViveInputUtility-Unity/files/2445924/ViveInputUtility_v1.9.0.1patch.unitypackage.zip)

[2018-10-05 02:37] #56 closed

[2018-10-14 00:45] ryklin opened #57 "Post Processing Effects"
Does anyone know if the latest Wave SDK 2.0 supports simple post processing effects like blur? I'm using the ViveInputUtilty and added my Blur and Post Processing behavior to the ViveCameraRig prefab, but it doesn't work on the Focus.

[2018-10-16 03:57] chengnay commented on #57
Are you thinking of supporting multiple platform devices(HTC Focus, HTC VIVE... etc)?
Currently, my suggestion to this issue will be adding your post processing effects to both eyes in WaveVR prefab to support WaveVR device.
We might need some time to fix issue for supporting multi-platform devices.

[2018-10-16 07:52] chengnay commented on #57
First, you can manually add WaveVR_Render to Camera and click Expand.
![2018-10-16_154931](https://user-images.githubusercontent.com/33050705/47000603-32d74d00-d15b-11e8-866e-04dbff1a61fb.png)
Then, you add your post processing effects to Eye Right and Eye Left.
![2018-10-16_155011](https://user-images.githubusercontent.com/33050705/47000605-32d74d00-d15b-11e8-8e96-9151fb87110c.png)

[2018-10-18 01:57] wdslatter opened #58 "Spelling error"
Minor issue, but in preferences the check box for the 3dof virtual arms says 'Airtual' instead of virtual. (unless this is some jargon I haven't encountered before!)

![image](https://user-images.githubusercontent.com/25707699/47126671-72c33080-d23e-11e8-8392-a27fa1f2292d.png)

[2018-10-23 06:02] junglee372018 opened #59 "UI Interaction using controllers in unity 2018 using Steam VR 2.0"
Hi,

I have downloaded the latest steam VR plugin 2.0 and VIVE UTILS from the asset store,The UI interaction like button click is not working.Tried all possible work around,checked all options inside unity,but still could get the UI Interaction work.Even the default UI scenes provided by the VIVE UTILS does not work.

Kindly help me out in making the Steam VR Work with UI Interaction.

Thank You

[2018-10-23 09:44] chengnay commented on #59
https://github.com/ViveSoftware/ViveInputUtility-Unity/issues/54#issue-363904294
Currently, we are working on this issue.

[2018-10-24 05:19] Porco24 opened #60 "1.8.2，guideline far distance"
if far distance is 2000, steamVR won't startup

[2018-10-25 09:02] chengnay commented on #60
Can you provide more information listed below,
Which Unity, VIU and SteamVR plugin version?
Which scene did you try?

[2018-10-26 06:16] lawwong commented on #58
Will fix in next update, thanks!

[2018-10-29 10:29] Porco24 commented on #60
sorry, i find out it just steamvr setting problem
my classmate carry my computer to other city and run the project,
he delete steamvr and install an other steamvr and did't set right,
sorry for this stupid problem :(

[2018-10-29 18:18] chensida13 commented on #54
does"SteamVR_Controller.Input((int)OpenVR.k_unTrackedDeviceIndex_Hmd).GetPressDown(EVRButtonId.k_EButton_ProximitySensor)" allow me to access proximity sensor? Seems it's always returning false during testing.

[2018-10-29 19:21] chensida13 commented on #54
@lawwong I tried to use the package you provided to access proximity sensor input. It worked when I import the package to a fresh new unity project. But the same code did not work for me when I import the package to my existing project. Any idea how to solve this problem?

[2018-10-30 01:57] #60 closed

[2018-10-30 08:32] hsinpa commented on #55
Open up WaveVR_Log.cs, and make its class public.
After that just call WaveVR_Log.Log.d({tag}, {message}) to replace Debug.Log

[2018-10-30 20:34] dave1nova opened #61 "Dropdown Item Clickability"
I had the ability to  click a dropdown but was unable to select any items in it.  After much trial and error I added an additional Canvas Raycast Target script to the dropdowns content child.  Now the dropdown works as expected.
![capture2](https://user-images.githubusercontent.com/7014287/47748454-16054400-dc48-11e8-8944-b500ccd25172.PNG)
![capture](https://user-images.githubusercontent.com/70142

[2018-11-07 09:34] Nobinator opened #62 "Assembly definition files"
.asmdef will be really helpful for handling dependencies.
https://docs.unity3d.com/Manual/ScriptCompilationAssemblyDefinitionFiles.html

[2018-11-08 03:36] pdl123 opened #63 "ViveInput.TriggerHapticPulse no effect!"
How should I use this feature ?with version 1.9.

[2018-11-08 03:37] pdl123 opened #64 "TriggerHapticPulse"

[2018-11-08 09:54] chengnay commented on #64
Can you provide below information,
Which Unity version?
Which SteamVR Plugin version?
Which VIU version?

[2018-11-08 10:08] pdl123 commented on #64
Unity version with 2018.2.14f1, SteamVR Plugin version with ver2.0.1,VIU version with ver.1.9.0.

------------------ 原始邮件 ------------------
发件人: "ChengNan Yang"<notifications@github.com>;
发送时间: 2018年11月8日(星期四) 下午5:54
收件人: "ViveSoftware/ViveInputUtility-Unity"<ViveInputUtility-Unity@noreply.github.com>;
抄送: "哈哈哈"<1443893035@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [ViveSoftware/ViveIn

[2018-11-08 10:14] chengnay commented on #64
https://github.com/ViveSoftware/ViveInputUtility-Unity/issues/54#issue-363904294
Currently, we are working on this issue.

[2018-11-09 06:38] junglee372018 opened #65 "HTC vive touch pad inputs"
Hi
I want to implement radial menu using the ViveInputUtility plugin. Tried so many ways to get touchpad axis values but couldn't get the values.

Kindly help me in getting touchpad axis values.

Thank you.

[2018-11-09 06:52] chengnay commented on #65
Can you provide below information,
Which Unity version?
Which SteamVR Plugin version?
Which VIU version?

[2018-11-09 06:55] junglee372018 commented on #65
Unity v2018.1.6f1 and viveInputUtilities plugin v1.9.0

[2018-11-09 08:01] chengnay commented on #65
Did you try out the UGUI example scene?
The scroll view you can simply use the trackpad to move around.

[2018-11-09 08:29] junglee372018 commented on #65
Yes, i have tried UGUI scene. In that scroll view is working automatically, no script attached to detect the touchpad inputs.
i want to read the touchpad vector values in order to work with radial menus [this](https://d2ujflorbtfzji.cloudfront.net/package-screenshot/16153132-c40b-45ca-a054-db6d37c60c41_scaled.jpg).

[2018-11-09 08:33] junglee372018 commented on #65
yeah, it worked.

Thank You

[2018-11-09 08:33] #65 closed

[2018-11-15 20:37] Shocoben commented on #23
Hi guys, Hi @Zvirtuosity

I imported SteamVR plugin, used ViveInput.TriggerHapticPulse(HandRole.LeftHand);

But there is still no effect

I ve noticed the VIU_STEAMVR_1_2_3_OR_NEWER in the compile header

To be sure that the compile header was taken in account, I forced the recompilation. But still no vibration on the controllers :(

Do you have any idea why ? I have version 1.9 and Unity 2017.4.1

[2018-11-15 20:55] Shocoben commented on #63
Duplicate of https://github.com/ViveSoftware/ViveInputUtility-Unity/issues/23

[2018-11-15 20:55] Shocoben commented on #64
Duplicate of https://github.com/ViveSoftware/ViveInputUtility-Unity/issues/23

[2018-11-19 13:38] castana1962 opened #66 "Examples Problems in HTC Vive Headset and its controllers"
Hi
I am trying this Vive Input Utility with HTC Vive Headset and its controllers and when I run the Tutorial scene for example , first I can see the scene very well but after some seconds The controllers disappear and I got the following Error

HTC.UnityPlugin.VRModuleManagement.VRModule.GetShouldActivateModule () (at Assets/HTC.UnityPlugin/VRModule/VRModuleManager.cs:146)
HTC.UnityPlugin.VRModule

[2018-11-24 17:40] wirelessdreamer opened #67 "How to enable vive hardware without lighthouse base stations"
I'm doing some testing using an optitrack system for tracking, but still want to use my vive pro for the image, and trackers for input, but am having a hard time finding the functions to call to enable images, and input when they don't think they have tracking.

Any pointers?

[2018-11-24 18:06] wirelessdreamer commented on #67
I thought I was still able to read controller input,  but i'm not seeing any input from controllers when they have lost tracking either.

[2018-11-25 20:49] wirelessdreamer opened #68 "XRInputDeviceState: Failed to set the value at featureIndex [4]. error with Mixed Reality Headset"
I'm seeing this error spamming when using a mixed reality headset.

XRInputDeviceState: Failed to set the value at featureIndex [4].

[2018-11-28 13:37] wirelessdreamer opened #69 "Vive Pose Tracker - add fuction that mirrors OnisValidChanged for when a device is turned off, or disabled"
please provide a clean way to fire functions when devices are disabled.

[2018-11-28 13:38] wirelessdreamer commented on #44
I just got a a rift to borrow from a friend for testing again, so I'm going to dig into this soon, and update with the results.

[2018-12-01 21:30] tvledesign commented on #23
For anyone else having issues this took me awhile to figure out too especially since a lot of things were updated/outdated since the last time I touched this.

Currently I'm running Unity 2018.2.16f1, SteamVR Plugin 2.0.1, and the Vive Input Utility from the improve/steamvr200support branch at https://github.com/ViveSoftware/ViveInputUtility-Unity/tree/improve/steamvr200support

To trigger haptic

[2018-12-04 06:02] chengnay commented on #66
Did you import SteamVR plugin?
If yes, which version?
Which scene you met this error?

[2018-12-06 20:33] wirelessdreamer opened #70 "Add support for knuckles controllers"
I haven't found key bindings that match up to many of the knuckles controllers buttons, If they already have been added can the wiki be updated with what bindings match up to the new controllers.

[2018-12-10 03:44] Rain624 opened #71 "Use the Vive Tracker Pins is no response？"
I' m used code."ViveInput.GetPressDownEx(TrackerRole.Tracker1, ControllerButton.Grip)" cannot detect Pins that is clicked. Is there something wrong with my code.

[2018-12-10 13:00] tianrenheyi commented on #71
"ViveInput.GetPressDownEx(TrackerRole.Tracker1, ControllerButton.Grip)" cannot detect Pins that is clicked.why no response？

[2018-12-10 21:13] wirelessdreamer commented on #54
Any idea on a timeframe for this adding support for button presses?

[2018-12-20 07:46] lawwong commented on #54
SteamVR v2.0 and the new Input System will be supported in v1.10.0 release.
It's now on develop branch.
fadb710

[2018-12-22 02:44] wirelessdreamer commented on #70
with version 1.10 Steamvr 2.0 support went live, all bindings can now be accessed.

[2018-12-22 02:44] #70 closed

[2018-12-22 02:47] wirelessdreamer commented on #52
I've been experiencing the same here as well. Between that and the lens distortion issues, targeting focus is currently impractical, its a shame, if not for 2 major issues it has a lot of potential.

[2018-12-22 19:08] BioeJD commented on #52
I've had the same issue for a while now (Unity 2018.2.5, VIU 1.9.0).

I only see the issue when using the VIU prefab. I don't see the issue with the prefab from the Wave SDK.

One small detail that could help narrow down the issue: I can get the flickering to stop without restarting the app. If I take off the Focus headset and wait for the screen to go dark, then I put the headset back on so the a

[2018-12-22 23:42] wirelessdreamer opened #73 "Updating input for Steamvr 2.0 VIU 1.10+ - how to read from new binding names"
Previously we would read in with a command like:
if (ViveInput.GetPressDown(viveRole, ControllerButton.AKey)){
// lets move
}

in steamvr 2.0+ we now define a move role
![image](https://user-images.githubusercontent.com/140221/50379505-194df800-0619-11e9-854e-d5cc75b8959e.png)

but how do we update our above statement to read from the new role, not a hard coded button? we should be reading from /a

[2018-12-23 02:00] wirelessdreamer opened #74 "VIU 1.10 with Steamvr 2.0 - SteamVR Input generation locks up"
Steamvr Input generation locks up with vive input utility, same version did not lock up without VIU

![image](https://user-images.githubusercontent.com/140221/50380162-9fc00500-062c-11e9-8d4d-2b9d10feec89.png)

[2018-12-26 02:46] lawwong commented on #71
We just released VIU v1.10.1.
With [proper settings](https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki/SteamVR-Input-System-Support) (actions and bindings), you should able to set tracker to any role (except Disabled) while getting their pogo-pin inputs.

[2018-12-26 07:13] lawwong commented on #74
Seems like you have to focus on the "SteamVR Input Generation" window to let it continue to work?
Not sure if SteamVR plugin fixed this in v2.1.5.

[2018-12-26 07:45] chengnay commented on #74
Are you able to reproduce this issue?
Can you roughly describe how you can reproduce this issue step by step?
Thanks!

[2018-12-26 08:49] chengnay commented on #73
Do you want something like this below?
![2018-12-26_164605](https://user-images.githubusercontent.com/33050705/50439649-c4b6bf80-092d-11e9-8a06-b1687ea65110.png)

As long as you clicked on "Save and generate" button from SteamVR Input window, you will be able to assign any input path to it.

Just define a variable as public with corresponding type.
public SteamVR_Action_Boolean MyInput;

Does abov

[2018-12-27 02:38] #37 closed

[2018-12-27 06:18] chengnay commented on #73
Role in SteamVR input sources are defined statically.
Currently, we do not know how to modify this part.

[2018-12-29 10:40] Faymont opened #75 "GearVR controller"
There is a problem with the Gear VR does not work inputs with the gear vr controller. Looking for a problem, I discovered that in the OculusVRModule the controller is recognized as OculusTouchRight instead of OculusGearVrController. If someone has encountered a similar problem, there is a solution to simply replace everything in the case OculusTouchRight with what is contained in the case HandRigh

[2018-12-31 02:59] wirelessdreamer commented on #74
I just tried with a new project and didn't see this behavior. I'm not sure how to isolate what package is causing it, I found it issue when doing a test upgrade of my game to use SteamVR 2.0, Any ideas?

[2019-01-02 09:15] chengnay commented on #74
Could you briefly describe how you upgrade your game to SteamVR 2.0?
Or are you able to make a sample game project that can reproduce this issue?
We would want to know how to reproduce and fix this issue ASAP, thanks!

[2019-01-03 03:28] zealousappex opened #76 "Vive Focus"
I was able to run these examples on the Vive Focus before the update, but now the scene loads frozen to the view: HTC.UnityPlugin/ViveInputUtility/Examples

[2019-01-03 16:28] #76 closed, assigned to nobody

[2019-01-04 00:15] zealousappex opened #77 "Vive Focus Unable to track"
In Unity using Vive Input Utility v1.10.1  causes the Vive Focus to freeze when running the examples.

I downgraded to  Vive Input Utility v1.9.0 and the example work again.

I'm running:
Unity 2019
WaveSDK-2.1.8
Vive Input Utility 1.10.1

[2019-01-04 20:13] zezba9000 opened #78 "Using input break hand tracking?"
If the "VRModule" script get activated on the "[ViveInputUtility]" prefab after being created by calling "ViveInput.GetPress", hand tracking stops working.

Testing with:
Unity 2018.3.0
Win10 x64
OpenVR Unity package installed from package manager

[2019-01-04 22:39] JeffBail opened #79 "Knuckles EV3 Support"
I saw on the [input support page](https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki/SteamVR-Input-System-Support) that only the EV1 Knuckles are supported. I'm working with EV3 and I think I can move forward; I was able to get the 3DDrag example to work by using the SteamVR developer bindings GUI to setup the trigger actions. I can probably press ahead and remap controls as I need them b

[2019-01-09 03:53] chengnay commented on #78
Which scene are you testing on?
Any specific steps to follow to duplicate this issue?

[2019-01-10 02:58] zezba9000 commented on #78
Testing on the example scene from the "SteamVR Unity Plugin v2.0.1"

*) basic Unity XR settings need to be set...
1) Simply open the SteamVR example scene.
2) Add the [ViveInputUtility] prefab to the scene.
3) Hit play and the hand tracking doesn't work but Input does.
4) Disable the [ViveInputUtility] object.
5) Hit play and hand tracking works.

[2019-01-10 06:56] chengnay commented on #78
Could you try using ViveCameraRig prefab?

[2019-01-10 13:11] castana1962 commented on #79
Hi lawwong
Sorry for my little English but I am working with SteamVR 2.0.1 and EV3, for it, Is this Steam utility SteamVR 2.0.1 and EV3 compatible?
Thanks
Alejandro

[2019-01-11 10:09] chengnay commented on #75
Could you send a pull request for this fix? Thanks!

[2019-01-14 08:41] frg-kova commented on #77
Same problem, but most examples don't freeze, just one I tried, others render with camera being extremely shakey if you move your head so it's unusable.
Please make this high priority and hotfix it.

Unity 2018.3
WaveSDK-2.1.8
Vive Input Utility 1.10.1

[2019-01-14 13:22] Faymont commented on #75
Improved the solution and made a pull request

[2019-01-16 05:03] junglee372018 opened #81 "HTC vive grab button click on pointer enter."
Hi,
I want to keep pointer on a particular object and click grab button.
Grab button click alone is working. when i want to perform grab button click by placing pointer on gameobject it is not working.

my code is like this
public void PointerEnter(PointerEventData eventData)
{
Debug.Log("pointer enter true");
      if (ViveInput.GetPressDownEx (HandRole.RightHand, ControllerButton.Grip)) {

[2019-01-16 08:04] chengnay commented on #81
My quick suggestion to your problem should be have a flag to set to true when pointer entered, then in Update function, check for grip button pressed and the flag is true.

private bool isPointerEntered = false;

void Update()
{
    if (ViveInput.GetPressDownEx(HandRole.RightHand, ControllerButton.Grip) && isPointerEntered)
    {
        Debug.Log("Grab button pressed true");
    }
}

public void

[2019-01-16 09:10] junglee372018 commented on #81
Yeah did the same. But, I am trying to do this on gameobjects not UI.

![snap1](https://user-images.githubusercontent.com/44200667/51238247-834d8900-199c-11e9-9e91-68c3aa0faf50.JPG)

[2019-01-16 09:13] chengnay commented on #81
Do you mind sending me a sample project that I can test on? Thanks!

[2019-01-16 09:15] junglee372018 commented on #81
I forgot to add "IPointerEnterHandler, IPointerExitHandler"

Now its working.

ThankYou very much

[2019-01-16 09:17] #81 closed

[2019-01-17 03:11] byrontik1 commented on #64
I do get a little jolt at the end of a rotation one way with CircularMapping, don't think I have figured out LinearMapping yet, I'd love to know as every person I show the levers mentions how cool haptics would be.

[2019-01-17 03:12] chengnay commented on #64
@chull434 May I know what is your SteamVR plugin version?

[2019-01-17 03:35] chull434 commented on #64
i don't have steam vr plugin in this project

i do have the unity open vr package v1.0.2

[2019-01-17 03:37] byrontik1 commented on #64
It's current SteamVR2.01

[2019-01-17 03:52] chengnay commented on #64
Currently, without SteamVR plugin you are not able to get haptic pulse.

[2019-01-17 04:04] byrontik1 commented on #64
Chengnay, is it correct that the HapticStack doesn't trigger haptic feedback with the current lineardrive and linearmapping as per example? Or do I need to set something specific?

[2019-01-17 04:07] lawwong commented on #79
Oh, I see.
By our design B key should bind to viu_press_01 and viu_touch_01 to get VIU work.
Anyway, if I'm right, controller type for EV3 Knuckles is just "knuckles"?
Then this patch [ViveInputUtility_v1.10.1_knuckles_binding_patch.unitypackage.zip](https://github.com/ViveSoftware/ViveInputUtility-Unity/files/2767091/ViveInputUtility_v1.10.1_knuckles_binding_patch.unitypackage.zip) should work.

[2019-01-17 05:15] chull434 commented on #64
yes need steam vr, all working now, thanks

[2019-01-17 05:50] chengnay commented on #64
Could you explain what is linearmapping and circularmapping?
Which VIU example you are referring to?
I tried ViveInput.TriggerHapticPulse(role) and it is working (not sure why sometimes it might fail, I am still looking into this issue)

[2019-01-17 11:30] lawwong commented on #23
I fixed haptics problem and pushed the latest commit d6223377f9b12cb8cafdd7dfb7bd4f15df84f899
Also add new input API:
[code]
Notice that this commit have added new actions, so you need to apply VIU Action Set again.
Let us know if it works! Thanks!

[2019-01-17 12:31] junglee372018 opened #82 "Camera Input on a quad inside unity is scaled 3 times when viewed inside HTC VIVE"
Hi,

I am trying to get the camera input from Logitech USB Cam and displaying onto a quad inside Unity. The Camera Input on a quad   is scaled 3 times when viewed inside HTC VIVE, when trying to get a full screen VR Effect.

How to fix it?

Upgrading to HTC Pro is the only option or is there any way to render 2D images on to the HTC vive screen with over scaling the image for getting a AR effect s

[2019-01-18 02:46] chengnay commented on #82
Do you have sample project for us to test on HTC VIVE and HTC VIVE Pro, so that I can quickly figure out what is the best way to help you on this issue.

[2019-01-18 04:41] junglee372018 commented on #82
Hi,
Sorry for the not giving the proper info about my issue and what i am trying to do.

I want to get the AR effect into HTC VIVE using external USB logitec CAM.

Is there any way possible to replicate the ar effect in HTC vive in unity same as the effect we get when using the HTC VIVE PRO SRWORKS

https://www.youtube.com/watch?time_continue=108&v=xkw133wvPYM

Presently i am getting the input fro

[2019-01-18 05:51] byrontik1 commented on #64
Thanks Iawong, I'll test soon

- Chengnay
Linear Drive which uses the LinearMapping component (script) and Circular Drive which uses Circular drive script and generates a Linearmapping component prefabs can be found demonstrated in SteamVR/InteractionSystem/Samples/interactionSample

The LinearDrive has the Haptic Rack (script)component which should give some nice teeth like haptics, so far I have

[2019-01-18 06:33] chengnay commented on #82
Project link is empty?
Can you provide a scene for us to test? It is kinda hard to imagine from your description.

[2019-01-18 07:11] chengnay commented on #64
I just tried the InteractionExample scene and I can get the haptic working in that scene.
You need to grab the handle with one of your controller then use another controller to overlap the other controller to feel the haptic.
I didn't use this script with VIU example scene, if you still have haptic issue, please feel free to let us know.

[2019-01-18 08:16] chengnay commented on #82
Can you provide a screenshot on what you will see on Unity preview screen?
I use Vive Pro and get the result as below,
![image](https://user-images.githubusercontent.com/33050705/51373913-5cc65400-1b3c-11e9-9f49-602d953507d6.png)

The camera seems to render upside down.

[2019-01-18 08:59] junglee372018 commented on #82
hi ,
I too got the same inverted,we are fixing it.

The main Doubt we have is, the output shown in the htc vive pro when using srworks and internal HTC VIVE PRO camera, can we get the same one in HTC VIVE (old) using external Logitech cam as shown in the below video.

https://www.youtube.com/watch?time_continue=108&v=xkw133wvPYM

by using the srworks sdk we get the above output but the sdk only su

[2019-01-18 09:23] chengnay commented on #82
@junglee372018 Can you trigger a new thread in SRWORKS [forum](http://community.viveport.com/t5/Vive-SRWorks-SDK/bd-p/vive-srworks-sdk), I think your problem is more related to SRWORKS than VIU.

[2019-01-18 10:32] chengnay commented on #82
I will try to see if I can help adjust the scale, but I am not Pro at this part, so I need more time to check. By the way, no guarantee that I can fix it.
I suggest that you still can start a new thread at that forum, I am sure there will be SRWORKS engineers to help out too.

[2019-01-18 10:33] junglee372018 commented on #82
Thank you for the help.

Will post also in SRWorks form.

[2019-01-20 19:57] chull434 opened #83 "Vive Tracker collision stops working"
Hi, was using the trackers strapped to wrists as alternative to controllers but they randomly stopped triggering collisions, was using the button from example scene. I couldn't work out any root cause, it just randomly stopped and started working again, very frustrating.

I was expecting the trackers to have colliders, what adds or would remove the collider from the tracker?

[2019-01-21 05:59] chengnay commented on #83
@chull434 How many controllers and trackers are you using at the same time? Could you provide more details on which version of Unity/VIU/SteamVR plugin you are using? And, which example scene you are testing on? Example 1(UGUI)?

[2019-01-21 11:54] chull434 commented on #83
@chengnay there was two vive controllers and two vive trackers in use

Unity - 2018.3
VIU - v1.10
SteamVR - 1.2.7
SteamVR Plugin - 2.0.1

it was the example scene 6 controller management sample with the switch button, the push button and grab block
also had prefabbed the button and vr rig and created my own scene "Demo Game"
with 4 push buttons in a 2x2 wall with same basic game logic for hitting

[2019-01-22 02:32] chengnay commented on #83
SteamVR 2.0 and above has different senarios about controllers and trackers support.
Please refer to the [Wiki page](https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki/SteamVR-Input-System-Support) Step 3 for different senarios.
In VIU example scene 6, the ViveColliders only supports controllers not for trackers.
If you would like the trackers to collide with gameobjects, you can adjust t

[2019-01-22 03:59] wirelessdreamer commented on #74
I haven't been able to put together a clean project to how to get the upgrade to crash yet. i'll make and update later if I can reproduce it in a clean project.

[2019-01-22 11:45] chull434 commented on #83
ahh yes, I see how it works now, thank you

[2019-01-22 11:45] #83 closed

[2019-01-23 08:37] funylion opened #84 "不要轻易使用（ DontDestroyOnLoad）"
写中文应该看得懂吧，这已经给我带来了很多麻烦。
Pointer3DInputModule
  if (Active)
            {
               DontDestroyOnLoad(instance.gameObject);
            }

[2019-01-23 16:17] mrstruijk opened #85 "Remote role persistency"
Hi!

How can I make sure that one of the two controllers always has the same role?
I would want to put a sticker on one of them saying "Left", and this one is then always the left-hand controller, regardless of in which order I turned them on.

I was thinking I could check by serial number, but then how would I change the controller's HandRole based on that?

Thanks,
Maarten

[2019-01-23 20:34] JeffBail commented on #79
I checked in VRModuleBase.SetupKnownDeviceModel and the deviceState.modelNumber is "Knuckles EV3.0 Left" which is accepted by s_knucklesRgx so it seems like it should work.

[2019-01-23 23:15] wirelessdreamer commented on #85
see the example:
HTC.UnityPlugin/ViveInputUtility/Examples/7.RoleBindingExample

once you bind a role that controller will always have that role.

[2019-01-23 23:36] wirelessdreamer opened #86 "Oculus controller binding currently broken"
Unity 2018.2.0f2 (Oculus only supports versions below 2018.3
VIU 1.10.2 (Current)
Oculus Integration 1.32.1 (Current)

created a new project with all of the above, loaded example scene 7, and saw this error when trying to bind:

ArgumentException: Cannot mapping invalid deviceIndex(0)
HTC.UnityPlugin.Vive.ViveRole+Map.MappingRoleValue (Int32 roleValue, UInt32 deviceIndex) (at Assets/HTC.UnityPlugi

[2019-01-23 23:37] wirelessdreamer opened #87 "Windows Mixed Reality controller trigger being read as Pad"
Unity 2018.2.0f2 (Oculus only supports versions below 2018.3
VIU 1.10.2 (Current)
Oculus Integration 1.32.1 (Current)

created a new project with all of the above, loaded example scene, tested with mixed reality headset, the trigger is sending pad, so teleport is happening, so unable to test if binding was working on this controller with updated packages.

[2019-01-24 06:07] chengnay commented on #87
@wirelessdreamer Are you referring to Oculus Touch or WMR controller?

[2019-01-24 06:09] chengnay commented on #77
@zealousappex @frg-kova Could you try the latest version VIU 1.10.2 unitypackage from GitHub. We just fix this issue.

[2019-01-24 06:52] chengnay commented on #84
@funylion 請問這是甚麼問題?

[2019-01-24 07:57] funylion commented on #84
![default](https://user-images.githubusercontent.com/19399348/51662792-ea4bed00-1fef-11e9-9b1e-45f2e522ee9f.png)
（如图所示，我不知道为什么它自己会自动添加一个然后跟我原来场景的EventSystem冲突了，导致里面的UI功能失效。这个原本不是问题，不过在当我允许它重新载入场景的时候就发生了。我花了很长的时间去寻找，最后发现是由于多出了一个EventSystem。）
As shown in the figure, I don't know why it automatically adds one and then conflicts with EventSystem in my original scene, resulting in the failure of UI fun

[2019-01-24 08:08] funylion commented on #84
（如图所示，我不知道为什么它自己会自动添加一个然后跟我原来场景的EventSystem冲突了，导致里面的UI功能失效。这个原本不是问题，不过在当我允许它重新载入场景的时候就发生了。我花了很长的时间去寻找，最后发现是由于多出了一个EventSystem。）
 As shown in the figure, I don't know why it automatically adds one and  then conflicts with EventSystem in my original scene, resulting in the  failure of UI functions. This was not a problem, but it happened when I  allowed it to reload the scene. I spent a long time lo

[2019-01-24 08:31] chengnay commented on #84
We will fix this in next release, thanks for reporting!

[2019-01-24 09:32] funylion commented on #84
You're sure it's a BUG.Not only that, but it's also a probabilistic event.So it took me quite a long time to find it.（==！）

[2019-01-24 12:06] frg-kova commented on #77
I updated to 1.10.2 and still have the shaky camera issues. This might not be related to the freeze bug so feel free to create a new issue from this if needed. This happens on VIU example scenes also but is not as noticeable as when you have a bit larger scenes. If you stay still - not noticeable at all, but if you move your head that's when the view is shaking, like it's going back and forth a bi

[2019-01-24 12:32] wirelessdreamer commented on #38
In the previous comment the Null reference Exception is because deviceModel doesn't get set until after we're doing default role setup in the role binding modules. What is the right way to do this check when initiall setting up controllers so when we haven't explicitly mapped controllers to have them default to a per platform controller binding.

The problem i'm solving here is that the controller

[2019-01-24 13:56] wirelessdreamer commented on #38
I no longer reproduce the previous error, Devices are being detected properly on init.

The issue i'm seeing now with this section of code:

 if(VRModule.GetDeviceState(0).deviceModel == VRModuleDeviceModel.OculusHMD) {
    Debug.Log("We see a rift");
    MappingRoleIfUnbound(BodyRole.RiftRightHandGun, m_sortedDevices[0]);
} else {
    Debug.Log("Not Rift");
    MappingRoleIfUnbound(BodyRole.Right

[2019-01-24 14:03] mrstruijk commented on #85
Thank you!

[2019-01-24 14:03] #85 closed

[2019-01-26 04:47] wirelessdreamer commented on #44
It took me a little longer to get to looking into Oculus issues then I wanted, but I've been digging around for the past 2 nights. Here is what I have so far.

I need OpenVR and Oculus support for my Steam build. Everytime I place Oculus above OpenVR, then go back to XR settings later, OpenVR always moves above Oculus on its own. I previously didn't have the Oculus integration package installed, I

[2019-01-28 17:57] benjavides opened #88 "ViveRig not tracking"
Sometimes when I play the scene the ViveRig doesn't track the headset, controllers or trackers. The trackers roles were set following [this](https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki/SteamVR-Input-System-Support).
All the hardware is detected and working ok when this happens. The icons are green in SteamVR and if I add a SteamVR Tracked Object script it tracks.

My setup:
Unity 2

[2019-01-29 18:21] sergiowero opened #89 "WWW Class just get obsolete in Unity version 2018.3.3f1"
WWW Class just get obsolete in Unity version 2018.3.3f1.

Class VIOVersionCheck give compilation errors because WWW is obsolete, use UnityWebRequest instead.

[2019-01-30 04:59] wirelessdreamer commented on #86
I've been unable to reproduce this issue for the past week. must of been a system specific issue.

[2019-01-30 04:59] #86 closed

[2019-01-30 05:00] wirelessdreamer commented on #44
The issue only occurs when OpenVR is before Oculus in XR settings. The problem is every couple times I run the game OpenVR moves itself above Oculus, once I move it back its fine, but their order never stays put.

[2019-02-01 03:51] wirelessdreamer opened #90 "Rift Controller Serial numbers conflict when binding rift controllers"
With the Oculus SDK installed, and Rift selected as the controller to bind this error shows in the console:

Oculus Rift CV1 TrackingReference:System.ArgumentException: An element with the same key already exists in the dictionary.

Dumping the controller config that that check is done on shows: {"m_serialNumber":"Oculus Rift CV1 TrackingReference","m_modelNumber":"Oculus Rift CV1 TrackingReferenc

[2019-02-05 19:10] dariol commented on #82
did you see this dated blog: https://medium.com/@dariony/augmented-virtuality-119febdc1b17

[2019-02-06 11:42] frg-kova commented on #77
Any news on this? I can't be the only guy that wants to use VIU for Focus, right guys? ...err, guys?

[2019-02-06 17:01] dariol commented on #88
Hi, can you update to SteamVR v2.1.0?  Note that SteamVR APIs changed with the latest v2.2.0 update but can easily be fixed (API name changes).

[2019-02-06 17:58] dariol commented on #87
Does it work with SteamVR + WMR integration?

[2019-02-08 19:03] CodingJar opened #91 "Oculus Touch Grip Not Bound"
I'm not able to bind to the Oculus Touch Grip.  The Axis I'm using (CapSenseGrip) show no values, and the Press only triggers once pressed for a certain amount of time.  That is to say that ViveInput.GetPressEx(handRole, ControllerButton.Grip); only triggers after the Grip has been held down for about one second, and that ViveInput.GetAxisEx( handRole, ControllerAxis.CapSenseGrip ) always returns

[2019-02-09 21:54] dariol commented on #77
Not at all - I use it for several projects and give workshops precisely on using VIU for Focus - I'm looking into the diffs to see what this could be. If you can update to 1.10.0, you can cherry pick this needed fix provided in 1.10.1 that addressed a freezing issue on the Focus: https://github.com/ViveSoftware/ViveInputUtility-Unity/commit/bf3c6c50ef7cb431dfea01a5b57ba659e15484cf

[2019-02-13 18:17] Marskod opened #92 "'SteamVR_Input' does not contain a definition for 'OnNonVisualActionsUpdated'"
When importing VIU after importing SteamVR I get the following errors:

error CS0117: 'SteamVR_Input' does not contain a definition for 'OnPosesUpdated'
error CS0117: 'SteamVR_Input' does not contain a definition for 'OnNonVisualActionsUpdated'
error CS0117: 'SteamVR_Input' does not contain a definition for 'OnPosesUpdated'
error CS0117: 'SteamVR_Input' does not contain a definition for 'OnNonVisu

[2019-02-13 18:25] Marskod commented on #92
I should mention I'm using SteamVR 2.2.0, and the latest version of VIU

[2019-02-13 19:04] Marskod commented on #92
Solved, had to downgrade SteamVR to 2.0.1. The first few times I imported it, but if you just re-import it 3-4 times it will start working again.

[2019-02-13 19:04] #92 closed

[2019-02-18 07:09] chengnay commented on #91
@CodingJar Could you list which version of Unity/SteamVR Plugin/VIU are you using?
I just tried Unity 2017.4.3, SteamVR Plugin 2.2.0 and VIU v1.10.3 which works fine with default binding.
Can you try on example scene (CoillderEvent) and change teleport as follows to see if your grip/grip touch works?
![image](https://user-images.githubusercontent.com/33050705/52933682-12c8cc00-338f-11e9-906c-a183a

[2019-02-19 06:59] CodingJar commented on #91
Hello @chengnay, I believe I may not be using the library as you intend, since I've never seen that page before.  I'm shoehorning this into an existing project, use only the most basic GetPressEx functionality.  I've just re-confirmed the "bug" that Grip button is only considered pressed after it has been fully held down for about a second using your ColliderEvent demo, and it sounds like you're a

[2019-02-19 07:10] chengnay commented on #91
I guess you are using the native Unity engine instead of SteamVR Plugin. We will check the native Unity engine again and get back to you later.

[2019-02-22 00:35] codest19 opened #93 "Vive Focus UGUI Interaction not working"
I tested VIU just before this 1.10.3 update and everything was working fine with the Wave SDK and pushing to the Focus. Now the clicking interactions stopped working, even in the example scene 1.UGUI. The different UI elements do respond to PointerEnter and PointerExit but no clicks with either trigger or pad. Double checked everything, tried the latest version of Unity(previously used 2018.2.7f1

[2019-02-22 03:50] chengnay commented on #93
Which version of WaveVR SDK are you using?

[2019-02-22 04:07] codest19 commented on #93
Wave SDK version 2.1.8

[2019-02-22 06:21] chengnay commented on #93
@codest19 I just tried a clean project with Unity 2018.3.5 and install VIU v1.10.3 and WaveVR 2.1.8, I don't seem to have the issue you mentioned. Could you provide more details(Preference settings/Player settings... etc) or share your project to me?

[2019-02-22 17:52] codest19 commented on #93
[ProjectSettings.zip](https://github.com/ViveSoftware/ViveInputUtility-Unity/files/2895123/ProjectSettings.zip)

I tried again. Using unity 2018.3.6f1 and Wave SDK 2.1.8, I deleted VIU files then imported VIU 1.10.3. The same issue happened, OnPointerEnter and OnPointerExit work but any click events do not, all while in the 1.UGUI example scene with Vive Focus checked in the VIU settings. I then d

[2019-02-25 06:59] chengnay commented on #93
@codest19 What's the version of Oculus SDK you have in the project?
I just tried having both WaveVR and Oculus SDKs in the same project, but it doesn't have any issue with pointer event.
Can you try a clean project with only WaveVR SDK and VIU 1.10.3 to check whether you still have the same issue occurs? If you still do, please send me the whole project for further investigation, thanks!

[2019-02-26 11:56] frg-kova opened #94 "Raycasting canvas elements get sorted by distance"
Bug: sometimes pointers on canvas can't interact with buttons
VIU 1.10.3

Steps to reproduce: Create a popup menu with some buttons and a background image that blocks raycasts. Spread the buttons all over. Create the menu in front of the player in play space area and try to see if all buttons can be interacted with.

Cause:
PointerInput3DModule.RaycastComparer() first sorts the canvas elements by

[2019-02-26 12:01] frg-kova commented on #93
Possibly related to my issue I just opened
https://github.com/ViveSoftware/ViveInputUtility-Unity/issues/94
If that's it, It's solved by comparing by depth before distance, detailed explanation there.

[2019-02-26 12:57] frg-kova commented on #77
Confirming cam jitter issue resolved in 1.10.3

[2019-02-26 17:26] zealousappex commented on #77
I apologize for the delay, I have not gotten the unit back to test. I will close the issue since it looks like its confirmed fixed by frg-kova

[2019-02-26 17:26] #77 closed

[2019-02-27 03:31] chengnay commented on #93
@codest19 In your case, do you see the pointer hits panel or button? In @frg-kova case, the pointer does not hit the button nor the panel. But, in VIU example scene(UGUI), it shouldn't have such issue describe by @frg-kova.

[2019-02-27 05:58] chengnay commented on #94
@frg-kova Can you provide the project that you created? I just tried like the way you describe above, but I could not reproduce the issue. Did you add Canvas Raycast Target to your popup menu?

My project looks something like this, and it works fine.
![image](https://user-images.githubusercontent.com/33050705/53469121-c0c32d00-3a97-11e9-89d9-adda798068f9.png)

[2019-02-27 06:01] chengnay commented on #93
I think @frg-kova issue might not be the same as @codest19's issue.
@codest19 Could you try creating a new project with ONLY WaveVR SDK and VIU 1.10.3 to double check the issue will exist or not? Thanks!

[2019-02-27 16:12] frg-kova commented on #94
Jos to reiterate, raycasting on canvas works, it's just that button and panel behind it are wrongly sorted (by distance, which should be the equal).
I tried but can't reproduce in new project. I can reproduce it in my extremely big project that I can't send. It's a popup menu with 2 buttons that appears in front of the camera and faces the camera. About every 5th time it's spawned, it has the bug.

[2019-02-28 10:57] JerryLetehen opened #95 "Swapped input using HTC Vive"
Steps:
1. Create an empty project
2. Import  VIve Input Utility (v.1.10.3) and SteamVR Plugin (v.2.2.0) from Assets Store
3. Apply all recommends settings SteamVR/Vive Input Utility
4. Create an empty scene, delete MainCamera
5. Drag the ViveCameraRig prefab into created scene
6. Run the scene
7. Turn on both HTC Vive controllers
8. Turn off one of them
9. Swap controllers in your hands
10. Turn o

[2019-03-01 23:22] codest19 commented on #93
Thanks for the suggestion @frg-kova but that wasn't it.

I tried deleting all the oculus files from the project, VIU 1.10.3, WaveSDK 2.1.8, Unity 2018.3.3f1 and the same issue was there, so probably not an Oculus issue. I opened a new project, Unity 2018.3.3f1, VIU 1.10.3, WaveSDK 2.1.8, opened the UGUI test scene and Unity crashed upon hitting the play button. The simulator was running on the foc

[2019-03-04 02:34] chengnay commented on #94
@frg-kova You mentioned "It's a popup menu with 2 buttons that appears in front of the camera and faces the camera.", do you mean your popup menu will move with camera or it stays stationary? And, "About every 5th time it's spawned, it has the bug.", do you mean that you close and open for the 5th time? I am not really sure why this issue doesn't reproduce in the new project. If cannot reproduce i

[2019-03-04 03:07] chengnay commented on #93
@codest19 Could you send us the Unity log that has the crash log?
Right click on the Console and select "Open Editor Log".
![image](https://user-images.githubusercontent.com/33050705/53708001-5120b980-3e6c-11e9-8266-ae9b891d0714.png)

Could you try running the simulator again and see if you are still getting the crash from Unity?
If you still do, please try the below steps,
Click on the "Repair De

[2019-03-04 07:58] frg-kova commented on #94
It's spawns in play area space, in front of camera, facing the camera. I spawn it every time I press the menu button.
I know the bug is now in limbo state, maybe I'll strip down the big project to just play area and the menu when I get the time.

[2019-03-04 18:32] codest19 commented on #93
Upon re-opening the project VIU Settings didn't have Vive Focus interactable. I did the Repair Define Symbols and Vive Focus was interactable again. Having it selected, and all the same versions and settings as before, it crashed still with the Focus running the simulator and pressing play. I've attached the Unity crash report.
[Crash_2019-03-04_182616506.zip](https://github.com/ViveSoftware/ViveI

[2019-03-05 14:23] wirelessdreamer opened #96 "How to - SteamVR 2.0 change action sets and change binding names and bind"
With VIU and SteamVR 2.0 how do we:
1 - change the active action set

2 - match names of Vive input utility custom action binding names to SteamVR input names

3 - basic input workflow using SteamVR 2.0 with vive input utility

4 - an example action set with viu_touch_xx, viu_press_xx, etc is provided, what we need is to know how to map things like default GrabPinch to BindingRole.GrabPinch in cod

[2019-03-07 02:09] wirelessdreamer opened #97 "Basic Grabbale doesn't properly support SteamVR 2.0 action names"
In a new test project I imported SteamVR 2.0 and VIU. I imported the VIU action set, and built the required lib's for it. I added a basic grabable script to an object, and clicked on the grab button drop down, but it doesn't show the list of actions that should be there, it only shows the old button names like pre SteamVR 2.0 would of shown. viu_press_xx options should all be there for proper Stea

[2019-03-07 02:11] wirelessdreamer commented on #97
To further clarify there should be an action set, and and action that can be bound to the grabbable script

[2019-03-07 03:31] wojiuxuihuan opened #98 "Is there a method to get gameobject(such as HMD or Controller)?"
Sorry about all the questions:

1.In the sample script 'Teleportable', it has to find the vrcamera each time, and that's terriable.
So I wonder, is there a better way to get real gameobject such as HMD or Controllers via Singleton？Thanks.

2.Also, there are too many "Editor" Folders, I have to add Assembly Definition for them one by one, or it will show tons of error once I build the project, that

[2019-03-07 03:59] wojiuxuihuan commented on #98
Also, there are too many "Editor" Folders, I have to add Assembly Definition for them one by one ,that's kind of annoying, can you please put them together?

[2019-03-07 04:14] wirelessdreamer commented on #97
I found the steamvr 20 branch, and am pulling it now.

[2019-03-07 13:05] wirelessdreamer commented on #97
same issue looks like it exists there.

[2019-03-08 11:30] SujAtGithubBuzz opened #99 "Trouble with Vive 2.0 Haptic"
In the new Input system of vive 2.0 , i couldnt get the haptic working. I have used the hapticAction.Execute() to trigger haptic but no help. Any reference or suggestions regarding this will be very helpfull. Please note i want the haptic to happen on certain condition, not on trigger press.

[2019-03-10 19:37] wirelessdreamer commented on #97
After playing with the code for a while I see that the steamvr actions shouldn't match up on the scripts, as it would break the multiplatform support. There is still a limitation in that the only actions that can be bound in the grab script are ones that match up to the actions we bind with the internal limited set of names. I guess if that matters to users we'll just need to make our own to handl

[2019-03-10 19:37] #97 closed

[2019-03-10 19:40] wirelessdreamer commented on #98
1. Teleportable only does a find if those values aren't set, so if you set it on your own before you call the method, it will never do a find. my understanding is that the find is there as a fallback, but isn't intended to be the normal way to use it.

[2019-03-10 19:44] wirelessdreamer commented on #95
@any HTC devs. correct me if i'm wrong: VIU tracks controllers by serial number, and intentionally trys to make sure controllers don't magically swap roles during run time. Wouldn't the above behavior be the expected behaviour. That as long as a controller with a role is on, it won't be reasigned a new role.

On that same topic, if you set a viveRole in the binding, it won't change that role guara

[2019-03-10 22:10] wirelessdreamer opened #100 "SteamVR 2.2 + VIU 1.10.3.0 controller binding example blows up"
SteamVR unity plugin: 2.2
SteamVR Beta 1.3.7
VIU unity plugin: 1.10.3.0
Unity: 2019.2.0a6
Hardware: Vive Pro + 1.0 base stations + Knuckles

set up a fresh project, import SteamVR 2.2 and VIU 1.10.3.0 (current release for both)

open example 7, on play the error below shows up, and when you click on add device, no devices show up in selection dialog.

![image](https://user-images.githubusercontent

[2019-03-10 22:10] wirelessdreamer commented on #74
Current releases of SteamVR and VIU don't exhibit this behaviour

[2019-03-10 22:10] #74 closed

[2019-03-11 05:01] wojiuxuihuan commented on #98
Yes, but I wonder if there is a static Method to Find The specified Device, cos every platform has different parenting settings.

[2019-03-11 07:18] chengnay commented on #99
@SujAtGithubBuzz You can try using the following code to fulfill your haptic action.
Before using below haptic action, you will need to install VIU and SteamVR 2.0 plugin.

ushort hapticValue = 500;
ViveInput.TriggerHapticPulse(HandRole, hapticValue);

Let me know if you have more questions, thanks!

[2019-03-11 16:59] codest19 commented on #93
Hey @chengnay have you had a chance to look at the crash log?

[2019-03-12 02:44] chengnay commented on #93
@codest19 I know where it crashes but still finding a way to fix it.
I will get back to you ASAP when I have the solution.
Sorry for the late reply.

[2019-03-12 03:44] chengnay commented on #100
@wirelessdreamer You can have a temporary fix by adding a line of code to your project.

In Assets/HTC.UnityPlugin/ViveInputUtility/Scripts/ViveRole/RoleMaps/BodyRole.cs,
Line 58,
UnmappingAll();

_if (!VRModule.IsValidDeviceIndex(VRModule.HMD_DEVICE_INDEX)) { return; }_ <--- Add this line

MappingRoleIfUnbound(BodyRole.Head, 0u);

[2019-03-12 03:53] codest19 commented on #93
No problem, thanks for the update.

[2019-03-12 04:22] wirelessdreamer commented on #100
That fixed it. Thanks. Feel free to re open this if you need it to track the bug for later.

[2019-03-12 04:22] #100 closed

[2019-03-13 02:55] chengnay commented on #93
@codest19 I will provide you with a quick fix.
Please modify your code as follows,

In WaveVRModule.cs line 537,
#if VIU_WAVEVR_2_1_0_OR_NEWER && UNITY_EDITOR
            if (!WaveVR.Instance.isSimulatorOn || WaveVR_Utils.WVR_GetDegreeOfFreedom_S(_(int)WVR_DeviceType.WVR_DeviceType_HMD_) == (int)WVR_NumDoF.WVR_NumDoF_6DoF) { return; }
#else

In WaveVR_Utils.cs line 544,
[DllImport("WaveVR_Simulato

[2019-03-14 02:08] wirelessdreamer opened #101 "SteamVR 2.2 + VIU 1.10 SteamVR Input Live view doesn't show button press events accurately"
Set up a new project, install SteamVR 2.2 and VIU 1.10 go to SteamVR Input live view in unity. button press events don't show up correctly.

This is probably an upstream bug though.

[2019-03-14 08:06] chengnay commented on #101
@wirelessdreamer If button event in Live View doesn't show up, but in the scene it works fine, then this will consider upstream bug. I will take a look and see if it is VIU's issue.

[2019-03-15 16:58] codest19 commented on #93
Thank you @chengnay It doesn't crash now. The simulator does run. And a build does interact with UI normally.

[2019-03-15 16:58] #93 closed

[2019-03-20 19:10] jag2013 opened #102 "Vive Focus: Left-Hand Controller does not appear to work in ControllerManager Sample Scene"
Left-Hand Controller does not appear to work in ControllerManager Sample Scene in HTC.UnityPlugin. I cannot get the teleport action to work in the ControllerManager Sample scene.

When Vive Focus is set to work for the Right-Hand Controller everything works fine. When set to the Left-Hand Controller only the model of the controller appears, nothing else occurs if using the example code in Controll

[2019-03-20 20:31] jag2013 commented on #102
This was my mistake. Some of the customizations I made nerfed the code.

[2019-03-22 10:45] ani-rudh commented on #95
Hi guys,

I faced this problem when using the UGUI sample scene of VUI. All I did was to remove the mirroring of the contoller actions using the steramvr input tool. That did the trick.

Hope this is of some help.

BR,
Ani

[2019-03-23 15:31] jag2013 commented on #102
I was wrong about my assumptions.

After more tests, I concluded that the Input Plugin breaks between v1.10.2 and v1.10.3 for the left-hand controller.

 https://github.com/ViveSoftware/ViveInputUtility-Unity/commits/develop

Unity 2018.1.9f1
Wave SDK 2.1.8
Works -----> Vive Input Utility 1.10.2

Unity 2018.1.9f1
Wave SDK 2.1.8

Breaks -----> Vive Input Utility 1.10.3

[2019-03-29 16:44] TheBricktop opened #103 "Api reference incomplete"
There is a lot of undocumented and uncommented methods in vive.input and vive .pose api, although most of them are pretty easy to understand there are some of them that I have no clue about what they work,
For example, there is no information how GetAxis and GetAxisEx are different from each other.

[2019-03-29 21:00] JeffBail opened #104 "Fixed reticle size makes it hard to use on near & far objects"
I have a scene with objects that are both really close to the camera and really far away. It's hard to find a reticle size that will work for both without being way too big on the close objects and way too small on the far objects. I've created an auto scaling feature and I've submitted pull request #105.

[2019-04-01 02:49] dariol commented on #102
Please note if you have updated to the very latest Wave SDK you must update to the latest ROM and please note VIU will be updated shortly as well.

[2019-04-01 17:07] jag2013 commented on #102
Thank you for your response. I updated to the latest wave SDK, and also the latest firmware for the Vive Focus hardware itself. It still didn't work.

Also, I'd like to point out the problem appears to exist even if I use the latest Wave SDK or not, that means it appears to be exclusive to the Vive Input Utility update for 1.10.3.

[2019-04-02 12:45] chetanmac opened #106 "GearVR controller touch pad not working"

[2019-04-03 10:23] #98 closed

[2019-04-03 10:52] wojiuxuihuan opened #108 "Please put all the Editor Scripts into one "Editor" Folder"
We use Assembly Definition in every project, however, in order to use ViveInputUtility, we have to define tons of .asmdef Files, because it put Editor Scripts files everywhere, can you put them together? thanks!

[2019-04-03 11:28] wojiuxuihuan commented on #108
Also, the Vive seem to work at the first time, but when you replay the scene, it can't recognize the device anymore, you have to open VIU Setting, then it work again, that's creppy.
VIU version is v1.10.3.0
SteamVR version is v1.2.2

[2019-04-03 12:50] #84 closed

[2019-04-03 12:50] #89 closed

[2019-04-04 10:57] wirelessdreamer commented on #69
Any chance getting this feature pulled in? :)

[2019-04-04 10:59] wirelessdreamer commented on #69
Re-reading the function i see i missed that it passes a bool with if its valid or not, so this isn't needed.

[2019-04-04 10:59] #69 closed

[2019-04-05 03:03] wirelessdreamer opened #109 "Count of Active controllers in binding interface no longer shows up"
![image](https://user-images.githubusercontent.com/140221/55601211-c7dff980-572d-11e9-9751-b7e9a2bcae68.png)

This issue exists in both the Asset store version, and the current code on Git

[2019-04-05 03:06] wirelessdreamer commented on #109
To reproduce bind controllers, stop the example binding scene, and hit play again, then the counts disappear.

Removing or adding another binding makes the count show up again.

[2019-04-08 07:36] chengnay commented on #108
Could you reproduce issue now? If yes, could you provide more detailed reproduce steps?
Did you have SteamVR plugin imported?

[2019-04-10 02:50] chengnay commented on #102
@jag2013 Could you try the following steps and let me know if it works.
1. Set your default hand to RIGHT
2. Launch your apk (Ensure this is newly start and not re-launch)
3. If you can see the controller model and pressing touchpad will see the curve pointers, you can now go to settings and switch to left-hand mode
4. Go back to your apk again (Re-launch)

Let me know your result for above steps.

[2019-04-10 03:14] jag2013 commented on #102
Hi chengnay. Thank you for your response.

My Wave SDK Version is 3.0.1. My rom version is Current version 1.93.1400.2 (I cannot update rom further, there is no option on my vive focus (developer kit), and I have confirmed I am connected via wifi).

The good news is the latest git commits to Vive Input fixed the problem, and in my implementation teleport works just fine.

I can switch hands as you

[2019-04-11 13:57] wirelessdreamer opened #111 "Default Teleport example scene - Adjusting max teleport distance is broken"
Adjust the Far Distance on Vive Raycaster from 20 to 80, the max distance for teleport still stays at 20, limiting the max distance for teleporting.

[2019-04-12 10:23] chengnay commented on #111
@wirelessdreamer To increase the max distance for teleport is not adjusting the Far Distance.
You need to adjust the ProjectileGenerator's Velocity(increasing) or Gravity Y axis value(decreasing).

[2019-04-12 10:38] wirelessdreamer commented on #111
Thanks

[2019-04-12 10:38] #111 closed

[2019-04-13 03:16] wojiuxuihuan commented on #108
1.Import VIU and SteamVR
2.Connect Devices（HTC Vive or HTC Focus）
3.Open Example Scene, it works like charm
4.Close and reopen the same Scene, it can't recognise devices anymore. We have to reopen the "VIU Setting" Window, tick the device, then it works.
![微信截图_20190413110916](https://user-images.githubusercontent.com/13210990/56073889-c1601a80-5ddc-11e9-8985-4f507e44ac9c.png)

I wonder if it's ca

[2019-04-15 02:08] chengnay commented on #108
@wojiuxuihuan About your step 4, do you mean by closing Unity app or just close scene itself? Could you try without "Assembly Definition"? Please let me know if the issue still exists.

[2019-04-16 08:42] volpespakka opened #112 "Issue creating BasicGrabbable component at runtime."
When i assign at runtime the BasicGrabbable to a object I cannot change the default grab button. I noticed that if i keep the trigger button (default) i can grab the object, but i need to use the grip button, so i change it using
grab.grabButton =ColliderEvent.ColliderButtonEventData.InputButton.GripOrHandTrigger;

but then i continue to grab the object using trigger, am i missing something?

[2019-04-17 13:48] wakeup5 opened #113 "Device connected with duplicate serialNumber: Rift_CV1 Controller index:2(1)"
Unity 2019.1/Vive Input Utility/Oculus Integration 1.35/
Tracking, Button Functions well, but Haptic does not work at all.
[code]
[code]

[2019-04-17 15:07] JeffBail opened #114 "ResetButton teleports if moved after Start()"
I have a project in which a ResetButton is attached to an object that is moved once the project is running (and after Start() is called to cache the positions). When the button is pressed and then released the resetPoses cached in ResetButton.Start() are restored by OnColliderEventPressUp and cause the button to teleport to its original location in the scene.

I was able to reproduce the problem i

[2019-04-18 01:30] chengnay commented on #112
After you assign at runtime to an object, can you try the following method,
![image](https://user-images.githubusercontent.com/33050705/56330576-35bf0300-61bb-11e9-9700-696209985b9f.png)
After changing "Grab Button" to "Grip Or Hand Trigger", you should be able to grab objects by using Grip button instead.

I tried your code before runtime, it works by changing the value.
Could you help to check a

[2019-04-18 02:21] fishsama commented on #23
@lawwong Thanks a lot, i will try it later

[2019-04-18 07:58] #104 closed

[2019-04-18 09:22] #114 closed

[2019-04-23 20:52] JeffBail commented on #54
I see "SteamVR Plugin v2.0/v2.1 support" in the v1.10.1 release notes; does that mean that this issue is fully resolved?

[2019-04-23 21:42] wirelessdreamer commented on #54
SteamVR input is working in the currently released plugin, I've personally been actively using it for a while without issue.

[2019-04-23 21:43] JeffBail commented on #54
Thanks, I was just wondering because this issue is still marked as open.

[2019-04-25 08:10] chengnay commented on #113
@wakeup5 Which version of VIU are you using?
If you are not using GitHub's develop branch, would you mind trying and see if your issue still existed.
We did fix serial number conflict issue in Feb 19th, but we haven't publish to Unity's Asset Store.

[2019-04-25 18:41] JeffBail opened #116 "Wiki says that SteamVR 2 is not supported"
"SteamVR plugin v2.0.x is currently not supported by VIU."

https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki/Getting-started

[2019-04-26 02:51] chengnay commented on #116
@JeffBail Thanks, Wiki is updated!

[2019-04-26 02:52] #116 closed

[2019-04-26 15:33] JeffBail commented on #114
The fix worked for the buttonObject, but not for the effectTargets which get restored to their original location in the scene instead of their position at the time of the button press. I've submitted a new pull request - pull #117.

[2019-04-27 13:33] wirelessdreamer opened #118 "Android Build Failure: Program type already present: com.htc.vr.unity.FileUtils"
Looking at the plugin files, I don't see any with a name that would lead me to believe they are the cause of the issue. Its all that's currently blocking me from testing build on android. Anyone have ideas? I'm a bit green to android build troubleshooting.

[2019-04-29 02:31] chengnay commented on #118
Is "com.htc.vr.unity.FileUtils" your Package Name in Settings for Android?
![image](https://user-images.githubusercontent.com/33050705/56874079-df2eb000-6a69-11e9-8db9-ab3ecda1a464.png)
If yes, please change the Package Name to other name, FileUtils might have already been used by Android.

[2019-04-29 02:51] wirelessdreamer commented on #118
my package name was already set to the name of my project, and is set in its own namespace, not the com.htc namespace. it of course also isn't called fileutils or colliderevent.

Any other ideas what could cause it?

[2019-04-29 02:56] chengnay commented on #118
Could you share your project?
Is this your first time building your project on Android?

[2019-04-29 03:06] wirelessdreamer commented on #118
its the first time trying to build it for android. I could strip it down
some and get you access to it. email me outside of here and we can work out
details: wirelessdreamer@gmail.com

On Sun, Apr 28, 2019 at 10:56 PM ChengNan Yang <notifications@github.com>
wrote:

[2019-04-29 12:30] wirelessdreamer opened #119 "WaveVR SDK is missing #if UNITY_ANDROID ... #endif defines around its code"
multi platform compilation of projects that include wavevr sdk fail. wrapping files from it so its only included on android would be a clean solution.

[2019-05-02 06:06] chengnay commented on #119
How could I reproduce this issue?
How many SDK you have imported for your project?

[2019-05-08 03:44] #47 closed

[2019-05-08 03:45] #54 closed

[2019-05-08 08:17] chengnay commented on #102
@jag2013 Can you try the latest VIU package, we already fixed this issue.

[2019-05-08 08:19] chengnay commented on #109
@wirelessdreamer The latest VIU package fixed this issue. Please try it out, thanks!

[2019-05-08 08:20] chengnay commented on #95
Latest VIU (1.10.4) package fixed this issue, please try it out. Thanks!

[2019-05-08 08:22] chengnay commented on #113
@wakeup5 Can you try the latest VIU (1.10.4) package?
Let us know if this issue still exists. Thanks!

[2019-05-08 08:24] #58 closed

[2019-05-09 11:57] wirelessdreamer opened #120 "Removing OpenVR from SDK list can be confusing"
Preferences -> VIU Settings -> Vive

automatically keeps OpenVR on the list of SDK's. so when a user removes OpenVR from

Player -> XR Settings -> VR SDK's, it gets automatically added back in, with the user not being sure why.

Please add a log message to the console when the SDK gets added in from this option so if a user removes it from the SDK list, and it is auto added back in it tells them s

[2019-05-09 11:58] wirelessdreamer commented on #119
import WaveVR SDK into a project, target windows with the project and try to compile it.

[2019-05-09 11:59] wirelessdreamer commented on #118
For a short term workaround I removed the WaveVR SDK, the issue was related to it. I've still been doing out of thread testing with @chengnay so leaving the issue open to update with results later.

[2019-05-10 01:12] chengnay commented on #119
It is not recommended to have other platform's SDKs included in your project while compiling.
Unused SDKs will take up space while you build your project into an executable file.
If you still think adding #if UNITY_ANDROID ... #endif to WaveVR SDK is necessary, please submit a case for them in [WaveVR SDK forum](https://community.viveport.com/t5/Vive-Wave-SDK/bd-p/vive-wave-sdk).

[2019-05-10 01:18] wirelessdreamer commented on #119
having the platform sdk so its pre-processor is what enables in for its platform helps to negate that issue, as none of the code for it is is compiled into the resulting binary :)

[2019-05-10 01:18] #119 closed

[2019-05-11 23:00] wirelessdreamer opened #121 "VRModule.GetDeviceState(0).deviceModel is returning Unknown with an Oculus Rift headset"
VRModule.GetDeviceState(0).deviceModel is returning Unknown with an Oculus Rift headset

Expected result is returning: VRModuleDeviceModel.OculusHMD

[2019-05-11 23:05] wirelessdreamer commented on #120
Not only is it confusing, but VIU Settings keeps turning VIVE support back on when it gets disabled, making Oculus Store builds is a pain, as you constantly have to re-enter the settings menu and keep turning it off. it feels like every other time I press play I'm back in turning it off again.

[2019-05-12 05:31] neku7474 opened #122 "Vive tracker was detected as controller in role binding interface"
I used vive role binding interface.
But sometime Vive tracker was detected as vive controller in role binding interface and the tracker's rotation changed.

Is there any solution?

[2019-05-12 18:15] freseco opened #123 "HTC Focus. Unity3d project Updated to v1.10.4 and this error appears"
All my projects have the same problem:

NullReferenceException: Object reference not set to an instance of an object
HTC.UnityPlugin.VRModuleManagement.WaveVRModule.UpdateDevicePose (System.UInt32 deviceIndex, WaveVR+Device content) (at Assets/HTC.UnityPlugin/VRModule/Modules/WaveVRModule.cs:486)
HTC.UnityPlugin.VRModuleManagement.WaveVRModule.OnNewPoses (System.Object[] args) (at Assets/HTC.Unity

[2019-05-13 02:46] chengnay commented on #122
Which version of VIU are you using?
Please list the version of Unity and any SDK that you used too, thanks!

[2019-05-13 02:47] chengnay commented on #123
Which version of WaveVR SDK are you using?

[2019-05-13 03:41] neku7474 commented on #122
I have solved this issue.
It was steamVR issue.
I changed Tracker's role to "Disable".

[2019-05-13 03:43] #122 closed

[2019-05-13 05:55] chengnay commented on #121
Do you have any SDK(Oculus SDK or others) imported?
Or are you using UnityEngine?

[2019-05-13 06:27] chengnay commented on #121
@wirelessdreamer I just tried over my side with Clean project(Unity 2019.2.0a9) with Oculus SDK(0.0.0) imported. I can query the deviceModel with the API you used. I might need more information to duplicate the issue.

[2019-05-13 10:18] chengnay commented on #120
@wirelessdreamer Do you mean when you unchecked VIU Settings "VIVE", it will automatically turn on by itself?

[2019-05-13 10:22] wirelessdreamer commented on #120
Yes

On Mon, May 13, 2019, 6:18 AM ChengNan Yang <notifications@github.com>
wrote:

[2019-05-13 10:24] chengnay commented on #120
Could you try the following code,
public static void ApplyChanges()
{
    if (!s_isDirty) { return; }
    s_isDirty = false;

    s_projectSettingAsset.Update();

    string updatedSDKName = "";

    if (s_devicesProp != null)
    {
        if (s_devicesProp.arraySize != s_enabledSDKNames.Count)
        {
            s_devicesProp.arraySize = s_enabledSDKNames.Count;
        }

        for (int i

[2019-05-13 11:40] wirelessdreamer commented on #120
I updated the message on my side to: Debug.Log(updatedSDKName + " is added
to the VR SDK list, Remove SDK from Preferences -> VIU Settings if you want
to disable it.");

Until i was familiar with VIU I didn't know its settings were stored under
preferences, so can be hard to locate the setting.

On Mon, May 13, 2019 at 6:24 AM ChengNan Yang <notifications@github.com>
wrote:

[2019-05-13 11:41] wirelessdreamer commented on #120
The initial issue was actually caused by SteamVR in SteamVR_AutoEnableVR.cs

for anyone else seeing this disable SteamVR_Settings.instance.autoEnableVR or just comment out the logic related to that in the file.

[2019-05-14 02:29] chengnay commented on #120
If it is not added by VIU, do you think adding the message in VIU is necessary?

[2019-05-14 03:21] wirelessdreamer commented on #120
I never saw a message for vive devices from that when I was testing here, only from the oculus device I was testing. I'd say go ahead and pull it, then close this ticket. Thanks for looking into it.

[2019-05-15 06:45] chengnay commented on #121
@wirelessdreamer If you can duplicate on your project, could you help to debug in below function,

1. In VRModule.cs, line 133
public static IVRModuleDeviceState GetCurrentDeviceState(uint deviceIndex)
{
    if (!IsValidDeviceIndex(deviceIndex) || Instance == null || Instance.m_currStates == null) { return **s_defaultState**; }
    return Instance.m_currStates[deviceIndex] ?? **s_defaultState**;
}

[2019-05-15 09:39] freseco commented on #123
I have update to the latest Wave SDK (version 3.0.2) and samples because I wasn't sure about what sdk I was using and I get these errors:

Assets\HTC.UnityPlugin\VRModule\Modules\WaveVRModule.cs(104,91): error CS0117: 'WaveVR_ControllerLoader.ControllerHand' does not contain a definition for 'Controller_Right'

Assets\HTC.UnityPlugin\VRModule\Modules\WaveVRModule.cs(123,95): error CS0117: 'WaveVR_

[2019-05-15 09:48] chengnay commented on #123
@freseco Did you update VIU to v1.10.4?

[2019-05-15 11:35] TheBricktop opened #124 "VivePose.getVelocity should accept BodyRole as input."
Currently VivePose.getVelocity for some reason only accepts hand role and device role, but for better flexibility and interconnection with body bindings it should also parse body role.

[2019-05-15 11:48] wirelessdreamer commented on #121
This is what I see for Device State: HTC.UnityPlugin.VRModuleManagement.VRModule+DeviceState

Here is a clean project that reproduces the behavior:

https://mega.nz/#!hstAiCIb!3LAqYTRij95zd-2jqaY4Mids5-oRG1JyUitNOn0ZRN8

BodyRole.cs and BindingInterfaceRolePanelController.cs have both been modified. On project start BindingInterfaceRolePanelController will output the device state and model it sees

[2019-05-16 02:50] chengnay commented on #121
@wirelessdreamer Do you get Unknown device model non-stop or just ~30 times after you start playing?
At the very beginning when Unity starts playing, the index 0 will be an invalid index. That's why you will get Unknown for device model.
You can try below code to avoid getting invalid index.

if (VRModule.IsValidDeviceIndex(VRModule.HMD_DEVICE_INDEX))
{
    switch (VRModule.GetDeviceState(VRModule

[2019-05-16 03:36] wirelessdreamer commented on #121
A valid device was never returned in the example above. I hadn't enabled XR support in the uploaded one, but once you enable it in that project the headset works fine, but always says unknown

[2019-05-16 03:43] chengnay commented on #121
I enabled the XR Settings,
![image](https://user-images.githubusercontent.com/33050705/57824960-6781b480-77cf-11e9-912d-3811f857633e.png)
The code you added will only trigger when you click on the BodyRole, HandRole and TrackerRole.
You launch the RoleBindingExample scene, am I correct?

[2019-05-16 07:12] freseco commented on #123
Yes, I've update the VIU and the WaveVR SDK again and the errors disappeared but I got new one when I build the project:

**CommandInvokationFailure: Gradle build failed.**
Error: Google Play requires that apps target API level 26 or higher.
 [ExpiredTargetSdkVersion]
        targetSdkVersion 25
[code]

[2019-05-16 07:27] chengnay commented on #123
@freseco The error is caused by the below image in Build Settings.
![image](https://user-images.githubusercontent.com/33050705/57834371-bdb22000-77ee-11e9-8cc8-899593caef60.png)
You can try changing it to internal or upgrade your API level.
https://developer.android.com/distribute/best-practices/develop/target-sdk

[2019-05-16 08:38] freseco commented on #123
Thank you for answer.

I've uninstalled the SDK build tool 29-rc3 and changed the build system to internal and this is the new error:
![Error htc](https://user-images.githubusercontent.com/10836623/57839220-563ca600-77d7-11e9-99b4-ce98098f85dd.PNG)

and if upgrade the API level:
![htc not compatible](https://user-images.githubusercontent.com/10836623/57839204-4ae97a80-77d7-11e9-953a-41c31884ad40.P

[2019-05-16 08:59] chengnay commented on #123
@freseco Could you show your Android SDK's list?

D:\Tools\android-sdk-windows\tools\bin>**sdkmanager.bat --list**
Installed packages:=====================] 100% Computing updates...
  Path                     | Version | Description                    | Location
  -------                  | ------- | -------                        | -------
  build-tools;25.0.2       | 25.0.2  | Android SDK Build

[2019-05-16 16:22] Snorchy opened #125 "Console errors when starting WaveVR Simulator"
Hi, with Vive Focus updated, VIU in 1.10.4 and WaveVR SDK in 3.0.2 when in Unity 2017.4.26 I click "Start Simulator" via WaveVR top menu (with the apk already installed and running) the following errors appear:

[code]

I hope you can look into it, thank you for your great work!

[2019-05-17 06:58] chengnay commented on #124
@TheBricktop What is your main purpose? Could you provide sample code for us to check? Thanks!

[2019-05-17 07:09] chengnay commented on #125
@Snorchy Could you provide your Vive Focus's rom version and Wave SDK version?
Did you install simulator apk using the current project?

[2019-05-17 09:50] Snorchy commented on #125
Focus details:

wave sdk version: 3.02
build number: 1.95.1400.209.0_g CL1074725

Regarding the installation of the simulator. I tried first installing it via the Unity menu but that gave me error code 1 (unsuccessful installation). I saw the code and I copy pasted the adb command to the command prompt but it said "Invalid APK file" or something like that.

Eventually I could install it manually b

[2019-05-17 12:00] freseco commented on #123
This is my Android SDK list:

` D:\Android\SDK\tools\bin> .\sdkmanager.bat --list
Installed packages:=====================] 100% Computing updates...
  Path                                                                              | Version | Description                                     | Location
  -------                                                                           | ------- |

[2019-05-20 07:05] chengnay commented on #125
@Snorchy It is weird that I don't find your build number from our database.
And, there might be issue when you don't install apk by official method.
Can you share the apk in Assets\Plugins\wvr_plugins_simulator_server.apk?
I would like to check whether this apk is broken.
I couldn't reproduce your issue by using VIU 1.10.4, Unity 2017.4.26 and WaveVR SDK 3.0.2 with my own Focus device.

[2019-05-20 09:31] chengnay commented on #123
@freseco Your Android SDK list looks fine to me.
Could you show me the external tools setting in Unity?
Edit > Preferences > External Tools
![image](https://user-images.githubusercontent.com/33050705/58011434-ce330500-7b24-11e9-941d-1cd603bff35a.png)

Is your current project build successfully before? Are you able to share your project to me?
In your project, you ONLY imported VIU and WaveVR SDK?

[2019-05-21 06:10] chengnay commented on #123
I think I found the root cause. Did you import WaveVR SDK 3.0.2 without removing the older ones?
In WaveVR SDK 3.0.2, there is no WaveVR_AdaptiveController.cs found.
Please remember to remove previous SDK before importing new ones, thanks!

[2019-05-22 16:24] wirelessdreamer opened #126 "Show RIft s / Quest controller models when using those controllers"
Currently the previous generation of controller is shown for those platforms. Also add platform defines for both platforms.

[2019-05-29 18:47] freseco commented on #123
Hello, this is how I fix the problem, a hardcore way:

Create a new project, add the WaveSDK 3.0.2 and the VIU 1.10.4 and then, copy the old project files into the new one.

With all of these, I can build and install it in the focus.

Probably there is something wrong in the old project with cache, library, settings...I did not find problem.

Thank you for helping.

[2019-05-30 01:32] chengnay commented on #123
@freseco Great to hear that you fixed your problem. Just remember that deleting previous SDK before importing or updating to latest one is a better way. Good luck!

[2019-05-30 01:32] #123 closed

[2019-05-31 16:46] Snorchy commented on #125
Sure, here it is: https://1drv.ms/f/s!At9UtWURDSwlhfBVKah_ZecBGxraQA

[2019-06-01 02:40] sstachiw opened #127 "UI Interaction works in Editor but not in Build VR2.0"
I have some basic UI buttons in my scene world space. I have properly set these up with UIElement components and everything works as expected when I play in the editor. But as soon as I build my exe and run it, the UI Interaction (Click) does not work anymore.

The hover state still works and some of my other programming. But it won't actually execute a click on the button.

Any ideas?

[2019-06-03 08:36] chengnay commented on #125
@Snorchy I got the response from our Wave SDK team, and they replied with a patch for your issue.
Could you apply the fix and try again?
[patches.zip](https://github.com/ViveSoftware/ViveInputUtility-Unity/files/3246565/patches.zip)

[2019-06-03 09:01] Snorchy commented on #125
I don't have access to that device anymore, my company was renting it for some days and I don't know when we'll have it again. If I can try it with my Android phone (since the Focus work with Android) then I'll do it.

[2019-06-03 09:04] chengnay commented on #125
@Snorchy Android phone cannot run apk that is build for Vive Focus. Just try the patch when you got the device back, thanks!

[2019-06-03 09:20] Snorchy commented on #125
Ok, I did everything I could at the moment. I'm sorry. If I have it again I'll tell you. And you have the build number, in case you come accross one Focus with that version,

[2019-06-03 09:33] chengnay commented on #127
@sstachiw Could you provide more information?
1. Which versions of Unity, VIU, SteamVR plugin, or any other SDK imported?
2. Which VR device?
3. Did you check any selection in VIU Settings?
![image](https://user-images.githubusercontent.com/33050705/58791864-97c9af80-8625-11e9-92e2-61a028e30640.png)

Can you share your project?

[2019-06-09 20:45] wirelessdreamer commented on #120
The solution i ended up going with was Editing SteamVR/Editor/SteamVR_AutoEnableVR.cs
I commented out most of the file, as its obnoxious behavior was what caused my issues. Its an upstream problem not VIU.

[2019-06-09 20:45] #120 closed

[2019-06-09 20:50] wirelessdreamer opened #128 "How to 'simulate' a button press for the event raycaster when not using a standard input controller"
Here is the basic setup i'm trying to get working, with some background.

I updated all my ui interactions to use the event raycaster setup VIU uses. it works fine with all the controllers i have configured like Vive, rift, etc. I have a controller I'm trying to set up that has a vive controller mounted to it, to track position, but its a wireless usb game pad as far as unity is concerned. I'm hav

[2019-06-09 20:51] wirelessdreamer commented on #109
Resolved. Thanks :)

[2019-06-09 20:51] #109 closed

[2019-06-09 20:52] wirelessdreamer commented on #101
I still thought the VIU action set would show when it received actions, as its visible to SteamVR

[2019-06-11 03:14] chengnay commented on #128
@wirelessdreamer You could implement your own EventData and Raycaster.
Please refer to below two files,
Assets\HTC.UnityPlugin\Pointer3D\StandaloneRaycaster\StandaloneEventData.cs
Assets\HTC.UnityPlugin\Pointer3D\StandaloneRaycaster\StandaloneRaycaster.cs

[2019-06-11 13:40] Knive opened #129 "VIU does not seem work with SteamVR 2.2.0"
After having set up SteamVR 2.2.0 and VIU 1.10.4, trying the 0.Tutorial scene I get flooded with these kind of errors :
`GetActionOrigins failed! action=/actions/htc_viu/in/viu_axis_3xy error=InvalidHandle`
It's not only viu_axis but press, etc.
I tried to downgrade SteamVR to 1.2.3 (deprecated) and UI elements get highlighted when hovering the 3D pointer but the click doesn't seem to be handled.

[2019-06-12 02:54] chengnay commented on #129
Could you try the method in below link?
https://community.viveport.com/t5/Vive-Input-Utility/GetActionOrigins-error/m-p/31268#M54

[2019-06-12 09:26] Knive commented on #129
Thanks @chengnay, there's no error anymore but clicking still doesn't work 😢

[2019-06-12 09:40] chengnay commented on #129
@Knive Are you using SteamVR 2.2.0 and VIU 1.10.4?
After you pressed trigger, you don't see effect on the button in 0.Tutorial scene?

[2019-06-12 10:12] Knive commented on #129
Yes SteamVR 2.2.0 (also tested 2.0) and VIU 1.10.4
I can see a highlight effect on the button when pointer is hovering it, but pressing the trigger does not seem to have any effects 😞

[2019-06-12 10:18] chengnay commented on #129
@Knive Could you try other scene(3.3DDrag or 5.ColliderEvent)?

[2019-06-12 10:25] Knive commented on #129
Still the same, objects get hightlighted but press is not handled

[2019-06-12 10:27] chengnay commented on #129
What device you are using? VIVE or VIVE Pro?

[2019-06-12 10:27] Knive commented on #129
A Vive

[2019-06-12 10:28] chengnay commented on #129
Could you share your project to me?

[2019-06-12 16:32] wirelessdreamer commented on #128
I'm not seeing the logic in either of those files that fires the event off. The end result I'm trying to find is
call function: ClickMyMouseButton()  and when i cal lthat function, it sends the mouse button left click, then call LetGoOfMyMouseButton() it sends the event for letting go of the left mouse button.

[2019-06-13 15:38] Knive commented on #129
Here you can download it : https://we.tl/t-toHrLOYAln

[2019-06-14 01:47] chengnay commented on #129
Your project works perfectly fine.
Can you restart your SteamVR and try again?

One way you can check whether your controller's input is working or not, you can do the following steps,
1. Play your project
2. Click on [ViveInputUtility] under DontDestroyOnLoad
![image](https://user-images.githubusercontent.com/33050705/59477542-348f1700-8e88-11e9-8140-77566f6c499c.png)
3. Click on the top right co

[2019-06-14 09:25] chengnay commented on #128
Let's show you an example by using Example 1.UGUI
![image](https://user-images.githubusercontent.com/33050705/59498586-47294080-8ec8-11e9-99d2-364f7f3dcab4.png)
1. Add a Cube to VROrigin>VivePointers>Right or Left>PoseTracker
2. Add component of Standalone Raycaster
3. Play your scene, you will see 2 raycasters on Scene view
![image](https://user-images.githubusercontent.com/33050705/59498920-e949

[2019-06-14 17:41] lawwong commented on #128
Another example:
[code]
In the scene, just replace ViveRaycaster with the script will do.
Keep the VivePoseTracker if you want this raycaster tracked on a device.
![my_custom_raycaster_01](https://user-images.githubusercontent.com/2704517/59527222-8928a580-8f0d-11e9-98d1-09d85927dc58.png)
Remember to re-hook Reticle/GuidLineDrawer if you want them to work.
![my_custom_raycaster_02](https://user-im

[2019-06-20 00:03] alessiograncini opened #130 "WEB VR input mapping."
Hello everyone,
I am trying to map the VIU inputs on the [WebVR unity template ] [https://assetstore.unity.com/packages/templates/systems/webvr-assets-109152](url)
![WebVRInpuMap](https://user-images.githubusercontent.com/10515494/59809049-cdbc9400-92b3-11e9-86cb-70617e119fd8.PNG)

I really don't get how this works, since the VIU inputs are defined only through axis and there are not button IDs de

[2019-06-20 02:48] chengnay commented on #130
@alessiograncini Every plugin has its own unique way of input mapping.
I think it is not easy to map VIU inputs onto WebVR unity template.
Why don't you just use VIU plugin for development?
VIU supports almost all VR devices including WMR.

[2019-06-20 03:56] lawwong commented on #130
If remapping doesn't work, I think we do it by creating new WebVRModule.

[2019-06-20 17:13] alessiograncini commented on #130
@lawwong @chengnay  thanks for the quick support. I am aware of the fact that VIU supports WMR and more, I am actually used to build using VIU since you can integrate the scene in multiple headsets.

My question addresses more the WebVR purpose. You can see my efforts in the images.

![VIU - gamepad](https://user-images.githubusercontent.com/10515494/59867762-ec6a6b80-9343-11e9-8559-e6752af66954.P

[2019-06-20 23:01] alessiograncini commented on #130
Further updates.
Creating the inputs for OpenVR from the unity documentations and mapping them to the Gamepad Ids of the WebVR templates, as suggested in the WebVR repo documentation, I successfully play the scene in Unity having the right response from the controller.
Unfortunately on the Web the controller inputs are not recognized - I still can see them.
[in my scene there are no components ref

[2019-06-21 00:53] alessiograncini commented on #130
Further update. Got rid of VIU. Indeed, I don't need it. my only goal was mapping the OpenVR inputs on the webVR inputs. Success on Unity at runtime. Not the same on the web. Is there any specific way to do it ?
Thank you.

[2019-06-25 01:58] wirelessdreamer opened #131 "UGUI Example scene locks up on QUEST when clicking on text input field"
import viu, load UI example scene, push to quest, click on text input field. Quest locks up with 3 dots

[2019-06-26 12:05] blanxdev opened #132 "UGui Buttons don't work in ScrolRect"
Hi,

I can't get buttons work if they are within a scrollrect. I get highlights and select events on the button but pressing trigger only moves the scrollrect, but does not fire the click event on the button.

If I take it out of the scroll rect it works as it should.

[2019-06-27 08:22] chengnay commented on #132
Please refer to this [thread](https://github.com/ViveSoftware/ViveInputUtility-Unity/issues/37).

[2019-06-28 07:31] chengnay commented on #126
@wirelessdreamer Latest GitHub can support Oculus Quest.
I cannot get Oculus Rift S device yet, cannot finish adding this device.

[2019-07-03 02:54] chengnay commented on #129
@Knive Do you have any update?

[2019-07-08 14:25] benjaminshp commented on #27
Great .. it works ;-)
  XRSettings.gameViewRenderMode = GameViewRenderMode.RightEye;

[2019-07-08 14:26] #27 closed

[2019-07-09 09:14] JerryLetehen opened #133 "Render queue changed when hitting an object"
**Steps:**
    1. Open any tutorial where the lasers are
    2. Look through the laser when it hits an object and when it doesn't

**Factual:** When the laser hits an object objects behind are visible. When it doesn't, the objects are hidden.
**Expected:** Objects behind the laser are always visible.
See attachments.
![Screenshot_21](https://user-images.githubusercontent.com/35923264/60875691-0e6c

[2019-07-09 15:10] skahlert opened #134 "Colliders influence height of camera (head) position"
The camera position seems to adjust height, depending on colliders directly below the camera position. For example if the player moves the head forward, just above a ascending stair, the camera jumps up a few centimeters, without the user triggering a teleport.
It seems like the camera always tries to stay above a certain distance of the first collider hit, but there is no way I found to influence

[2019-07-12 07:25] chengnay commented on #133
@JerryLetehen Could you try editing the shader of the GuideLine to UI/Unlit/Transparent?
![image](https://user-images.githubusercontent.com/33050705/61109791-53e58800-a4b8-11e9-8b37-14a03d0adf2a.png)

[2019-07-12 07:29] chengnay commented on #134
@skahlert Which device you are using?
Please provide the version of Unity, Plugin and VIU.
Could you also provide a sample project or a short video?

[2019-07-15 13:39] JerryLetehen commented on #133
@chengnay doesnt fix the issue

[2019-07-15 15:07] skahlert commented on #134
1. The device used is the Vive Focus Plus. But I can replicate it also through the simulator (see attached video).
2. I did not add a collider to the Camera of the ViveRig prefab, no...
3. VIU Version: 1.10.4, Unity: 2019.1.3f1, WaveSDK: 3.0.2
4. Video is [here](https://www.dropbox.com/s/juzyq3njjfrmafd/error_1.mp4?dl=0). The project is a bit large, though. I'll try to make a smaller one, that rep

[2019-07-15 15:19] skahlert commented on #134
While creating the test-project I found that the VRTK teleporter seems to hijack the camera and snap it to the floor. I was not aware of this sideeffect. So no issue with VIU.
Sorry, for the confusion.

[2019-07-15 15:19] #134 closed

[2019-07-16 03:07] chengnay commented on #133
@JerryLetehen Could you try adjusting the order in layer for the Guideline?
![image](https://user-images.githubusercontent.com/33050705/61262932-bb058400-a7b9-11e9-8351-498a20b16d17.png)

Is this what you are looking for?

[2019-07-16 09:31] JerryLetehen commented on #133
@chengnay Looks good. I think that resolves this issue. Thank you

[2019-07-16 09:31] #133 closed

[2019-07-19 14:27] wirelessdreamer opened #135 "Rotaional and positional offset between Vive and Rift controllers"
I've done testing with both openVR, and oculus software between vive and rift hardware. It looks like there is a 35 degree rotational offset between controller orientation, and some positional offset.

Good example of a controller setup for Rift S
![image](https://user-images.githubusercontent.com/140221/61542386-75da8f80-aa0f-11e9-8ba4-c0cdb3e0c0a0.png)

To match a vive controller in about the sa

[2019-07-19 16:32] wirelessdreamer commented on #135
another straight forward way to reproduce this: The controller model for the CV1 doesn't match up to the physical location of the controller. it has the same positional offset as is mentioned above of how far a child gameobject is off from its parent.

[2019-07-30 09:21] chengnay commented on #131
@wirelessdreamer I just checked that issue, and it is not caused by VIU.
InputField is the root cause to this issue, but not sure why it does not happen in Oculus Go.

[2019-08-01 17:21] DaveyDangerpants opened #136 "Pattern showing up on the texture for the controller model, controller input seems disabled"
We're getting a strange issue with the Vive controllers, which seems to come and go. We've tried a lot of different fixes, but nothing seems to work beyond restarting SteamVR a few times and then relaunching our program.

https://drive.google.com/file/d/1Vi8pz4rYZZmGNQCspgJWuv0sJiIJ6Abu/view?usp=sharing

The link shows a desktop capture of the issue in action. Sometimes, when we launch our program

[2019-08-02 10:51] wirelessdreamer commented on #131
I have an open issue with unity on it. I haven't seen any updates yet
though.

On Tue, Jul 30, 2019, 5:22 AM ChengNan Yang <notifications@github.com>
wrote:

[2019-08-06 13:40] lupustom commented on #94
We are experiencing the same issue. Changing the order of comparisons to depth before distance did also work for us, however the fix does not seem to be satisfactory.

We can also reproduce the bug in a clean scene with just a canvas, a background image and a button, if the canvas is placed at a certain position and the button is placed at a certain position within the canvas. Although all canvas

[2019-08-07 06:59] chengnay commented on #94
@lupustom I tried the values you have above, but I couldn't reproduce. Could you provide a sample project and also a video to show your findings? Thanks!

[2019-08-08 03:20] chengnay commented on #136
@DaveyDangerpants What is the SteamVR Plugin version you are using?

[2019-08-16 12:03] lupustom commented on #94
Apologies for the late reply. Just wanted to attach a zip of the sample project, but it's 26MB and GitHub only lets you upload 10MB max ... is there another way to get it to you?

[2019-08-16 12:13] lupustom commented on #136
@DaveyDangerpants have you found a way to keep this from happening? I can second this issue ... relaunching SteamVR, the application or even the computer did not solve it.
@chengnay we are running the latest version of SteamVR (1.6.10) and did not experience the issue beforehand

[2019-08-16 14:38] wirelessdreamer opened #137 "WaveVR ignores unity provided Android SDK and JDK"
Wave SDK throws errors when trying to enable WaveVR support in unity when using provided Unity android build tools, which is the normal Unity android workflow for the past few releases.

[2019-08-16 16:27] DaveyDangerpants commented on #136
@chengnay We're using SteamVR 1.5.2, but we've had the same issue with earlier versions of SteamVR as well.

@lupustom The issue arises intermittedly and we have tried many different solutions including:

- Using different versions of Unity
- Using different versions of the VIU plugin
- Using different versions of SteamVR
- Creating custom control bindings
- Using the default control bindings
- Pa

[2019-08-16 16:28] DaveyDangerpants commented on #136
@chengnay I'll see if I can replicate it and attach the debug log.

[2019-08-16 16:58] DaveyDangerpants commented on #136
[https://drive.google.com/file/d/1pcZwa_H7_5zicCU41PRq5meXAu79gw2T/view?usp=sharing](url)

A link to the debug log for this session:
[https://drive.google.com/file/d/16WBtnfqpGQZgRIu1sqwbrpIWyCncykH9/view?usp=sharing](url)

[2019-08-19 03:04] chengnay commented on #136
@DaveyDangerpants Could you double check when the issue occurs, then you try to run SteamVR sample scene will also see the same issue?

[2019-08-19 11:07] frg-kova opened #138 "can't play in editor while WaveVR support turned on (1.10.4.0)"
If you develop the game in editor on Rift/Vive and have Focus Wave support turned on in VIUSettings asset, it won't play. This worked on 1.10.3.
If you turn off the WaveVR support, now it plays in editor but builds won't work.

The workaround was turning it off in editor in code, WaveVRSettings.cs:
[code]

[2019-08-20 19:21] grrrwaaa commented on #136
The problem comes and goes. It just happened again, after I changed the bindings. Here is a clip from it happening in our project and in the VIU example scene. When I launch the Steam VR scene, the problematic controller disappears completely.

https://drive.google.com/file/d/1BBBz2_0TLHYttB0g-br_2Y4CoYT8mOos/view?usp=sharing

[2019-08-21 02:09] chengnay commented on #136
@grrrwaaa In your video, did you release that one of your controllers is missing? I think is the one(left controller) that is having the issue.

[2019-08-21 03:39] chengnay commented on #137
@wirelessdreamer Which Unity version you are using? Let me duplicate on my side to see what I can do to fix it.

[2019-08-21 03:40] wirelessdreamer commented on #137
2019.2.0f1

[2019-08-21 05:52] chengnay commented on #138
@frg-kova Do you have any error log?
You mentioned turn off the WaveVR support, builds won't work is in which platform? PC or Android?

[2019-08-21 06:52] chengnay commented on #137
Could you show me your settings?
![image](https://user-images.githubusercontent.com/33050705/63409192-43afb980-c423-11e9-9ad8-60eac29d6495.png)

[2019-08-21 08:12] chengnay commented on #137
I just build success, so I might need more information from you.
This is my External Tools settings.
![image](https://user-images.githubusercontent.com/33050705/63414404-5ed3f680-c42e-11e9-9a05-e4fdd16cadb2.png)

Please share your settings and also the build error log.
By the way, I am using WaveSDK 3.0.2, what about yours?

[2019-08-21 09:39] frg-kova commented on #138
We're on android platform, Unity 2018.4.6f1 / WaveVR 3.0.2 / VIU 1.10.4 / SteamVR v2.3.2 (sdk 1.4.18)
I don't remember any related error or warning logs, but wasn't actively looking through them all also.

[2019-08-21 10:01] chengnay commented on #138
@frg-kova You try to play on Android platform. Should I say you are actually referring to WaveVR Simulator does not play?

[2019-08-21 10:10] frg-kova commented on #138
no, we don't use simulator, simulator is only if you don't have VR device connected to your PC

So in earlier versions of SDKS and VIU (1.10.3), you were on android platform, but if you hit play in editor the game would run on HMD (Rift or Vive) if you have it connected.

Soon after I fixed it with provided workaround I went on another project so I'll get you video or sample project when I get bac

[2019-08-21 10:14] chengnay commented on #138
OK, I never know this will happen, let me try on 1.10.3 and see what I can do, thanks!

[2019-08-21 15:45] DaveyDangerpants commented on #136
@chengnay This was actually me. I was using a shared computer in a lab and didn't realize that I was logged into someone else's Git account.

The issue only happens when adding the VIU plugin into the project. We never experience this issue in any other project. Closing SteamVR and relaunching does not always fix the issue. As you can see in the quoted video, launching the VIU sample scene shows t

[2019-08-22 02:05] chengnay commented on #136
But from the video you provided, left controller was actually missing when playing SteamVR sample scene. Could you provide separate logs, failed log in scene that uses VIU plugin and failed log in SteamVR sample scene?

[2019-08-22 03:07] chengnay commented on #138
@frg-kova I think I found the root cause, it should be the WaveVR SDK. They modify the behavior to the Wave Simulator.
When you are using VIU v1.10.3, you should be using WaveVR 2.18 instead of 3.0.2.
Although I couldn't see anything in Rift while playing my scene, I saw Unity Editor is using HMD's tracking.

[2019-08-22 03:29] DaveyDangerpants commented on #136
Yes, it appears that in our project as well ast he VIU sample scene, the left controller displayed that strange pattern and was unresponsive to input. When the SteamVR sample scene was launched, it disappeared completed (but was still showing up as paired and active in the SteamVR application).

When it happens again, I'll send along logs for both the VIU sample scene and SteamVR sample scene.

[2019-08-22 03:37] chengnay commented on #136
@DaveyDangerpants Thanks, if you can provide error logs that will be helpful.
I will try to replicate this issue myself to see what is actually causing the problem.
In VIU, we actually getting controller's component states from SteamVR, if SteamVR is not responsive, that is why those strange patterns show on the controller model.

Do you mean in the scene with VIU plugin it is not paired and inact

[2019-08-22 09:04] frg-kova commented on #138
we were on VIU 1.10.3 / WaveVR 2.1.8 then upgraded to VIU 1.10.4 / WaveVR 3.0.2

The point is, if you have Vive or Rift connected to your PC, and you're on android platform, when you hit play in editor it's really nice to develop on HMD. With VIU 1.10.4 you can do that if you disable WaveVR support in VIUSettings. You have to enable it later when you're done so you don't mess up the build. This is

[2019-08-22 09:12] chengnay commented on #138
You mentioned you can still develop on HMD when on Android platform, but are you able to see any controllers for VIU v1.10.3?

Could you list what other differences between v1.10.3 and v1.10.4?
If in v1.10.3 you don't have to uncheck WaveVR support, then v1.10.4 you need to uncheck, that is because WaveVR SDK, not due to anything in VIU. You can still do the same trick with v1.10.4 and WaveVR 2.1.

[2019-08-22 09:37] frg-kova commented on #138
on VIU 1.10.3 / WaveVR 2.1.8 I was able to play in editor like I was playing for pc - able to see Vive or Rift controllers as well - SteamVR takes over. That reminds me we upgraded also to SteamVR 2.3.2, forgot what it was before, 2.something.

Does it really matter who's change it was? VIU is the wrapper around SDKs and responsible for managing them. Wouldn't be nice if you could play on your con

[2019-08-22 09:46] chengnay commented on #138
I would like to clarify that WaveVR SDK is imported in your project, so for consistency if both v1.10.3 and v1.10.4 checked Vive Focus in VIU Settings, v1.10.3 can play on your connected HMD in editor but v1.10.4 cannot, this is not VIU's responsibility, because developer already checked in VIU Settings.

Since you already found a workaround by unchecking Vive Focus which will still allow you to u

[2019-08-22 09:53] frg-kova commented on #138
yeah this is not an issue for me, just wanted to share the solution I found if somebody else wants the same thing.

[2019-08-22 09:54] chengnay commented on #138
@frg-kova Thanks for sharing!

[2019-08-23 09:08] lupustom commented on #136
@DaveyDangerpants do we know if the issue persists in actual builds or only in the editor?

[2019-08-26 01:33] wirelessdreamer commented on #135
here is the workaround I use for this issue if anyone else is fighting with it
I put it on the Gameobject with VivePoseTracker

using HTC.UnityPlugin.Vive;
using HTC.UnityPlugin.VRModuleManagement;
using UnityEngine;

[RequireComponent(typeof(VivePoseTracker))]
public class VRControllerInit : MonoBehaviour
{
    VivePoseTracker vivePoseTracker;

    private void Start() {
        vivePoseTracker =

[2019-08-26 01:35] wirelessdreamer commented on #135
Call ApplyControllerOffset() from OnIsValidChanged

It handles if your using oculus plugin, and oculus devices through steamvr

[2019-09-03 16:23] DaveyDangerpants commented on #136
@chengnay That is what is so strange about this bug. SteamVR is showing the controller as paired and active, but it shows up with that strange pattern in our project as well as the VIU example scene, and disappears completely in the SteamVR sample scene. It is behaving as if it isn't there, but it clearly is, as demonstrated by the appearance of the controller in our project and the VIU example sc

[2019-09-03 16:27] DaveyDangerpants commented on #136
Here is an error log from the error occurring in all three scenes (our project, the VIU example scene and the SteamVR scene)

https://drive.google.com/file/d/19SMU_1WdtM26Zp0d-mka9I05vqgk6dqQ/view?usp=sharing

[2019-09-03 16:28] DaveyDangerpants commented on #136
And another one:
https://drive.google.com/file/d/17KFUqeqRA7XFQwAjWy4nw6JgVj_P0sGs/view?usp=sharing

[2019-09-04 03:51] chengnay commented on #136
@DaveyDangerpants I found an closed issue thread in SteamVR Plugin GitHub. I posted your log for reference.

[2019-09-05 12:31] MSFX opened #139 "Please ship with ASMDEF"
Could you please ship a version with asmdef setup, currently with the number of editor directories present it's not really practical creating so many assemblies
Thanks

[2019-09-05 12:42] MSFX commented on #108
@chengnay are you able to share your asmdef setup for how you got this working please as seriously struggling to get this to compile :( thanks!

[2019-09-06 02:33] chengnay commented on #108
@MSFX What error log did you get from the console window in Unity Editor?

[2019-09-06 02:37] wojiuxuihuan commented on #108
just close scene itself, Sorry for the late reply.

[2019-09-06 02:42] chengnay commented on #108
@wojiuxuihuan VIU won't automatically add "Scripting Define Symbols" only when there is compile error in console window or there is no rebuilding required. You can try the methods in [Troubleshooting Guide](https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki/Troubleshooting-Guide). Let me know if you still cannot resolve it.

[2019-09-06 08:00] ZhouMax95 commented on #129
i got the same issus,i try the debug method ,but the number of "Button Pressed" is still 0,my unity version is 2018.3.14f1 and 2018.2.21f

[2019-09-06 08:06] ZhouMax95 commented on #129
is work fine in SteamVR sample scene,but in VIU sample scene it doesn't work.
before i import SteamVR Plugin,it's work fine,when i import SteamVR Plugin,It's just dont work,not error

[2019-09-06 08:08] chengnay commented on #129
@ZhouMax95 When you import SteamVR Plugin 2.0 and above, you need to apply VIU action sets.
https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki/SteamVR-Input-System-Compatibility
Double check the SteamVR Input window whether you can see htc_viu tab.

[2019-09-06 08:18] ZhouMax95 commented on #129
i have done this before ,but dont work,but,i try that again just a few minute ago in unity 2019.2.4f1,and it work,it's just dont work in unity 2018

[2019-09-06 08:20] chengnay commented on #129
@ZhouMax95 Could you share that Unity 2018 project to me for investigation?

[2019-09-06 08:53] ZhouMax95 commented on #129
it's work fine in 2018.4 LTS version

[2019-09-06 08:56] chengnay commented on #129
Which version fail in Unity 2018?

[2019-09-06 08:58] ZhouMax95 commented on #129
2018.3.14f1 and 2018.2.21f are fail
2018.4 LTS is ok

[2019-09-06 09:13] ZhouMax95 commented on #129
i updating VIU to the latest one from GitHub and try again in 2018.2.21f, it work!

[2019-09-06 09:40] chengnay commented on #139
@MSFX Sorry, we are not very familiar with ASMDEF.
Could you explain more how to improve this part?
How many Plugin SDKs you have imported?

[2019-09-06 18:13] MSFX commented on #139
Thanks for the reply.  You can find more info [here](https://docs.unity3d.com/Manual/ScriptCompilationAssemblyDefinitionFiles.html).

The main issue is with the "Editor" folders you have which should be compiled into a seperate editor assembly so they can't be within directories added under an assembly, so there either needs to be an assembly per Editor directory or you place all Editor scripts in

[2019-09-06 18:21] MSFX opened #140 "VIU Specific Action Sets and Default Bindings"
![errors](https://user-images.githubusercontent.com/296612/64450942-06ae1d00-d0db-11e9-8620-457bd305ce0c.PNG)

Unity 2018.2.14f1
SteamVR 2.3.2
VUI 1.10.4

From [this page](https://github.com/ViveSoftware/ViveInputUtility-Unity/wiki/SteamVR-Input-System-Compatibility) I'm not getting the second step about importing/aaplying VUI project settings... how can I force this please?

Thanks
M

[2019-09-09 09:16] chengnay commented on #140
@MSFX Could you try the latest build from GitHub?
Sorry, we have not updated latest build to Asset Store.

[2019-09-10 09:42] chengnay commented on #139
@MSFX I tried to add ASMDEF to some of the Editor folders, and I will get bunch of compile errors.
It is because in VIU, script files will reference to other script files in other directories.
Do you have any idea how to approach to resolve this issue?

[2019-09-10 09:59] MSFX commented on #139
So if files within one assembly have to reference scripts within another assembly you have to add that assembly to the list of referenced assemblies shown in the inspector when you select the assembly... hope that makes sense??

[2019-09-10 10:00] MSFX commented on #140
Ahhhh yes unchecking Vive in VUI settings gave me the Recommended Settings button, thanks! :)

[2019-09-10 10:00] #140 closed

[2019-09-19 19:25] vasanthkalai opened #141 "VIU not working with used defined Controller binding"
Members
 0
2 posts
Report post
Posted 12 minutes ago
Hi, I am using VIU for the UI selection and my own controller bindings for other interactions in unity 2019.1.14(target device - VIVE pro). But due to VIU Controller binding, my own binding is not working. Can anyone suggest me, Howto make my binding to work along with the VIU. Thanks in advance.

[2019-09-20 09:22] chengnay commented on #141
@vasanthkalai Please check my reply on [VIU forum](https://forum.vive.com/forums/topic/6541-viu-not-working-on-user-defined-binding/).

[2019-09-23 17:33] wirelessdreamer opened #142 "Quest button state not tracking properly"
Logcat results from button presses

2019-09-23 13:24:45.725 11379-11379/com.Test.test W/InputDeviceManager: SetRemoteLatchedButtonState: failed to find device d5cee8ddffffffff

This is using the B button. Code works fine on Rift S, on quest it does not.

This was a workaround I tried because GetPress was experiencing the above issue, so the button i had bound to move wasn't working.

Related code:

[2019-09-27 18:10] MSFX commented on #139
have you managed to resolve this?

[2019-09-28 13:26] rikkuporta opened #143 "Using VIU with WaveVR 3.1.1 beta"
Is there a possibility to use the new WaveVR SDk, like a VIU preview or beta for it?
There is an error is WaveVRModule:641
`if (!WaveVR.Instance.isSimulatorOn || WaveVR_Utils.WVR_GetDegreeOfFreedom_S() == (int)WVR_NumDoF.WVR_NumDoF_6DoF) { return; }`
where isSimulatorOn and WVR_GetDegreeOfFreedom_S() are not available anymore

[2019-10-01 01:57] chengnay commented on #139
Sorry that VIU might not be able to ship with ASMDEF because VIU supports multi SDKs.
It is hard to add dependencies for multi SDKs and it will break if either one doesn't existed in the project.

[2019-10-02 06:41] yanoty3d opened #144 "ViveInput does not work for Oculus Go Touchpad touch position."
I can use Input.GetAxis to get touch position on Oculus Go Touchpad, but not with ViveInput. I tried ViveInput.GetPadAxis and a few other combinations, but no success. Am I doing it incorrectly?

[2019-10-02 07:21] chengnay commented on #141
Replied in [VIVE forum](https://forum.vive.com/forums/topic/6541-viu-not-working-on-user-defined-binding/page/2/)

[2019-10-02 07:23] chengnay commented on #143
@rikkuporta What's the version of VIU you are using?
Did you try using the one in GitHub?

[2019-10-02 07:30] chengnay commented on #142
@wirelessdreamer Which version of Oculus SDK and VIU you're using?
And, Unity version.

[2019-10-02 07:30] chengnay commented on #144
@yanoty3d Which version of Unity, Oculus SDK and VIU you're using?

[2019-10-02 10:05] rikkuporta commented on #143
Thanks, it is working with the Version from Github ('ve been using the one from the Asset Store)

[2019-10-02 10:07] chengnay commented on #143
@rikkuporta We will be updating the version on Asset Store soon.
Sorry for the inconvenience.

[2019-10-02 13:20] rikkuporta opened #145 "VIU deactivating Camera on ViveRIg on Start"
I'm using the newest Version of the VIU Asset her from Github and the WaveVR 3.1.1 Beta SDK on Windows 10 with Unity 2018.4.2f1.
I have a Scene with nothing inside except for the ViveRig. When I start the Scene, there is a moment where the camera is activated/enabled, then the Camera is deactivated/disabled.

It does not matter if Virtual Reality Supported is ticked on or off in the XR Settings.
T

[2019-10-02 16:32] yanoty3d commented on #144
I am using Unity 2019.2.2f1 and Oculus Integration ver 1.4.0 and VIU commit 0cebb42.

By "Oculus App", do you mean the mobile app? It is version 32.0.

By the way, Quest is working fine. Only Go has got this problem.

[2019-10-03 01:57] chengnay commented on #144
@yanoty3d For Oculus Go, OculusVRModule did not have Axis2D for touchpad.
I am still trying to find out how to add Axis2D for Touchpad.
For controller type, RTrackedRemote or LTrackedRemote, I couldn't find touchpad axis values.

[2019-10-03 02:11] chengnay commented on #145
@rikkuporta After the Camera is deactivated/disabled, it will keep disabling or it will activate/enable again?

[2019-10-03 05:39] yanoty3d commented on #144
That is exactly the problem I have and I have no idea why. On the other hand, Input.GetAxis("HTC_VIU_UnityAxis4") works fine with Oculus Go.

[2019-10-03 06:29] chengnay commented on #144
Input.GetAxis("HTC_VIU_UnityAxis4") is for pinkycurl and ringcurl, these values are not assigned in OculusVRModule.cs.
Do you think these values are correct?

[2019-10-03 08:23] yanoty3d commented on #144
I tested HTC_VIU_UnityAxis4 with my Oculus GO and it is working. Moveover, in Update_R_OculusTouc function in UnityEngineVRModule.cs,

`
           var stickX = GetUnityAxis(4);
            var stickY = GetUnityAxis(5);
`
and
`
            currState.SetAxisValue(VRModuleRawAxis.TouchpadX, stickX);
            currState.SetAxisValue(VRModuleRawAxis.TouchpadY, -stickY);
`
so, it seems that axis 4, 5

[2019-10-03 08:35] chengnay commented on #144
I think I found the root cause.
Please try below method for temporary fix.
Change GetControllerState to GetControllerState4.
var ctrlState = OVRPlugin.GetControllerState4((uint)OVRPlugin.Controller.RTrackedRemote);

Add below lines for OVRPlugin.Node.HandRight,
currState.SetAxisValue(VRModuleRawAxis.TouchpadX, ctrlState.RTouchpad.x);
currState.SetAxisValue(VRModuleRawAxis.TouchpadY, ctrlState.RTou

[2019-10-03 09:00] yanoty3d commented on #144
Seems to be working well! Many thanks!

[2019-10-03 09:00] #144 closed

[2019-10-03 10:37] chengnay commented on #142
@wirelessdreamer Which button you use for moveButton?
For B button, it should be ControllerButton.Menu.

[2019-10-03 17:04] rikkuporta commented on #145
No, after I manually activate it, it stays activated
This also happens in the example 04.Teleport.
I am referring to the ViveRig prefab

![image](https://user-images.githubusercontent.com/3002584/66148206-ab574800-e610-11e9-88ed-8017fc167e24.png)

[2019-10-04 02:30] #143 closed

[2019-10-04 02:43] chengnay commented on #145
@rikkuporta This is not an issue.
The actual camera is activated on Eye Both, so under Camera GameObject's Camera will be disabled.

[2019-10-04 16:14] rikkuporta commented on #145
You are right, that is indeed the case. Thanks

[2019-10-04 16:14] #145 closed

[2019-10-07 18:48] unoctium1 opened #146 "Recommended Settings for Oculus Android throw exceptions in Unity 2019.2"
Console shows:

[code]

Currently using Unity 2019.2.8 and VIU from develop at [commit 26aae1fd0d240dfbb3737c8231ab2fb478269c04](https://github.com/ViveSoftware/ViveInputUtility-Unity/commit/26aae1fd0d240dfbb3737c8231ab2fb478269c04)

I'm pretty sure this is due to unity replacing the "blend weights" property with a "skin weights" property.

[2019-10-07 21:54] unoctium1 commented on #146
Fixed in #147

[2019-10-09 04:35] wirelessdreamer commented on #128
Thank, i've been using an approach like this for a while, and its been working great.

[2019-10-09 04:35] #128 closed

[2019-10-09 04:38] wirelessdreamer opened #148 "SendMessage cannot be called during Awake, CheckConsistency, or OnValidate spam"
![image](https://user-images.githubusercontent.com/140221/66452049-00d68f00-ea2d-11e9-9992-560de47267e6.png)

I've been seeing page after page of these warnings in multiple projects for a while. any idea where they come from?

[2019-10-12 05:52] chengnay commented on #148
@wirelessdreamer Which version of Unity Editor are you using?

[2019-10-12 13:34] wirelessdreamer commented on #148
2019.2.7.f2

[2019-10-12 18:50] chengnay commented on #148
@wirelessdreamer I might need additional information,
Which platform you are targeting? PC?
Do you see these warning messages in VIU example scene?
Which plugin SDKs you have imported into your project?
Could you provide a sample project that will spam these messages for debugging?

[2019-10-14 22:37] dpggit opened #149 "When i click an UI button in Unity shutsdown OpenVR and the application"
I use Unity 2018.3 and the last viveinpututility in the unity asset store but just clicking a button shuts down opevr, i receive that message in the Unity console. I am using steamvr and i moved the right and left gameobjects with the component vive role setters to the left and right hands, but somehow the click makes openvr shutdown

[2019-10-15 06:24] chengnay commented on #149
@dpggit Could you provide more detailed information (step by step or screenshots)? or a sample project that can reproduce this error?

[2019-10-15 12:48] dpggit commented on #149
I move each object with the component "vive role setters" inside each the steamvr hand and delete the rest, then i press a button with a onclick event and then application stops and i receive the openvr shutdown message in unity console

[2019-10-15 16:22] dpggit commented on #149
If i disable the script "canvas raycast target" application doesnt close but

[2019-10-15 16:51] dpggit commented on #149
I didnt want to close this issue

[2019-10-15 16:52] dpggit opened #150 "OpenvR shutdown"
I create this issue again cause last one was closed dont know how when tried to cancel a message
I use Unity 2018.3 and the last viveinpututility in the unity asset store but just clicking a button shuts down opevr, i receive that message in the Unity console. I am using steamvr and i moved the right and left gameobjects with the component vive role setters to the left and right hands, but somehow

[2019-10-15 18:16] dpggit commented on #150
I got to solve it, i had a script duplicated in another gameobject

[2019-10-15 18:16] #150 closed

[2019-10-16 02:20] chengnay commented on #149
@dpggit For example by taking the Simple Sample scene from SteamVR plugin,
I will add "vive role setters" to controller left and right? Is that correct?
![image](https://user-images.githubusercontent.com/33050705/66882842-7975b680-effe-11e9-82ba-03cf26701bc1.png)

Your canvas, can I refer to Sphere which is in this scene?
And add "canvas raycast target" to Sphere?

[2019-10-16 02:24] chengnay opened #151 "VIU v1.10.5 is not compatible with SteamVR Plugin v2.4.5"
Currently, VIU "Apply VIU Action Set" button in recommended setting is not functioning properly with latest SteamVR Plugin.

[2019-10-16 02:38] #146 closed

[2019-10-16 08:19] chengnay commented on #151
This issue is fixed and will update in [GitHub](https://github.com/ViveSoftware/ViveInputUtility-Unity) and Asset Store soon.

[2019-10-16 11:55] dpggit commented on #149
I have finally solved , i had the vive eventsystem script added in other object, i had it duplicated

[2019-10-17 01:51] chengnay commented on #149
I will close this issue, if you encounter issue, please let me know, thanks!

[2019-10-17 01:51] #149 closed

[2019-10-18 13:36] skelder opened #152 "GetAngularVelocity does not work"
VivePose.GetAngularVelocity returns 0,0,0 vector3.
Is there any specific way it should be accessed?

[2019-10-21 01:36] chengnay commented on #152
@skelder Which device you are using?
Could you provide more detailed information?
For which platform(PC, Android, Oculus or OpenVR devices), any other SDKs(versions) imported to your project and which version of VIU?

[2019-10-21 05:26] skelder commented on #152
Sorry for lack of information

Devices used for testing: Vive Pro with 2 vive controllers
OS: windows PC
Additional SDK: oculus integration due to the fact that I have to ship this to oculus quest in the end
And No steamVR if its important
VIU version : 1.10.4.0

[2019-10-21 05:53] skelder commented on #152
I tested with newest version 1.10.6 as well but it just kept on reporting 0 vector
No matter where I checked on Update or FixedUpdate

[2019-10-21 05:54] chengnay commented on #152
@skelder What did you check in VIU Settings?
I don't think Vive Pro works with Oculus Integration Plugin.

[2019-10-21 13:32] skelder commented on #152
Great now it seems to work! Thanks a lot.

Was there any specific reason to not include the angular velocity in those files in the latest release or was it just a omission during the update?

[2019-10-21 13:48] skelder commented on #152
Also this is not really related to the problem, but I was curious about the difference between the Getvelocity and the GetVelocityEx.

I could not find the documentations about it and looking at the code just confused me even further.

What is the exact difference between them?

[2019-10-21 17:08] dpggit opened #153 "How can disable Vive input utility in Unity"
I have Unity 2018 and Vive input utility window is all the time popping up and slows a lot the computer, its like a virus, how can i disable it?

[2019-10-22 01:45] chengnay commented on #153
@dpggit Are you referring to the VIU window is the recommended settings window (please see the below image)?
![image](https://user-images.githubusercontent.com/33050705/67254631-af101900-f4b0-11e9-88ce-be49c137b2a6.png)

[2019-10-22 01:51] chengnay commented on #79
@JeffBail @castana1962 The latest VIU (v1.10.6) from Asset Store supports Knuckles EV3 and Index controller. Let me know if you are still having issue.

[2019-10-22 01:51] #79 closed

[2019-10-22 02:43] chengnay commented on #152
We didn't notice that Unity provides angular velocity API in Unity 2017.2 and newer version.

API ending with Ex is a generic API which can use for TrackerRole.
For example,
VivePose.GetAngularVelocity(TrackerRole.Tracker1), this will have compile error
But,
VivePose.GetAngularVelocityEx(TrackerRole.Tracker1) will work

[2019-10-22 03:44] skelder commented on #152
Thanks a lot!

[2019-10-22 03:44] #152 closed

[2019-10-22 12:27] dpggit commented on #153
Yes, that one

[2019-10-22 13:41] dpggit opened #154 "Vive input utility make all my actions not work anymore"
I had all the actions working and after updating to last version in Unity all my actions dont work anymore. I can see them in vr input but dont work anymore

[2019-10-22 14:45] dpggit commented on #154
Found the reason, i see the bindings were deleted, i had to make them again

[2019-10-23 02:14] chengnay commented on #153
@dpggit This window is recommended settings, there are 2 options to stop this window from popping up,
1. Click Accept All
2. Click Ignore All
I believe if there is NEW recommended settings, this window will pop up again.

[2019-10-23 03:07] chengnay commented on #154
@dpggit bindings deleted? By who?

[2019-10-23 14:45] dpggit commented on #153
I clicked in Accept all and keeps appearing

[2019-10-23 14:46] dpggit commented on #154
By Vive input when i updated

[2019-10-24 01:54] chengnay commented on #154
@dpggit Do you have any reproduce steps to share?
Do you think this is an issue or bug?

[2019-10-24 01:55] chengnay commented on #153
@dpggit Does it keep appearing with nothing in the list?
Or which item keeps appearing?
Please take a screenshot for me, thanks!

[2019-10-24 13:35] dpggit commented on #154
I just updated to last version and my actions stopped working, and i saw they were unbinded

[2019-10-24 13:49] dpggit commented on #153
Keeps appearing with the option "Apply VIU action set".
I just have OpenVR added in VR options
I use 2018.3.13f1
I target Windows standalone
Dont know what you mean by Recommended settings, i show you the image of the window
![imagen](https://user-images.githubusercontent.com/10148361/67491897-df54e480-f675-11e9-9bd9-32c84458151b.png)

[2019-10-24 18:51] dpggit commented on #154
I have chosen ignore all and now some actions dont work

[2019-10-24 20:41] dpggit commented on #154
The only action which works so far is when i click the touchpad, the new action system is really a nightmare, i am having TONS of problems with this system

[2019-10-24 21:00] dpggit commented on #154
I reimported viu again and deleted the bindings again, this is a disaster

[2019-10-24 22:28] dpggit commented on #154
I see the GetStateDown and GetStateUp dont work

[2019-10-25 01:15] chengnay commented on #153
@dpggit Which version of SteamVR Plugin you have imported?
And, what is your version of VIU?

[2019-10-25 01:18] chengnay commented on #154
@dpggit Did you upgrade to the latest version of SteamVR Plugin?
I think this issue is related to the VIU's recommended settings window keeps popping up.

[2019-10-25 02:07] dpggit commented on #154
No, i use 2.0.1 as i had a lot of problems with other versions

[2019-10-25 02:08] dpggit commented on #153
Steamvr 2.0.1 and VIU 1.10.6

[2019-10-25 02:30] chengnay commented on #153
I couldn't reproduce your issue.
After I click on "Ignore All", it will be added to ignore list,
![image](https://user-images.githubusercontent.com/33050705/67538659-58097e80-f712-11e9-8e1d-272adc2ca788.png)
It will only show up again if you remove it from the list.
Are you able to share your project or created a sample project that can reproduce this issue?

[2019-10-25 02:35] chengnay commented on #154
VIU will not remove any bindings, please provide a reproduce steps or share a sample project that can reproduce the issue that you mentioned, thanks!

[2019-10-25 11:27] dpggit commented on #153
If i select ignore all they dont appear again but some actions stop working, if i select accept all the window appears again

[2019-10-25 14:01] dpggit commented on #154
Yes, VIU will remove the bindings, i have made a video, if you tell me a email i can send it to you

[2019-10-25 20:56] dpggit commented on #154
Just removed VIU and GetStateDown and GetStateUp started working again, you have serious problems with this app

[2019-10-26 09:01] chengnay commented on #154
@dpggit Please email to me at chengnan_yang@htc.com

[2019-10-26 09:19] chengnay commented on #153
Could you provide a sample project that can reproduce the issue? I am not able to reproduce on my PC with Unity 2018.3.13f1 + VIU v1.10.6 + SteamVR Plugin 2.0.1.

[2019-10-26 13:15] dpggit commented on #154
i have already sent you the video

[2019-10-26 13:22] dpggit commented on #153
Cannot send a sample of the project, and it is too big to send anyways

[2019-10-26 16:13] dpggit opened #155 "SteamVR GetStateDown and GetStateUp stop working when install VIU"
After installing in Unity 2018.3.13f1 and using Steam VR 2.0.1 and VIU 1.10.6 SteamVR GetStateDown and GetStateUp stop working

[2019-10-27 15:44] chengnay commented on #154
@dpggit After a quick look at your video, first question is that you basically did not delete the right folder for VIU, HTC.UnityPlugin is the root folder for VIU. Could you try removing VIU cleanly and try again? I suggest It is better to removing htc_viu action set and re-adding with latest VIU.

[2019-10-28 02:16] chengnay commented on #155
@dpggit We are aware of this issue and please use GetState() instead. Sorry for the inconvenience.

[2019-10-28 03:54] chengnay commented on #154
Here is a [post](https://medium.com/@sarthakghosh/a-complete-guide-to-the-steamvr-2-0-input-system-in-unity-380e3b1b3311) talking about how to use the newer version of SteamVR Plugin,
probably you can try to upgrade your project to a newer version of SteamVR Plugin.

And, I will try to fix the GetStateUp and GetStateDown issue based on newer version of SteamVR Plugin.

[2019-10-28 15:54] dpggit opened #156 "SteamVR 2.4.5 actions dont work with VIU"
I have installed SteamVR 2.4.5 and now VIU dont trigger anything in the UI. With SteanVR 2.0.1 i could interact with the different IU elements but now i cant even trigger a button

[2019-10-28 19:16] dpggit commented on #156
I see if (!RectTransformUtility.RectangleContainsScreenPoint(graphic.rectTransform, screenCenterPoint, eventCamera)) { continue; } is always false in Raycast method in CanvasRaycastMethod script

[2019-10-29 08:42] lihaiyang-xx commented on #156
I have the same problem when upgrate to steamvr 2.4.5

[2019-10-29 16:13] CodingJar opened #157 "Input Does Not Work in Steam Release"
I've been using VIU for close to a year now.  Yesterday I went to update the game.  I tested everything and released as usual.  Once on Steam, I launched the game and the input doesn't work.  I launch my game via executable in the Unity build directory and everything works.  It's almost like there's some kind of Steam change that is intercepting the Vive wand inputs when run through Steam.  Any id

[2019-10-30 02:02] chengnay commented on #156
@dpggit @lihaiyang-xx On VIU's example scene, does it works?
Upgrading from SteamVR Plugin 2.0.1 to 2.4.5, did you follow Steam's suggestion?

Upgrading from older versions
Upgrading from anything from 2.1 - 2.3
The location of actions.json and associated bindings has changed. They will get automatically moved from project root to StreamingAssets/SteamVR/

Upgrading from version 2.0
You will need

[2019-10-30 02:52] chengnay commented on #157
@CodingJar Could you try using SteamVR Plugin v2.2.0 before Steam moves the binding files to StreamingAssets/SteamVR/ folder.

[2019-10-30 16:44] CodingJar commented on #157
Hello Chengnay,

Thanks for this tip.  I do not use the action binding system, I do not allow players to rebind keys as the interactions are simple trigger / hold dpad.  However, downgrading did indeed help for a single level.  Unfortunately there appears to be a bug in SteamVR Plugin v2.2.0 that I managed to track down.  In SteamVR.cs this needs to be applied, or the DontDestroyOnLoad never gets

[2019-10-30 16:44] #157 closed

[2019-10-31 02:06] chengnay commented on #156
@dpggit For GetStateDown and GetStateUp states, please wait for VIU next release to fix this part.
I found possible root cause that is causing those two functions not working.

[2019-10-31 14:07] wirelessdreamer opened #158 "Render Model Hook - models for Quest controllers, and index controllers can't be forced"
if override model is set to Quest or Index, no model shows up.

Unity 2019.2.7f2
VIU 1.10.6.0

[2019-10-31 21:58] dpggit opened #159 "Dropdown ui element doesnt work"
In a clean Unity 2018.3.13f1 project with just SteamVR 2.4.5 and VIU 1.10.6 dropdown doesnt work properly, i need to click several times in an option of the dropdown list so that is selected

[2019-11-01 02:18] chengnay commented on #156
@dpggit Please update your VIU from [GitHub](https://github.com/ViveSoftware/ViveInputUtility-Unity), it fixes the GetStateUp and GetStateDown not working issue.

[2019-11-01 07:36] chengnay commented on #159
@dpggit Taking VIU example scene, 1.UGUI.
There are two methods to prevent trigger with no action.
1. Adjust the drag threshold to a larger value
![image](https://user-images.githubusercontent.com/33050705/68009108-00dc4e80-fcbc-11e9-8c39-94c5b6ff9a92.png)
2.  Adjust the duration of Pose Easer to a larger value,
![image](https://user-images.githubusercontent.com/33050705/68009170-3719ce00-fcbc-11e

[2019-11-01 07:38] chengnay commented on #158
@wirelessdreamer Could you double check again for Quest model?
Index controller is missing because there is missing prefab in the controller model folder (Assets\HTC.UnityPlugin\ViveInputUtility\Resources\Models\).
But, Quest model should work fine.

[2019-11-01 13:32] qlee01 commented on #156
Same issue here, cannot make it work with an already existing project. Tried deleting everything, reinstall SteamVR and HTC.UnityPlugin, but the actions don't work in UGUI demo. UI elements are highlighted, but click events are not registered. In another project it seems to work, both on SteamVR 2.4.5.

[2019-11-01 22:49] dpggit commented on #159
It works thanks

[2019-11-02 17:37] dpggit commented on #154
I have installed the 2.4.5 steamvr and deleted everythin in htc vive folder related to VIU, not just the ViveInputUtility folder, and keeps deleting my bindings

[2019-11-03 16:15] brunocoimbrar commented on #139
@chengnay in Unity 2019 they added the new Version Defines, which solves the multi SDK dependencies issue. It could be an opt-in feature by having a button to generate the ASMDEFs in the Preferences menu.

I can do that myself and do a pull request, but wanted to first check if this would be an acceptable approach for you, as it will add an extra maintenance layer.

[2019-11-03 21:15] brunocoimbrar commented on #139
Actually Version Defines were not needed as the scripting defines symbols still work with ASMDEF, but due some cross references between VRModule and ViveInputUtility folders it requires assembly definition references to work properly, which is only available on 2019.2.

[2019-11-03 21:36] dpggit commented on #159
It works but i have the problem Dropdown jitters as i move the pointer on the dropdown, how can i fix it?

[2019-11-03 21:40] dpggit commented on #159
I found how, just set scroll type to none

[2019-11-04 02:01] chengnay commented on #156
@qlee01 Great to hear that, cheers!

[2019-11-04 02:13] chengnay commented on #139
Thanks for your information, I will take a look at it.

[2019-11-04 02:15] chengnay commented on #154
@dpggit Could you record a video how your bindings are deleted?

[2019-11-04 17:31] dpggit commented on #154
i already sent you a video showing how bindings are deleted, fix it if you want

[2019-11-05 02:23] chengnay commented on #154
@dpggit From your previous video, what I see is that you are adding your custom bindings to default action set which belongs to SteamVR and not htc_viu, I guess it should be SteamVR which overrides your bindings and not VIU.
The correct way of adding your own custom bindings, you should have to create your own action set and not just adding your actions to others' action set.
I just finished writi

[2019-11-05 14:34] dpggit commented on #154
All actions belong to steamvr, not just the default ones, but what deletes the bindings its just when i install VIU. I just added the actions through the Steamvr input. Steamvr never replaced my bindings, just VIU. Bindings are persistent, they are saved, just are replaced when install VIU, i already reproduced the issue with steamvr 2.0.1 dont want to delete and recreate my bindings again for 2.4

[2019-11-06 01:59] chengnay commented on #154
Just to clarify your reproduce steps as below, correct me if I miss any steps.
1. Create new project with SteamVR Plugin v2.4.5
2. Add custom actions through SteamVR Input window then save and generate
3. Go to bindings window to bind actions
4. Import VIU from Asset Store
5. Add htc_viu action set
After 5th step, your bindings are deleted?

[2019-11-06 02:30] dpggit commented on #154
Just do what i show in the video, i never added a htc_viu action set but any action set you add has the bindings deleted, in any case the actions must be added before importing VIU

[2019-11-06 03:02] chengnay commented on #154
@dpggit Could you try launching the bindings window from SteamVR instead of using the "Open binding UI" button from SteamVR Input window?

By pressing the top-left corner on SteamVR,
![image](https://user-images.githubusercontent.com/33050705/68264557-1e2a6780-0084-11ea-9043-562a398425ce.png)
Go to Devices>Controller Settings,
Select your application under "Edit Controller Bindings",
![image](http

[2019-11-06 08:45] #159 closed

[2019-11-06 12:29] dpggit commented on #154
My application doesnt appear in the top of the list, just appears Unity application and not in the top of the list and doesnt show my bindings anyways. With latest Steamvr update now Steamvr doesnt work anymore properly and my hand devices dont work, its something wrong with Steamvr but the errors are
I get these errors :
NullReferenceException: Object reference not set to an instance of an object

[2019-11-06 23:06] dpggit opened #160 "UI elements work or not depending on the angle"
I realized UI some elements work or not depending on the angle they are seen , if the element is too high i see they stop working and the viu blue ray doesnt affect them

[2019-11-07 02:06] chengnay commented on #154
@dpggit In order to see your application at the top of the list, you need to play your scene in Unity first,
then refresh(pressing F5) under Controller Settings window. That Unity application in the list is not the same as your application that you are developing.
Your application will be same as your project name ending with XXXX[TESTING].

[2019-11-07 02:58] chengnay commented on #160
@dpggit Any screenshot or video?

[2019-11-07 17:08] dpggit commented on #160
i have sent you a video to your mail

[2019-11-08 02:43] chengnay commented on #160
@dpggit From your video, it doesn't make sense that adjust the height higher alittle abit, it will work.
Could you double check your scene whether there is a layer blocking in front of that General Settings tab?
In your scene view,
![image](https://user-images.githubusercontent.com/33050705/68445194-26191180-0214-11ea-93b2-de8f18be7752.png)
You can check the hit target, and there are 2 different c

[2019-11-08 12:33] dpggit commented on #160
That is the first i checked, also disabling other image raycast around and just leaving the button but nothing worked, i will keep looking if i missed something

[2019-11-12 13:18] JustKoTMurchik opened #161 "How to disable tracking?"
I record camera position for replay system. I need disable tracking when I show replay. How can I do this?
My platform is Oculus go.

[2019-11-12 20:47] dpggit commented on #154
Bindings can be seen again with v2.5.0

[2019-11-13 02:09] #154 closed

[2019-11-13 02:13] #153 closed

[2019-11-13 02:13] #156 closed

[2019-11-13 02:13] #155 closed

[2019-11-13 02:28] wirelessdreamer opened #162 "Controller binding demo doesn't work on quest"
the default save location on android trys to save the config file in a place that is not allowed on android. android targets (Wave, Quest) need to save the controller binding config in an appropriate place.

[2019-11-13 03:09] lawwong commented on #161
On Oculus platform, camera tracking is controlled by Unity XR engine, but you  to disable manually by using [XRDevice.DisableAutoXRCameraTracking](https://docs.unity3d.com/ScriptReference/XR.XRDevice.DisableAutoXRCameraTracking.html) API in script.

[2019-11-13 22:33] dpggit commented on #160
I am having also problems with the drag depending on the angle, when i drag a panel window ui to the left or right too much it works meanwhile i hold the drag but when i drop it and try to drag again i cant drag it again

[2019-11-14 01:17] chengnay commented on #160
Could you provide a short video? Thanks!

[2019-11-14 17:45] dpggit commented on #160
I already sent you the video. I have also problems with OnDrop method is not being called, the OnDragEnd is called but not the OnDrop sometimes

[2019-11-15 06:50] chengnay commented on #162
@wirelessdreamer What should I do to reproduce your issue?
I am not sure how to save the controller binding config on Android device.

[2019-11-15 21:34] wirelessdreamer commented on #135
I just saw this in OVRManager.cs included with the oculus utilities, and it applies to this issue.
![image](https://user-images.githubusercontent.com/140221/68977261-d911de00-07c5-11ea-9091-e15429a177d3.png)

[2019-11-15 21:42] wirelessdreamer commented on #158
yes, the model is there.

![image](https://user-images.githubusercontent.com/140221/68977624-a9170a80-07c6-11ea-9768-8f1ca486156f.png)

![image](https://user-images.githubusercontent.com/140221/68977643-b3d19f80-07c6-11ea-8033-eb0baad5924b.png)

![image](https://user-images.githubusercontent.com/140221/68977685-cfd54100-07c6-11ea-9ed1-4305fff89c45.png)

[2019-11-15 21:43] wirelessdreamer commented on #148
These warnings came from an if block for another unity version. we removed the block and they went away. Another dev on our team took care of it a few weeks ago, and I forgot about this issue.

[2019-11-15 21:43] #148 closed

[2019-11-16 23:54] dpggit commented on #160
Finally i just bought an asset in the Unity asset store called Curved UI - VR Ready Solution and vr input work perfectly, i have spent many days trying to make it work VIU without success i am spending much more time with Steamvr and VIU than making my game

[2019-11-17 03:11] chengnay commented on #158
@wirelessdreamer You are missing another model, VIUModelOculusQuestOrRiftSControllerLeft.prefab or VIUModelOculusQuestOrRiftSControllerRight.prefab. Please update from GitHub and try again. Thanks!

[2019-11-18 18:45] wirelessdreamer commented on #158
Thanks, that solved it.

[2019-11-18 18:45] #158 closed

[2019-11-20 14:52] wirelessdreamer commented on #162
set the target platform to android, build and push to a device. watch the logs in logcat. make sure you have 2 controllers active. assign a role to one of them and when you hit save, you'll see an error in log cat that the default location it try's to save the config to isn't accessable on android.

The solution is to save to https://docs.unity3d.com/ScriptReference/Application-persistentDataPath.

[2019-11-20 14:53] wirelessdreamer commented on #142
With current updated libraries and packages I'm not longer seeing this. I'm not sure what the cause was, but its not a VIU issue.

[2019-11-20 14:53] #142 closed

[2019-11-20 14:54] wirelessdreamer commented on #137
I pulled WaveVR support from the projects I am working with a while ago, and sent back the test device I was using. so I won't have any useful feedback for you on this.

[2019-11-20 14:54] #137 closed

[2019-11-21 02:47] chengnay commented on #162
@wirelessdreamer After you save the file, does it load successfully on start?
VIU's binding does not support Android, that's why we did not allow developer to check "Load Binding Config on Start".
If you tested and it works, I will fix the bug.

[2019-11-21 04:29] wirelessdreamer commented on #162
It doesn't save at all, because android doesn't have write permission to the location it try's to save to.

[2019-11-21 05:58] chengnay commented on #162
I mean using your method, it will save to that persistent data path.
Try to modify your cs file,
Assets/HTC.UnityPlugin/ViveInputUtility/Scripts/ViveRole/BindingInterface/BindingInterfaceConfigPanelController.cs,
public void SaveConfig()
{
    ViveRoleBindingsHelper.LoadBindingConfigFromRoleMap();
#if UNITY_ANDROID
    ViveRoleBindingsHelper.SaveBindingConfigToFile(Application.persistentDataPath +

[2019-11-29 01:20] 1027818327 opened #163 "Oculus Quest Problem"
The oculus quest controller model displays a white model

[2019-12-10 02:55] chengnay commented on #163
@1027818327 We are currently working on this part to align with Oculus SDK.
NOTE: You could modify the texture of the controller

[2019-12-10 07:45] nantianliao opened #164 "Wave VR Button To Trigger"
What should I do to be like this? It can be configured with multiple trigger buttons.
![Button To Trigger](https://user-images.githubusercontent.com/11886245/70505828-ed968b80-1b63-11ea-8c75-69653cc4824d.png)

[2019-12-10 10:09] chengnay commented on #164
@nantianliao To my understanding, you would like multiple buttons to perform like Trigger button? For example, trigger button can grab an object, you would also like to grab with touchpad or grip button?

[2019-12-10 10:13] nantianliao commented on #164
@chengnay Yes, What should I do about this situation?

[2019-12-10 10:54] chengnay commented on #164
You might need to modify BasicGrabbable.cs script,
For example,
[SerializeField]
private ColliderButtonEventData.InputButton m_grabButton1 = ColliderButtonEventData.InputButton.Trigger;
[SerializeField]
private ColliderButtonEventData.InputButton m_grabButton2 = ColliderButtonEventData.InputButton.PadOrStick;

Under OnColliderEventDragStart function,
if (eventData.button != m_grabButton1 && eventD

[2019-12-10 13:57] wirelessdreamer commented on #162
I made the suggested modifications, and no errors are thrown when save is clicked, but the next the the test app gets loaded, the saved bindings don't get loaded either.

[2019-12-11 01:18] nantianliao commented on #164
@chengnay Thank you for your answer. Your reply helped me to solve the problem. My requirement is not to use the trigger button to grab objects, but to use the second trigger button to interact with the UI. Now I've added a second trigger button to vive raycaster.cs to implement my requirement.

[2019-12-11 08:15] chengnay commented on #162
@wirelessdreamer By editing the same script, but under ReloadConfig function.
#if UNITY_ANDROID
            ViveRoleBindingsHelper.LoadBindingConfigFromFile(Application.persistentDataPath + "/" + VIUSettings.bindingConfigFilePath);
#else
             ViveRoleBindingsHelper.LoadBindingConfigFromFile(VIUSettings.bindingConfigFilePath);
#endif

I forgot whether the config file will load automatically

[2019-12-11 10:16] chengnay commented on #164
@nantianliao If your problem is solved, please help to close this issue, thanks!

[2019-12-11 18:51] wirelessdreamer commented on #162
with the above changes, the config never gets loaded. the reload buttons works to load the saved config. I tried the below, and a version where i removed the check for autoLoadBindingConfigOnStart, to always run it, and neither of them loaded the config.

I updated TryInitializeOnLoad to this:

        private static void TryInitializeOnLoad()
        {
            if (VIUSettings.autoLoadBindingC

[2019-12-11 19:58] wirelessdreamer commented on #162
Ignore that last one. the push didn't make it onto the device. Your suggested solution resolved all the issues. feel free to close this once they're in trunk :)

[2019-12-12 02:18] #164 closed

[2019-12-13 06:51] wojiuxuihuan opened #165 "WaveSDK___Can't Detect KeyCode.JoystickButton0 on Vive Focus"
Hi, When I build to Android Platform, it can't detect Input such as "Input.GetKey(KeyCode.JoystickButton0)",  will ViveInput.cs provide such method? Thanks

[2019-12-13 07:32] chengnay commented on #165
@wojiuxuihuan ViveInput.cs does provide following APIs,
ViveInput.GetPress
ViveInput.GetPressDown
ViveInput.GetPressUp

For example, ViveInput.GetPress(role, ControllerButton.Trigger);

[2019-12-13 07:38] wojiuxuihuan commented on #165
Thanks, But I am look for a way to detect Android Key Event, which is included in KeyCode such as KeyCode.Escape or KeyCode.JoystickButton0m, will those method works too?

[2019-12-13 07:45] chengnay commented on #165
Just curious, how you can fire KeyCode such as KeyCode.Escape or KeyCode.JoystickButton0 in Android?

[2019-12-13 07:54] wojiuxuihuan commented on #165
Because I use Pico Device, which has three buttons(Menu、Return、Apply) in HMD.

[2019-12-13 07:57] chengnay commented on #165
@wojiuxuihuan But your title says WaveSDK+Vive Focus?
Will the application run on Pico device?

[2019-12-13 08:02] wojiuxuihuan commented on #165
Yes, here the device picture:
![image](https://user-images.githubusercontent.com/13210990/70782448-fd131000-1dc1-11ea-92cf-32938e0fc048.png)

[2019-12-13 08:04] chengnay commented on #165
Yup, I saw this picture too, but I mean if without modify anything, your application built from WaveSDK can run?

[2019-12-13 08:16] wojiuxuihuan commented on #165
1.Pico Device support WaveSDK，so it works fine.
2.Pico provide SDK too, but it doesn't works fine with WaveSDK, and useless, so I thorw it away,

[2019-12-13 08:23] chengnay commented on #165
@wojiuxuihuan I look through the PVR SDK, it has its own KeyCode mapping.
public enum Pvr_KeyCode
{
    APP = 1,
    TOUCHPAD = 2,
    HOME = 3,
    VOLUMEUP = 4,
    VOLUMEDOWN = 5,
    TRIGGER = 6,
    A = 7,
    B = 8,
    X = 9,
    Y = 10,
    Left =11,
    Right = 12,
}

If it works with WaveSDK, then you might need to tweak the WaveVRModule.cs by your own to get the right key for Pico devic

[2019-12-13 09:14] wojiuxuihuan commented on #165
Thanks for your help!

[2019-12-13 09:15] chengnay commented on #165
@wojiuxuihuan I don't have device to help you out, but feel free to ask question.

[2019-12-13 10:54] wojiuxuihuan commented on #165
Here’s the keymap:
        //Input.GetKeyDown(KeyCode.Escape)--HMD Return
        //Input.GetKeyDown(KeyCode.Menu)--HMD Menu
        //KeyCode.JoystickButton0 --HMD Enter

It seems that it can recongnise Escape and Menu, but JoystickButton0 just don't work...

I also try to add <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" /> into AndroidManifest.xml as som

[2019-12-13 17:21] wirelessdreamer opened #166 "How to get play space boundry data from unity"
How do we get play space 3d location data with VIU?  Can an example scene be added to the project.

[2019-12-13 17:22] wirelessdreamer commented on #126
Resolved.

[2019-12-13 17:22] #126 closed

[2019-12-13 17:22] wirelessdreamer commented on #131
Fixed upstream in unity.

[2019-12-13 17:22] #131 closed

[2019-12-16 02:33] chengnay commented on #165
I will take a look at it when I get another device, previous device is not able to debug because the battery is completely dead.

[2019-12-16 03:01] chengnay commented on #166
Are you referring to getting chaperone data?

[2019-12-16 03:09] wirelessdreamer commented on #166
yes

[2019-12-16 03:12] chengnay commented on #166
For OpenVR, there is API for chaperone, but I am not sure about WaveVR and OculusVR.
I might need to check them out in order to add API in VIU and example scene.

[2019-12-16 04:06] wojiuxuihuan commented on #165
Here's the Log:
2019-09-11 15:07:05.017 972-1541/? I/WindowManager: sendDatatoSurfaceFligner transactId: 2001 mode : 0
2019-09-11 15:07:05.017 868-903/? E/SurfaceFlinger: Get Key code:1001
2019-09-11 15:07:05.017 868-903/? D/2DToVR: VRScene::onKeyPressed: 1001, 0, 1.
2019-09-11 15:07:05.019 8636-8636/? D/Svr_VRPlatform: dispatchKeyEvent
2019-09-11 15:07:05.019 8636-8636/? D/VRAudioManager: dispatc

[2019-12-16 08:52] chengnay commented on #165
@wojiuxuihuan It looks like that key event does not pass to Unity.
I loop through all KeyCode or even try Input.anyKeyDown and no goal.

[2019-12-16 09:53] wojiuxuihuan commented on #165
Exactly, I try it the same way before. Is there anyway that I can get nofity whenever JNI get the button event?

[2019-12-16 09:59] chengnay commented on #165
Have you ever tried using PVR SDK and build apk to try it out?
Or does PVR SDK have customer support?

I am really confused by the KeyCode printed in log which is totally different from the one we see in Unity.
KeyCode 4 for Return => KeyCode.Escape(27)
KeyCode 3 for Menu => KeyCode.Menu(319)
KeyCode 1001 for Enter => KeyCode.JoystickButton0(330)

The actual KeyCode values do not match.

[2019-12-18 07:55] wojiuxuihuan commented on #165
PVR SDK has some issue with ViveInputUtility, so we have to exclude it, and the PVR customer support told me about the Key Binding, and I try it with PVR SDK only, which works fine.
So I wonder, will VIU change the key binding? or will Android does the dirty work?
Anyway, thanks for your time：）

[2019-12-18 09:35] chengnay commented on #165
@wojiuxuihuan I just discuss internally with SW PM, he would like to know what is your purpose of getting that Enter key?
As not all AIO devices support Enter key, if it is really important for your application and development, we will evaluate and probably support in the future.

[2019-12-18 09:41] wojiuxuihuan commented on #165
Thanks！Our Customer request that the VR Device should run without the controller, because they have dozens of Pico devices running at the same time, and they might mess up the HeadSet-Controller Connection. So we have to use the HMD button instead.

[2019-12-19 07:44] chengnay commented on #165
@wojiuxuihuan WaveSDK will not support additional key binding which does not existed in Focus HMD. Currently, VIU has no plan to support PVR SDK in current roadmap.

To my understanding, it shouldn't mess up the HeadSet-Controller connection, every headset should stay connected to only that particular controller unless user makes a new connection to a new head. Could you double check with your cus